In [3]:
import pandas as pd

import numpy as np

In [4]:

real_loc = "data/real_czech.csv"
synth_loc = "data/synth_example.csv"

In [5]:
real_df = pd.read_csv(real_loc, parse_dates=['datetime'])
real_df

,Unnamed: 0,account_id,date,type,operation,amount,balance,k_symbol,client_id,age,datetime
0,149432,1,950324,CREDIT,CREDIT IN CASH,1000.0,1000.0,NaN,1,29,1995-03-24
1,157404,1,950413,CREDIT,COLLECTION FROM ANOTHER BANK,3679.0,4679.0,NaN,1,29,1995-04-13
2,158832,1,950423,CREDIT,CREDIT IN CASH,12600.0,17279.0,NaN,1,29,1995-04-23
3,162681,1,950430,CREDIT,NaN,19.2,17298.2,INTEREST CREDITED,1,29,1995-04-30
4,167083,1,950513,CREDIT,COLLECTION FROM ANOTHER BANK,3679.0,20977.2,NaN,1,29,1995-05-13
...,...,...,...,...,...,...,...,...,...,...,...
1056315,1033141,11382,981202,DEBIT,CASH WITHDRAWAL,25600.0,41114.4,NaN,13998,46,1998-12-02
1056316,1040574,11382,981210,CREDIT,COLLECTION FROM ANOTHER BANK,46248.0,87362.4,NaN,13998,46,1998-12-10
1056317,1050362,11382,981225,DEBIT,CASH WITHDRAWAL,6300.0,81062.4,NaN,13998,46,1998-12-25
1056318,1053037,11382,981231,CREDIT,NaN,311.3,81373.6,INTEREST CREDITED,13998,46,1998-12-31
1056319,1056162,11382,981231,CREDIT,NaN,301.1,81674.7,INTEREST CREDITED,13998,46,1998-12-31

In [6]:
synth_df = pd.read_csv(synth_loc, parse_dates=['datetime'])
synth_df

,amount,type,k_symbol,operation,datetime,age,account_id
0,3144.60,CREDIT,NaN,CREDIT IN CASH,1993-02-21,54,0
1,6701.08,CREDIT,NaN,CREDIT IN CASH,1993-03-10,54,0
2,2152.77,DEBIT,NaN,CASH WITHDRAWAL,1993-04-01,54,0
3,11560.14,CREDIT,NaN,CREDIT IN CASH,1993-06-01,54,0
4,74.47,CREDIT,INTEREST CREDITED,NaN,1993-08-31,54,0
...,...,...,...,...,...,...,...
3995,361.59,DEBIT,,REMITTANCE TO ANOTHER BANK,1993-10-09,40,49
3996,4150.28,CREDIT,NaN,CREDIT IN CASH,1993-10-11,40,49
3997,1370.64,DEBIT,HOUSEHOLD,REMITTANCE TO ANOTHER BANK,1993-10-12,40,49
3998,699.38,DEBIT,,REMITTANCE TO ANOTHER BANK,1993-10-14,40,49
3999,9.89,DEBIT,PAYMENT ON STATEMENT,CASH WITHDRAWAL,1993-10-31,40,49

In [7]:
synth_df.columns

Index(['amount', 'type', 'k_symbol', 'operation', 'datetime', 'age',
       'account_id'],
      dtype='object')

In [9]:
use_cols = [ 'amount', 'type', 'k_symbol',
       'operation', 'datetime', 'age','account_id']
use_cols

['amount', 'type', 'k_symbol', 'operation', 'datetime', 'age', 'account_id']

# A few random real accounts

In [12]:
n_show = 10
df = real_df[use_cols]

choosen_accts = np.random.choice(df["account_id"].unique(), size=n_show, replace=False)

In [13]:
for acct in choosen_accts:
    
    print(f"Account id:", acct)
    
    with pd.option_context('display.max_colwidth', None, "display.max_rows", None, "display.max_columns", None):
        display(df[df["account_id"]==acct])
    
    print("\n\n")

Account id: 2757

,amount,type,k_symbol,operation,datetime,age,account_id
601455,300.0,CREDIT,NaN,CREDIT IN CASH,1996-05-14,38,2757
601456,3116.0,CREDIT,NaN,COLLECTION FROM ANOTHER BANK,1996-06-10,38,2757
601457,3116.0,CREDIT,NaN,COLLECTION FROM ANOTHER BANK,1996-07-10,38,2757
601458,3116.0,CREDIT,NaN,COLLECTION FROM ANOTHER BANK,1996-08-10,38,2757
601459,3116.0,CREDIT,NaN,COLLECTION FROM ANOTHER BANK,1996-09-10,38,2757
601460,3116.0,CREDIT,NaN,COLLECTION FROM ANOTHER BANK,1996-10-10,38,2757
601461,2077.0,DEBIT,NaN,REMITTANCE TO ANOTHER BANK,1996-10-10,38,2757
601462,300.0,DEBIT,NaN,CASH WITHDRAWAL,1996-10-15,38,2757
601463,14.6,DEBIT,PAYMENT ON STATEMENT,CASH WITHDRAWAL,1996-10-31,38,2757
601464,41.5,CREDIT,INTEREST CREDITED,NaN,1996-10-31,38,2757
601465,690.0,DEBIT,NaN,CASH WITHDRAWAL,1996-11-04,38,2757
601466,3116.0,CREDIT,NaN,COLLECTION FROM ANOTHER BANK,1996-11-10,38,2757
601467,2077.0,DEBIT,NaN,REMITTANCE TO ANOTHER BANK,1996-11-10,38,2757
601468,14.6,DEBIT,PAYMENT ON STATEMENT,CASH WITHDRAWAL,1996-11-30,38,2757
601469,57.4,CREDIT,INTEREST CREDITED,NaN,1996-11-30,38,2757
601470,1020.0,DEBIT,NaN,CASH WITHDRAWAL,1996-12-08,38,2757
601471,2077.0,DEBIT,NaN,REMITTANCE TO ANOTHER BANK,1996-12-10,38,2757
601472,3116.0,CREDIT,NaN,COLLECTION FROM ANOTHER BANK,1996-12-10,38,2757
601473,210.0,DEBIT,NaN,CASH WITHDRAWAL,1996-12-14,38,2757
601474,14.6,DEBIT,PAYMENT ON STATEMENT,CASH WITHDRAWAL,1996-12-31,38,2757
601475,57.6,CREDIT,INTEREST CREDITED,NaN,1996-12-31,38,2757
601476,720.0,DEBIT,NaN,CASH WITHDRAWAL,1997-01-02,38,2757
601477,390.0,DEBIT,NaN,CASH WITHDRAWAL,1997-01-04,38,2757
601478,360.0,DEBIT,NaN,CASH WITHDRAWAL,1997-01-05,38,2757
601479,3116.0,CREDIT,NaN,COLLECTION FROM ANOTHER BANK,1997-01-10,38,2757
601480,2077.0,DEBIT,NaN,REMITTANCE TO ANOTHER BANK,1997-01-10,38,2757
601481,810.0,DEBIT,NaN,CASH WITHDRAWAL,1997-01-11,38,2757
601482,14.6,DEBIT,PAYMENT ON STATEMENT,CASH WITHDRAWAL,1997-01-31,38,2757
601483,53.0,CREDIT,INTEREST CREDITED,NaN,1997-01-31,38,2757
601484,3116.0,CREDIT,NaN,COLLECTION FROM ANOTHER BANK,1997-02-10,38,2757
601485,2077.0,DEBIT,NaN,REMITTANCE TO ANOTHER BANK,1997-02-10,38,2757
601486,14.6,DEBIT,PAYMENT ON STATEMENT,CASH WITHDRAWAL,1997-02-28,38,2757
601487,55.3,CREDIT,INTEREST CREDITED,NaN,1997-02-28,38,2757
601488,2077.0,DEBIT,NaN,REMITTANCE TO ANOTHER BANK,1997-03-10,38,2757
601489,3116.0,CREDIT,NaN,COLLECTION FROM ANOTHER BANK,1997-03-10,38,2757
601490,14.6,DEBIT,PAYMENT ON STATEMENT,CASH WITHDRAWAL,1997-03-31,38,2757
601491,65.9,CREDIT,INTEREST CREDITED,NaN,1997-03-31,38,2757
601492,3116.0,CREDIT,NaN,COLLECTION FROM ANOTHER BANK,1997-04-10,38,2757
601493,2077.0,DEBIT,NaN,REMITTANCE TO ANOTHER BANK,1997-04-10,38,2757
601494,630.0,DEBIT,NaN,CASH WITHDRAWAL,1997-04-17,38,2757
601495,14.6,DEBIT,PAYMENT ON STATEMENT,CASH WITHDRAWAL,1997-04-30,38,2757
601496,63.2,CREDIT,INTEREST CREDITED,NaN,1997-04-30,38,2757
601497,2077.0,DEBIT,NaN,REMITTANCE TO ANOTHER BANK,1997-05-10,38,2757
601498,3116.0,CREDIT,NaN,COLLECTION FROM ANOTHER BANK,1997-05-10,38,2757
601499,14.6,DEBIT,PAYMENT ON STATEMENT,CASH WITHDRAWAL,1997-05-31,38,2757
601500,72.3,CREDIT,INTEREST CREDITED,NaN,1997-05-31,38,2757
601501,750.0,DEBIT,NaN,CASH WITHDRAWAL,1997-06-10,38,2757
601502,2077.0,DEBIT,NaN,REMITTANCE TO ANOTHER BANK,1997-06-10,38,2757
601503,3116.0,CREDIT,NaN,COLLECTION FROM ANOTHER BANK,1997-06-10,38,2757
601504,3780.0,DEBIT,NaN,CASH WITHDRAWAL,1997-06-25,38,2757
601505,14.6,DEBIT,PAYMENT ON STATEMENT,CASH WITHDRAWAL,1997-06-30,38,2757
601506,71.5,CREDIT,INTEREST CREDITED,NaN,1997-06-30,38,2757
601507,3116.0,CREDIT,NaN,COLLECTION FROM ANOTHER BANK,1997-07-10,38,2757
601508,2077.0,DEBIT,NaN,REMITTANCE TO ANOTHER BANK,1997-07-10,38,2757
601509,14.6,DEBIT,PAYMENT ON STATEMENT,CASH WITHDRAWAL,1997-07-31,38,2757
601510,56.6,CREDIT,INTEREST CREDITED,NaN,1997-07-31,38,2757
601511,3116.0,CREDIT,NaN,COLLECTION FROM ANOTHER BANK,1997-08-10,38,2757
601512,2077.0,DEBIT,NaN,REMITTANCE TO ANOTHER BANK,1997-08-10,38,2757
601513,14.6,DEBIT,PAYMENT ON STATEMENT,CASH WITHDRAWAL,1997-08-31,38,2757
601514,61.1,CREDIT,INTEREST CREDITED,NaN,1997-08-31,38,2757
601515,2077.0,DEBIT,NaN,REMITTANCE TO ANOTHER BANK,1997-09-10,38,2757
601516,3116.0,CREDIT,NaN,COLLECTION FROM ANOTHER BANK,1997-09-10,38,2757
601517,14.6,DEBIT,PAYMENT ON STATEMENT,CASH WITHDRAWAL,1997-09-30,38,2757
601518,71.4,CREDIT,INTEREST CREDITED,NaN,1997-09-30,38,2757
601519,3116.0,CREDIT,NaN,COLLECTION FROM ANOTHER BANK,1997-10-10,38,2757
601520,2077.0,DEBIT,NaN,REMITTANCE TO ANOTHER BANK,1997-10-10,38,2757
601521,14.6,DEBIT,PAYMENT ON STATEMENT,CASH WITHDRAWAL,1997-10-31,38,2757
601522,76.0,CREDIT,INTEREST CREDITED,NaN,1997-10-31,38,2757
601523,210.0,DEBIT,NaN,CASH WITHDRAWAL,1997-11-01,38,2757
601524,3116.0,CREDIT,NaN,COLLECTION FROM ANOTHER BANK,1997-11-10,38,2757
601525,2077.0,DEBIT,NaN,REMITTANCE TO ANOTHER BANK,1997-11-10,38,2757
601526,14.6,DEBIT,PAYMENT ON STATEMENT,CASH WITHDRAWAL,1997-11-30,38,2757
601527,79.9,CREDIT,INTEREST CREDITED,NaN,1997-11-30,38,2757
601528,3116.0,CREDIT,NaN,COLLECTION FROM ANOTHER BANK,1997-12-10,38,2757
601529,2077.0,DEBIT,NaN,REMITTANCE TO ANOTHER BANK,1997-12-10,38,2757
601530,540.0,DEBIT,NaN,CASH WITHDRAWAL,1997-12-18,38,2757
601531,14.6,DEBIT,PAYMENT ON STATEMENT,CASH WITHDRAWAL,1997-12-31,38,2757
601532,79.7,CREDIT,INTEREST CREDITED,NaN,1997-12-31,38,2757
601533,570.0,DEBIT,NaN,CASH WITHDRAWAL,1998-01-07,38,2757
601534,690.0,DEBIT,NaN,CASH WITHDRAWAL,1998-01-09,38,2757
601535,2077.0,DEBIT,NaN,REMITTANCE TO ANOTHER BANK,1998-01-10,38,2757
601536,3116.0,CREDIT,NaN,COLLECTION FROM ANOTHER BANK,1998-01-10,38,2757
601537,810.0,DEBIT,NaN,CASH WITHDRAWAL,1998-01-16,38,2757
601538,180.0,DEBIT,NaN,CASH WITHDRAWAL,1998-01-24,38,2757
601539,180.0,DEBIT,NaN,CASH WITHDRAWAL,1998-01-25,38,2757
601540,510.0,DEBIT,NaN,CASH WITHDRAWAL,1998-01-29,38,2757
601541,14.6,DEBIT,PAYMENT ON STATEMENT,CASH WITHDRAWAL,1998-01-31,38,2757
601542,74.6,CREDIT,INTEREST CREDITED,NaN,1998-01-31,38,2757
601543,1320.0,DEBIT,NaN,CASH WITHDRAWAL,1998-02-08,38,2757
601544,2077.0,DEBIT,NaN,REMITTANCE TO ANOTHER BANK,1998-02-10,38,2757
601545,3116.0,CREDIT,NaN,COLLECTION FROM ANOTHER BANK,1998-02-10,38,2757
601546,14.6,DEBIT,PAYMENT ON STATEMENT,CASH WITHDRAWAL,1998-02-28,38,2757
601547,69.2,CREDIT,INTEREST CREDITED,NaN,1998-02-28,38,2757
601548,2077.0,DEBIT,NaN,REMITTANCE TO ANOTHER BANK,1998-03-10,38,2757
601549,3116.0,CREDIT,NaN,COLLECTION FROM ANOTHER BANK,1998-03-10,38,2757
601550,14.6,DEBIT,PAYMENT ON STATEMENT,CASH WITHDRAWAL,1998-03-31,38,2757
601551,78.0,CREDIT,INTEREST CREDITED,NaN,1998-03-31,38,2757
601552,2077.0,DEBIT,NaN,REMITTANCE TO ANOTHER BANK,1998-04-10,38,2757
601553,3116.0,CREDIT,NaN,COLLECTION FROM ANOTHER BANK,1998-04-10,38,2757
601554,1230.0,DEBIT,NaN,CASH WITHDRAWAL,1998-04-18,38,2757
601555,14.6,DEBIT,PAYMENT ON STATEMENT,CASH WITHDRAWAL,1998-04-30,38,2757
601556,74.4,CREDIT,INTEREST CREDITED,NaN,1998-04-30,38,2757
601557,3116.0,CREDIT,NaN,COLLECTION FROM ANOTHER BANK,1998-05-10,38,2757
601558,2077.0,DEBIT,NaN,REMITTANCE TO ANOTHER BANK,1998-05-10,38,2757
601559,14.6,DEBIT,PAYMENT ON STATEMENT,CASH WITHDRAWAL,1998-05-31,38,2757
601560,82.0,CREDIT,INTEREST CREDITED,NaN,1998-05-31,38,2757
601561,3116.0,CREDIT,NaN,COLLECTION FROM ANOTHER BANK,1998-06-10,38,2757
601562,2077.0,DEBIT,NaN,REMITTANCE TO ANOTHER BANK,1998-06-10,38,2757
601563,3240.0,DEBIT,NaN,CASH WITHDRAWAL,1998-06-19,38,2757
601564,480.0,DEBIT,NaN,CASH WITHDRAWAL,1998-06-21,38,2757
601565,14.6,DEBIT,PAYMENT ON STATEMENT,CASH WITHDRAWAL,1998-06-30,38,2757
601566,77.2,CREDIT,INTEREST CREDITED,NaN,1998-06-30,38,2757
601567,3116.0,CREDIT,NaN,COLLECTION FROM ANOTHER BANK,1998-07-10,38,2757
601568,2077.0,DEBIT,NaN,REMITTANCE TO ANOTHER BANK,1998-07-10,38,2757
601569,14.6,DEBIT,PAYMENT ON STATEMENT,CASH WITHDRAWAL,1998-07-31,38,2757
601570,69.8,CREDIT,INTEREST CREDITED,NaN,1998-07-31,38,2757
601571,2077.0,DEBIT,NaN,REMITTANCE TO ANOTHER BANK,1998-08-10,38,2757
601572,3116.0,CREDIT,NaN,COLLECTION FROM ANOTHER BANK,1998-08-10,38,2757
601573,14.6,DEBIT,PAYMENT ON STATEMENT,CASH WITHDRAWAL,1998-08-31,38,2757
601574,74.3,CREDIT,INTEREST CREDITED,NaN,1998-08-31,38,2757
601575,2077.0,DEBIT,NaN,REMITTANCE TO ANOTHER BANK,1998-09-10,38,2757
601576,3116.0,CREDIT,NaN,COLLECTION FROM ANOTHER BANK,1998-09-10,38,2757
601577,720.0,DEBIT,NaN,CASH WITHDRAWAL,1998-09-18,38,2757
601578,14.6,DEBIT,PAYMENT ON STATEMENT,CASH WITHDRAWAL,1998-09-30,38,2757
601579,77.6,CREDIT,INTEREST CREDITED,NaN,1998-09-30,38,2757
601580,2077.0,DEBIT,NaN,REMITTANCE TO ANOTHER BANK,1998-10-10,38,2757
601581,3116.0,CREDIT,NaN,COLLECTION FROM ANOTHER BANK,1998-10-10,38,2757
601582,14.6,DEBIT,PAYMENT ON STATEMENT,CASH WITHDRAWAL,1998-10-31,38,2757
601583,80.5,CREDIT,INTEREST CREDITED,NaN,1998-10-31,38,2757
601584,2077.0,DEBIT,NaN,REMITTANCE TO ANOTHER BANK,1998-11-10,38,2757
601585,3116.0,CREDIT,NaN,COLLECTION FROM ANOTHER BANK,1998-11-10,38,2757
601586,1050.0,DEBIT,NaN,CASH WITHDRAWAL,1998-11-17,38,2757
601587,1260.0,DEBIT,NaN,CASH WITHDRAWAL,1998-11-29,38,2757
601588,14.6,DEBIT,PAYMENT ON STATEMENT,CASH WITHDRAWAL,1998-11-30,38,2757
601589,82.6,CREDIT,INTEREST CREDITED,NaN,1998-11-30,38,2757
601590,480.0,DEBIT,NaN,CASH WITHDRAWAL,1998-12-05,38,2757
601591,3116.0,CREDIT,NaN,COLLECTION FROM ANOTHER BANK,1998-12-10,38,2757
601592,2077.0,DEBIT,NaN,REMITTANCE TO ANOTHER BANK,1998-12-10,38,2757
601593,570.0,DEBIT,NaN,CASH WITHDRAWAL,1998-12-13,38,2757
601594,77.2,CREDIT,INTEREST CREDITED,NaN,1998-12-31,38,2757

Account id: 290

,amount,type,k_symbol,operation,datetime,age,account_id
63994,300.0,CREDIT,NaN,CREDIT IN CASH,1993-12-02,59,290
63995,10800.0,CREDIT,NaN,CREDIT IN CASH,1994-01-01,59,290
63996,46075.0,CREDIT,NaN,CREDIT IN CASH,1994-01-24,59,290
63997,59.5,CREDIT,INTEREST CREDITED,NaN,1994-01-31,59,290
63998,14700.0,DEBIT,NaN,CASH WITHDRAWAL,1994-01-31,59,290
63999,17162.0,CREDIT,NaN,CREDIT IN CASH,1994-02-07,59,290
64000,15377.0,CREDIT,NaN,CREDIT IN CASH,1994-02-16,59,290
64001,240.2,CREDIT,INTEREST CREDITED,NaN,1994-02-28,59,290
64002,23800.0,DEBIT,NaN,CASH WITHDRAWAL,1994-03-02,59,290
64003,312.8,CREDIT,INTEREST CREDITED,NaN,1994-03-31,59,290
64004,13000.0,DEBIT,NaN,CASH WITHDRAWAL,1994-04-01,59,290
64005,47749.0,CREDIT,NaN,CREDIT IN CASH,1994-04-23,59,290
64006,325.6,CREDIT,INTEREST CREDITED,NaN,1994-04-30,59,290
64007,32100.0,DEBIT,NaN,CASH WITHDRAWAL,1994-05-01,59,290
64008,22600.0,CREDIT,NaN,CREDIT IN CASH,1994-05-03,59,290
64009,1700.0,DEBIT,NaN,CASH WITHDRAWAL,1994-05-05,59,290
64010,3274.0,DEBIT,,REMITTANCE TO ANOTHER BANK,1994-05-10,59,290
64011,2653.0,DEBIT,HOUSEHOLD,REMITTANCE TO ANOTHER BANK,1994-05-10,59,290
64012,18667.0,DEBIT,NaN,CASH WITHDRAWAL,1994-05-21,59,290
64013,273.7,CREDIT,INTEREST CREDITED,NaN,1994-05-31,59,290
64014,14.6,DEBIT,PAYMENT ON STATEMENT,CASH WITHDRAWAL,1994-05-31,59,290
64015,11100.0,DEBIT,NaN,CASH WITHDRAWAL,1994-05-31,59,290
64016,37703.0,CREDIT,NaN,CREDIT IN CASH,1994-06-05,59,290
64017,11853.0,CREDIT,NaN,CREDIT IN CASH,1994-06-08,59,290
64018,2653.0,DEBIT,HOUSEHOLD,REMITTANCE TO ANOTHER BANK,1994-06-10,59,290
64019,3274.0,DEBIT,,REMITTANCE TO ANOTHER BANK,1994-06-10,59,290
64020,12600.0,DEBIT,NaN,CASH WITHDRAWAL,1994-06-14,59,290
64021,21795.0,DEBIT,NaN,CASH WITHDRAWAL,1994-06-22,59,290
64022,2500.0,DEBIT,NaN,CASH WITHDRAWAL,1994-06-23,59,290
64023,259.9,CREDIT,INTEREST CREDITED,NaN,1994-06-30,59,290
64024,9900.0,DEBIT,NaN,CASH WITHDRAWAL,1994-06-30,59,290
64025,14.6,DEBIT,PAYMENT ON STATEMENT,CASH WITHDRAWAL,1994-06-30,59,290
64026,6300.0,DEBIT,NaN,CASH WITHDRAWAL,1994-07-04,59,290
64027,2100.0,DEBIT,NaN,CASH WITHDRAWAL,1994-07-08,59,290
64028,2653.0,DEBIT,HOUSEHOLD,REMITTANCE TO ANOTHER BANK,1994-07-10,59,290
64029,3300.0,DEBIT,NaN,CASH WITHDRAWAL,1994-07-10,59,290
64030,3274.0,DEBIT,,REMITTANCE TO ANOTHER BANK,1994-07-10,59,290
64031,22805.0,CREDIT,NaN,CREDIT IN CASH,1994-07-10,59,290
64032,6500.0,DEBIT,NaN,CASH WITHDRAWAL,1994-07-30,59,290
64033,173.9,CREDIT,INTEREST CREDITED,NaN,1994-07-31,59,290
64034,14.6,DEBIT,PAYMENT ON STATEMENT,CASH WITHDRAWAL,1994-07-31,59,290
64035,3274.0,DEBIT,,REMITTANCE TO ANOTHER BANK,1994-08-10,59,290
64036,2653.0,DEBIT,HOUSEHOLD,REMITTANCE TO ANOTHER BANK,1994-08-10,59,290
64037,48476.0,CREDIT,NaN,CREDIT IN CASH,1994-08-13,59,290
64038,2200.0,DEBIT,NaN,CASH WITHDRAWAL,1994-08-21,59,290
64039,25000.0,DEBIT,NaN,CASH WITHDRAWAL,1994-08-29,59,290
64040,243.5,CREDIT,INTEREST CREDITED,NaN,1994-08-31,59,290
64041,14.6,DEBIT,PAYMENT ON STATEMENT,CASH WITHDRAWAL,1994-08-31,59,290
64042,9868.0,DEBIT,NaN,CASH WITHDRAWAL,1994-09-09,59,290
64043,2653.0,DEBIT,HOUSEHOLD,REMITTANCE TO ANOTHER BANK,1994-09-10,59,290
64044,3274.0,DEBIT,,REMITTANCE TO ANOTHER BANK,1994-09-10,59,290
64045,2500.0,DEBIT,NaN,CASH WITHDRAWAL,1994-09-18,59,290
64046,2000.0,DEBIT,NaN,CASH WITHDRAWAL,1994-09-28,59,290
64047,164.0,CREDIT,INTEREST CREDITED,NaN,1994-09-30,59,290
64048,14.6,DEBIT,PAYMENT ON STATEMENT,CASH WITHDRAWAL,1994-09-30,59,290
64049,3200.0,DEBIT,NaN,CASH WITHDRAWAL,1994-10-01,59,290
64050,2653.0,DEBIT,HOUSEHOLD,REMITTANCE TO ANOTHER BANK,1994-10-10,59,290
64051,3274.0,DEBIT,,REMITTANCE TO ANOTHER BANK,1994-10-10,59,290
64052,2600.0,CREDIT,NaN,CREDIT IN CASH,1994-10-28,59,290
64053,113.7,CREDIT,INTEREST CREDITED,NaN,1994-10-31,59,290
64054,14.6,DEBIT,PAYMENT ON STATEMENT,CASH WITHDRAWAL,1994-10-31,59,290
64055,2653.0,DEBIT,HOUSEHOLD,REMITTANCE TO ANOTHER BANK,1994-11-10,59,290
64056,3274.0,DEBIT,,REMITTANCE TO ANOTHER BANK,1994-11-10,59,290
64057,2577.0,DEBIT,LOAN PAYMENT,REMITTANCE TO ANOTHER BANK,1994-11-12,59,290
64058,41276.0,CREDIT,NaN,CREDIT IN CASH,1994-11-24,59,290
64059,14100.0,DEBIT,NaN,CASH WITHDRAWAL,1994-11-27,59,290
64060,112.9,CREDIT,INTEREST CREDITED,NaN,1994-11-30,59,290
64061,14.6,DEBIT,PAYMENT ON STATEMENT,CASH WITHDRAWAL,1994-11-30,59,290
64062,5418.0,DEBIT,NaN,CASH WITHDRAWAL,1994-11-30,59,290
64063,2653.0,DEBIT,HOUSEHOLD,REMITTANCE TO ANOTHER BANK,1994-12-10,59,290
64064,3274.0,DEBIT,,REMITTANCE TO ANOTHER BANK,1994-12-10,59,290
64065,2577.0,DEBIT,LOAN PAYMENT,REMITTANCE TO ANOTHER BANK,1994-12-12,59,290
64066,5400.0,DEBIT,NaN,CASH WITHDRAWAL,1994-12-13,59,290
64067,1000.0,CREDIT,NaN,CREDIT IN CASH,1994-12-27,59,290
64068,4437.0,DEBIT,NaN,CASH WITHDRAWAL,1994-12-28,59,290
64069,120.9,CREDIT,INTEREST CREDITED,NaN,1994-12-31,59,290
64070,14.6,DEBIT,PAYMENT ON STATEMENT,CASH WITHDRAWAL,1994-12-31,59,290
64071,3274.0,DEBIT,,REMITTANCE TO ANOTHER BANK,1995-01-10,59,290
64072,2653.0,DEBIT,HOUSEHOLD,REMITTANCE TO ANOTHER BANK,1995-01-10,59,290
64073,2577.0,DEBIT,LOAN PAYMENT,REMITTANCE TO ANOTHER BANK,1995-01-12,59,290
64074,8600.0,CREDIT,NaN,CREDIT IN CASH,1995-01-26,59,290
64075,70.7,CREDIT,INTEREST CREDITED,NaN,1995-01-31,59,290
64076,14.6,DEBIT,PAYMENT ON STATEMENT,CASH WITHDRAWAL,1995-01-31,59,290
64077,2653.0,DEBIT,HOUSEHOLD,REMITTANCE TO ANOTHER BANK,1995-02-10,59,290
64078,3274.0,DEBIT,,REMITTANCE TO ANOTHER BANK,1995-02-10,59,290
64079,2577.0,DEBIT,LOAN PAYMENT,REMITTANCE TO ANOTHER BANK,1995-02-12,59,290
64080,9600.0,CREDIT,NaN,CREDIT IN CASH,1995-02-25,59,290
64081,72.0,CREDIT,INTEREST CREDITED,NaN,1995-02-28,59,290
64082,14.6,DEBIT,PAYMENT ON STATEMENT,CASH WITHDRAWAL,1995-02-28,59,290
64083,3274.0,DEBIT,,REMITTANCE TO ANOTHER BANK,1995-03-10,59,290
64084,2653.0,DEBIT,HOUSEHOLD,REMITTANCE TO ANOTHER BANK,1995-03-10,59,290
64085,2577.0,DEBIT,LOAN PAYMENT,REMITTANCE TO ANOTHER BANK,1995-03-12,59,290
64086,36207.0,CREDIT,NaN,CREDIT IN CASH,1995-03-23,59,290
64087,8300.0,DEBIT,NaN,CASH WITHDRAWAL,1995-03-27,59,290
64088,107.3,CREDIT,INTEREST CREDITED,NaN,1995-03-31,59,290
64089,14.6,DEBIT,PAYMENT ON STATEMENT,CASH WITHDRAWAL,1995-03-31,59,290
64090,3274.0,DEBIT,,REMITTANCE TO ANOTHER BANK,1995-04-10,59,290
64091,2653.0,DEBIT,HOUSEHOLD,REMITTANCE TO ANOTHER BANK,1995-04-10,59,290
64092,2577.0,DEBIT,LOAN PAYMENT,REMITTANCE TO ANOTHER BANK,1995-04-12,59,290
64093,10800.0,DEBIT,NaN,CASH WITHDRAWAL,1995-04-12,59,290
64094,37346.0,CREDIT,NaN,CREDIT IN CASH,1995-04-14,59,290
64095,45852.0,CREDIT,NaN,CREDIT IN CASH,1995-04-24,59,290
64096,41300.0,DEBIT,NaN,CASH WITHDRAWAL,1995-04-24,59,290
64097,16500.0,DEBIT,NaN,CASH WITHDRAWAL,1995-04-26,59,290
64098,11100.0,DEBIT,NaN,CASH WITHDRAWAL,1995-04-29,59,290
64099,211.7,CREDIT,INTEREST CREDITED,NaN,1995-04-30,59,290
64100,14.6,DEBIT,PAYMENT ON STATEMENT,CASH WITHDRAWAL,1995-04-30,59,290
64101,20979.0,CREDIT,NaN,CREDIT IN CASH,1995-05-01,59,290
64102,23515.0,CREDIT,NaN,CREDIT IN CASH,1995-05-07,59,290
64103,3274.0,DEBIT,,REMITTANCE TO ANOTHER BANK,1995-05-10,59,290
64104,2653.0,DEBIT,HOUSEHOLD,REMITTANCE TO ANOTHER BANK,1995-05-10,59,290
64105,2577.0,DEBIT,LOAN PAYMENT,REMITTANCE TO ANOTHER BANK,1995-05-12,59,290
64106,5230.0,CREDIT,NaN,CREDIT IN CASH,1995-05-12,59,290
64107,9284.0,CREDIT,NaN,CREDIT IN CASH,1995-05-13,59,290
64108,28100.0,DEBIT,NaN,CASH WITHDRAWAL,1995-05-26,59,290
64109,295.1,CREDIT,INTEREST CREDITED,NaN,1995-05-31,59,290
64110,14.6,DEBIT,PAYMENT ON STATEMENT,CASH WITHDRAWAL,1995-05-31,59,290
64111,12653.0,DEBIT,NaN,CASH WITHDRAWAL,1995-06-04,59,290
64112,24959.0,CREDIT,NaN,CREDIT IN CASH,1995-06-07,59,290
64113,2653.0,DEBIT,HOUSEHOLD,REMITTANCE TO ANOTHER BANK,1995-06-10,59,290
64114,3274.0,DEBIT,,REMITTANCE TO ANOTHER BANK,1995-06-10,59,290
64115,2577.0,DEBIT,LOAN PAYMENT,REMITTANCE TO ANOTHER BANK,1995-06-12,59,290
64116,14437.0,CREDIT,NaN,CREDIT IN CASH,1995-06-16,59,290
64117,14594.0,CREDIT,NaN,CREDIT IN CASH,1995-06-21,59,290
64118,13800.0,DEBIT,NaN,CASH WITHDRAWAL,1995-06-22,59,290
64119,24900.0,DEBIT,NaN,CASH WITHDRAWAL,1995-06-25,59,290
64120,279.1,CREDIT,INTEREST CREDITED,NaN,1995-06-30,59,290
64121,14.6,DEBIT,PAYMENT ON STATEMENT,CASH WITHDRAWAL,1995-06-30,59,290
64122,20419.0,CREDIT,NaN,CREDIT IN CASH,1995-07-03,59,290
64123,17766.0,CREDIT,NaN,CREDIT IN CASH,1995-07-04,59,290
64124,2653.0,DEBIT,HOUSEHOLD,REMITTANCE TO ANOTHER BANK,1995-07-10,59,290
64125,3274.0,DEBIT,,REMITTANCE TO ANOTHER BANK,1995-07-10,59,290
64126,2577.0,DEBIT,LOAN PAYMENT,REMITTANCE TO ANOTHER BANK,1995-07-12,59,290
64127,18198.0,CREDIT,NaN,CREDIT IN CASH,1995-07-17,59,290
64128,11601.0,DEBIT,NaN,CASH WITHDRAWAL,1995-07-25,59,290
64129,27500.0,DEBIT,NaN,CASH WITHDRAWAL,1995-07-25,59,290
64130,48416.0,CREDIT,NaN,CREDIT IN CASH,1995-07-28,59,290
64131,371.7,CREDIT,INTEREST CREDITED,NaN,1995-07-31,59,290
64132,14.6,DEBIT,PAYMENT ON STATEMENT,CASH WITHDRAWAL,1995-07-31,59,290
64133,7018.0,DEBIT,NaN,CASH WITHDRAWAL,1995-08-01,59,290
64134,16300.0,DEBIT,NaN,CASH WITHDRAWAL,1995-08-02,59,290
64135,20594.0,CREDIT,NaN,CREDIT IN CASH,1995-08-02,59,290
64136,2653.0,DEBIT,HOUSEHOLD,REMITTANCE TO ANOTHER BANK,1995-08-10,59,290
64137,3274.0,DEBIT,,REMITTANCE TO ANOTHER BANK,1995-08-10,59,290
64138,2577.0,DEBIT,LOAN PAYMENT,REMITTANCE TO ANOTHER BANK,1995-08-12,59,290
64139,23675.0,CREDIT,NaN,CREDIT IN CASH,1995-08-14,59,290
64140,38600.0,DEBIT,NaN,CASH WITHDRAWAL,1995-08-14,59,290
64141,38500.0,DEBIT,NaN,CASH WITHDRAWAL,1995-08-22,59,290
64142,22614.0,CREDIT,NaN,CREDIT IN CASH,1995-08-22,59,290
64143,35662.0,CREDIT,NaN,CREDIT IN CASH,1995-08-22,59,290
64144,54200.0,DEBIT,NaN,CASH WITHDRAWAL,1995-08-23,59,290
64145,26753.0,CREDIT,NaN,CREDIT IN CASH,1995-08-23,59,290
64146,21300.0,DEBIT,NaN,CASH WITHDRAWAL,1995-08-24,59,290
64147,31991.0,CREDIT,NaN,CREDIT IN CASH,1995-08-25,59,290
64148,41386.0,CREDIT,NaN,CREDIT IN CASH,1995-08-28,59,290
64149,41600.0,DEBIT,NaN,CASH WITHDRAWAL,1995-08-28,59,290
64150,14250.0,DEBIT,NaN,CASH WITHDRAWAL,1995-08-30,59,290
64151,449.9,CREDIT,INTEREST CREDITED,NaN,1995-08-31,59,290
64152,14.6,DEBIT,PAYMENT ON STATEMENT,CASH WITHDRAWAL,1995-08-31,59,290
64153,28700.0,DEBIT,NaN,CASH WITHDRAWAL,1995-09-01,59,290
64154,34584.0,CREDIT,NaN,CREDIT IN CASH,1995-09-01,59,290
64155,3274.0,DEBIT,,REMITTANCE TO ANOTHER BANK,1995-09-10,59,290
64156,2653.0,DEBIT,HOUSEHOLD,REMITTANCE TO ANOTHER BANK,1995-09-10,59,290
64157,21793.0,DEBIT,NaN,CASH WITHDRAWAL,1995-09-12,59,290
64158,2577.0,DEBIT,LOAN PAYMENT,REMITTANCE TO ANOTHER BANK,1995-09-12,59,290
64159,8700.0,DEBIT,NaN,CASH WITHDRAWAL,1995-09-23,59,290
64160,280.2,CREDIT,INTEREST CREDITED,NaN,1995-09-30,59,290
64161,14.6,DEBIT,PAYMENT ON STATEMENT,CASH WITHDRAWAL,1995-09-30,59,290
64162,5409.0,CREDIT,NaN,CREDIT IN CASH,1995-10-02,59,290
64163,3274.0,DEBIT,,REMITTANCE TO ANOTHER BANK,1995-10-10,59,290
64164,2653.0,DEBIT,HOUSEHOLD,REMITTANCE TO ANOTHER BANK,1995-10-10,59,290
64165,2577.0,DEBIT,LOAN PAYMENT,REMITTANCE TO ANOTHER BANK,1995-10-12,59,290
64166,42681.0,CREDIT,NaN,CREDIT IN CASH,1995-10-19,59,290
64167,20900.0,DEBIT,NaN,CASH WITHDRAWAL,1995-10-23,59,290
64168,214.3,CREDIT,INTEREST CREDITED,NaN,1995-10-31,59,290
64169,14.6,DEBIT,PAYMENT ON STATEMENT,CASH WITHDRAWAL,1995-10-31,59,290
64170,26741.0,CREDIT,NaN,CREDIT IN CASH,1995-11-03,59,290
64171,3274.0,DEBIT,,REMITTANCE TO ANOTHER BANK,1995-11-10,59,290
64172,2653.0,DEBIT,HOUSEHOLD,REMITTANCE TO ANOTHER BANK,1995-11-10,59,290
64173,31200.0,DEBIT,NaN,CASH WITHDRAWAL,1995-11-10,59,290
64174,32174.0,CREDIT,NaN,CREDIT IN CASH,1995-11-10,59,290
64175,2577.0,DEBIT,LOAN PAYMENT,REMITTANCE TO ANOTHER BANK,1995-11-12,59,290
64176,11815.0,CREDIT,NaN,CREDIT IN CASH,1995-11-18,59,290
64177,20938.0,DEBIT,NaN,CASH WITHDRAWAL,1995-11-21,59,290
64178,18400.0,DEBIT,NaN,CASH WITHDRAWAL,1995-11-22,59,290
64179,2117.0,DEBIT,NaN,CASH WITHDRAWAL,1995-11-29,59,290
64180,277.4,CREDIT,INTEREST CREDITED,NaN,1995-11-30,59,290
64181,14.6,DEBIT,PAYMENT ON STATEMENT,CASH WITHDRAWAL,1995-11-30,59,290
64182,2653.0,DEBIT,HOUSEHOLD,REMITTANCE TO ANOTHER BANK,1995-12-10,59,290
64183,3274.0,DEBIT,,REMITTANCE TO ANOTHER BANK,1995-12-10,59,290
64184,2577.0,DEBIT,LOAN PAYMENT,REMITTANCE TO ANOTHER BANK,1995-12-12,59,290
64185,10306.0,DEBIT,NaN,CASH WITHDRAWAL,1995-12-14,59,290
64186,30388.0,CREDIT,NaN,CREDIT IN CASH,1995-12-17,59,290
64187,25582.0,CREDIT,NaN,CREDIT IN CASH,1995-12-20,59,290
64188,21601.0,DEBIT,NaN,CASH WITHDRAWAL,1995-12-22,59,290
64189,10000.0,DEBIT,NaN,CASH WITHDRAWAL,1995-12-22,59,290
64190,2700.0,DEBIT,NaN,CASH WITHDRAWAL,1995-12-23,59,290
64191,217.0,CREDIT,INTEREST CREDITED,NaN,1995-12-31,59,290
64192,14.6,DEBIT,PAYMENT ON STATEMENT,CASH WITHDRAWAL,1995-12-31,59,290
64193,6000.0,DEBIT,NaN,CASH WITHDRAWAL,1996-01-01,59,290
64194,38198.0,CREDIT,NaN,CREDIT IN CASH,1996-01-02,59,290
64195,3300.0,DEBIT,NaN,CASH WITHDRAWAL,1996-01-05,59,290
64196,54500.0,DEBIT,NaN,CASH WITHDRAWAL,1996-01-06,59,290
64197,26505.0,CREDIT,NaN,CREDIT IN CASH,1996-01-06,59,290
64198,3274.0,DEBIT,,REMITTANCE TO ANOTHER BANK,1996-01-10,59,290
64199,2653.0,DEBIT,HOUSEHOLD,REMITTANCE TO ANOTHER BANK,1996-01-10,59,290
64200,2577.0,DEBIT,LOAN PAYMENT,REMITTANCE TO ANOTHER BANK,1996-01-12,59,290
64201,6791.0,CREDIT,NaN,CREDIT IN CASH,1996-01-12,59,290
64202,8700.0,DEBIT,NaN,CASH WITHDRAWAL,1996-01-15,59,290
64203,8400.0,DEBIT,NaN,CASH WITHDRAWAL,1996-01-20,59,290
64204,1600.0,CREDIT,NaN,CREDIT IN CASH,1996-01-21,59,290
64205,7800.0,DEBIT,NaN,CASH WITHDRAWAL,1996-01-29,59,290
64206,3900.0,DEBIT,NaN,CASH WITHDRAWAL,1996-01-30,59,290
64207,201.9,CREDIT,INTEREST CREDITED,NaN,1996-01-31,59,290
64208,14.6,DEBIT,PAYMENT ON STATEMENT,CASH WITHDRAWAL,1996-01-31,59,290
64209,2653.0,DEBIT,HOUSEHOLD,REMITTANCE TO ANOTHER BANK,1996-02-10,59,290
64210,3274.0,DEBIT,,REMITTANCE TO ANOTHER BANK,1996-02-10,59,290
64211,2577.0,DEBIT,LOAN PAYMENT,REMITTANCE TO ANOTHER BANK,1996-02-12,59,290
64212,10600.0,CREDIT,NaN,CREDIT IN CASH,1996-02-20,59,290
64213,97.9,CREDIT,INTEREST CREDITED,NaN,1996-02-29,59,290
64214,14.6,DEBIT,PAYMENT ON STATEMENT,CASH WITHDRAWAL,1996-02-29,59,290
64215,2653.0,DEBIT,HOUSEHOLD,REMITTANCE TO ANOTHER BANK,1996-03-10,59,290
64216,3274.0,DEBIT,,REMITTANCE TO ANOTHER BANK,1996-03-10,59,290
64217,2577.0,DEBIT,LOAN PAYMENT,REMITTANCE TO ANOTHER BANK,1996-03-12,59,290
64218,11800.0,CREDIT,NaN,CREDIT IN CASH,1996-03-21,59,290
64219,45769.0,CREDIT,NaN,CREDIT IN CASH,1996-03-24,59,290
64220,157.5,CREDIT,INTEREST CREDITED,NaN,1996-03-31,59,290
64221,14.6,DEBIT,PAYMENT ON STATEMENT,CASH WITHDRAWAL,1996-03-31,59,290
64222,9087.0,CREDIT,NaN,CREDIT IN CASH,1996-04-01,59,290
64223,3274.0,DEBIT,,REMITTANCE TO ANOTHER BANK,1996-04-10,59,290
64224,2653.0,DEBIT,HOUSEHOLD,REMITTANCE TO ANOTHER BANK,1996-04-10,59,290
64225,2577.0,DEBIT,LOAN PAYMENT,REMITTANCE TO ANOTHER BANK,1996-04-12,59,290
64226,19300.0,DEBIT,NaN,CASH WITHDRAWAL,1996-04-20,59,290
64227,22624.0,DEBIT,NaN,CASH WITHDRAWAL,1996-04-24,59,290
64228,271.2,CREDIT,INTEREST CREDITED,NaN,1996-04-30,59,290
64229,14.6,DEBIT,PAYMENT ON STATEMENT,CASH WITHDRAWAL,1996-04-30,59,290
64230,2653.0,DEBIT,HOUSEHOLD,REMITTANCE TO ANOTHER BANK,1996-05-10,59,290
64231,3274.0,DEBIT,,REMITTANCE TO ANOTHER BANK,1996-05-10,59,290
64232,2577.0,DEBIT,LOAN PAYMENT,REMITTANCE TO ANOTHER BANK,1996-05-12,59,290
64233,5700.0,CREDIT,NaN,CREDIT IN CASH,1996-05-20,59,290
64234,133.7,CREDIT,INTEREST CREDITED,NaN,1996-05-31,59,290
64235,14.6,DEBIT,PAYMENT ON STATEMENT,CASH WITHDRAWAL,1996-05-31,59,290
64236,3274.0,DEBIT,,REMITTANCE TO ANOTHER BANK,1996-06-10,59,290
64237,2653.0,DEBIT,HOUSEHOLD,REMITTANCE TO ANOTHER BANK,1996-06-10,59,290
64238,2577.0,DEBIT,LOAN PAYMENT,REMITTANCE TO ANOTHER BANK,1996-06-12,59,290
64239,8000.0,CREDIT,NaN,CREDIT IN CASH,1996-06-19,59,290
64240,126.9,CREDIT,INTEREST CREDITED,NaN,1996-06-30,59,290
64241,14.6,DEBIT,PAYMENT ON STATEMENT,CASH WITHDRAWAL,1996-06-30,59,290
64242,2653.0,DEBIT,HOUSEHOLD,REMITTANCE TO ANOTHER BANK,1996-07-10,59,290
64243,3274.0,DEBIT,,REMITTANCE TO ANOTHER BANK,1996-07-10,59,290
64244,2577.0,DEBIT,LOAN PAYMENT,REMITTANCE TO ANOTHER BANK,1996-07-12,59,290
64245,9200.0,CREDIT,NaN,CREDIT IN CASH,1996-07-19,59,290
64246,127.5,CREDIT,INTEREST CREDITED,NaN,1996-07-31,59,290
64247,14.6,DEBIT,PAYMENT ON STATEMENT,CASH WITHDRAWAL,1996-07-31,59,290
64248,3274.0,DEBIT,,REMITTANCE TO ANOTHER BANK,1996-08-10,59,290
64249,2653.0,DEBIT,HOUSEHOLD,REMITTANCE TO ANOTHER BANK,1996-08-10,59,290
64250,2577.0,DEBIT,LOAN PAYMENT,REMITTANCE TO ANOTHER BANK,1996-08-12,59,290
64251,11200.0,CREDIT,NaN,CREDIT IN CASH,1996-08-18,59,290
64252,9892.0,DEBIT,NaN,CASH WITHDRAWAL,1996-08-21,59,290
64253,121.1,CREDIT,INTEREST CREDITED,NaN,1996-08-31,59,290
64254,14.6,DEBIT,PAYMENT ON STATEMENT,CASH WITHDRAWAL,1996-08-31,59,290
64255,11747.0,CREDIT,NaN,CREDIT IN CASH,1996-09-07,59,290
64256,3274.0,DEBIT,,REMITTANCE TO ANOTHER BANK,1996-09-10,59,290
64257,2653.0,DEBIT,HOUSEHOLD,REMITTANCE TO ANOTHER BANK,1996-09-10,59,290
64258,2577.0,DEBIT,LOAN PAYMENT,REMITTANCE TO ANOTHER BANK,1996-09-12,59,290
64259,10300.0,CREDIT,NaN,CREDIT IN CASH,1996-09-17,59,290
64260,140.6,CREDIT,INTEREST CREDITED,NaN,1996-09-30,59,290
64261,14.6,DEBIT,PAYMENT ON STATEMENT,CASH WITHDRAWAL,1996-09-30,59,290
64262,3274.0,DEBIT,,REMITTANCE TO ANOTHER BANK,1996-10-10,59,290
64263,2653.0,DEBIT,HOUSEHOLD,REMITTANCE TO ANOTHER BANK,1996-10-10,59,290
64264,2577.0,DEBIT,LOAN PAYMENT,REMITTANCE TO ANOTHER BANK,1996-10-12,59,290
64265,10200.0,CREDIT,NaN,CREDIT IN CASH,1996-10-17,59,290
64266,163.3,CREDIT,INTEREST CREDITED,NaN,1996-10-31,59,290
64267,14.6,DEBIT,PAYMENT ON STATEMENT,CASH WITHDRAWAL,1996-10-31,59,290
64268,24360.0,CREDIT,NaN,CREDIT IN CASH,1996-11-06,59,290
64269,10178.0,DEBIT,NaN,CASH WITHDRAWAL,1996-11-08,59,290
64270,2653.0,DEBIT,HOUSEHOLD,REMITTANCE TO ANOTHER BANK,1996-11-10,59,290
64271,3274.0,DEBIT,,REMITTANCE TO ANOTHER BANK,1996-11-10,59,290
64272,2577.0,DEBIT,LOAN PAYMENT,REMITTANCE TO ANOTHER BANK,1996-11-12,59,290
64273,800.0,CREDIT,NaN,CREDIT IN CASH,1996-11-16,59,290
64274,13125.0,DEBIT,NaN,CASH WITHDRAWAL,1996-11-22,59,290
64275,180.3,CREDIT,INTEREST CREDITED,NaN,1996-11-30,59,290
64276,14.6,DEBIT,PAYMENT ON STATEMENT,CASH WITHDRAWAL,1996-11-30,59,290
64277,2653.0,DEBIT,HOUSEHOLD,REMITTANCE TO ANOTHER BANK,1996-12-10,59,290
64278,3274.0,DEBIT,,REMITTANCE TO ANOTHER BANK,1996-12-10,59,290
64279,2577.0,DEBIT,LOAN PAYMENT,REMITTANCE TO ANOTHER BANK,1996-12-12,59,290
64280,17300.0,CREDIT,NaN,CREDIT IN CASH,1996-12-16,59,290
64281,9300.0,DEBIT,NaN,CASH WITHDRAWAL,1996-12-20,59,290
64282,8100.0,DEBIT,NaN,CASH WITHDRAWAL,1996-12-23,59,290
64283,135.5,CREDIT,INTEREST CREDITED,NaN,1996-12-31,59,290
64284,14.6,DEBIT,PAYMENT ON STATEMENT,CASH WITHDRAWAL,1996-12-31,59,290
64285,2653.0,DEBIT,HOUSEHOLD,REMITTANCE TO ANOTHER BANK,1997-01-10,59,290
64286,3274.0,DEBIT,,REMITTANCE TO ANOTHER BANK,1997-01-10,59,290
64287,2577.0,DEBIT,LOAN PAYMENT,REMITTANCE TO ANOTHER BANK,1997-01-12,59,290
64288,3000.0,DEBIT,NaN,CASH WITHDRAWAL,1997-01-13,59,290
64289,24377.0,CREDIT,NaN,CREDIT IN CASH,1997-01-13,59,290
64290,8000.0,CREDIT,NaN,CREDIT IN CASH,1997-01-15,59,290
64291,8400.0,DEBIT,NaN,CASH WITHDRAWAL,1997-01-19,59,290
64292,2700.0,DEBIT,NaN,CASH WITHDRAWAL,1997-01-22,59,290
64293,5400.0,DEBIT,NaN,CASH WITHDRAWAL,1997-01-25,59,290
64294,137.9,CREDIT,INTEREST CREDITED,NaN,1997-01-31,59,290
64295,14.6,DEBIT,PAYMENT ON STATEMENT,CASH WITHDRAWAL,1997-01-31,59,290
64296,3274.0,DEBIT,,REMITTANCE TO ANOTHER BANK,1997-02-10,59,290
64297,2653.0,DEBIT,HOUSEHOLD,REMITTANCE TO ANOTHER BANK,1997-02-10,59,290
64298,2577.0,DEBIT,LOAN PAYMENT,REMITTANCE TO ANOTHER BANK,1997-02-12,59,290
64299,20600.0,CREDIT,NaN,CREDIT IN CASH,1997-02-14,59,290
64300,153.3,CREDIT,INTEREST CREDITED,NaN,1997-02-28,59,290
64301,14.6,DEBIT,PAYMENT ON STATEMENT,CASH WITHDRAWAL,1997-02-28,59,290
64302,15064.0,CREDIT,NaN,CREDIT IN CASH,1997-03-05,59,290
64303,2653.0,DEBIT,HOUSEHOLD,REMITTANCE TO ANOTHER BANK,1997-03-10,59,290
64304,3274.0,DEBIT,,REMITTANCE TO ANOTHER BANK,1997-03-10,59,290
64305,16674.0,DEBIT,NaN,CASH WITHDRAWAL,1997-03-11,59,290

Account id: 96

,amount,type,k_symbol,operation,datetime,age,account_id
21379,1100.0,CREDIT,NaN,CREDIT IN CASH,1993-02-18,30,96
21380,44221.0,CREDIT,NaN,COLLECTION FROM ANOTHER BANK,1993-03-11,30,96
21381,11500.0,DEBIT,NaN,CASH WITHDRAWAL,1993-03-20,30,96
21382,54.6,CREDIT,INTEREST CREDITED,NaN,1993-03-31,30,96
21383,44221.0,CREDIT,NaN,COLLECTION FROM ANOTHER BANK,1993-04-11,30,96
21384,24700.0,DEBIT,NaN,CASH WITHDRAWAL,1993-04-19,30,96
21385,173.5,CREDIT,INTEREST CREDITED,NaN,1993-04-30,30,96
21386,44221.0,CREDIT,NaN,COLLECTION FROM ANOTHER BANK,1993-05-11,30,96
21387,35100.0,DEBIT,NaN,CASH WITHDRAWAL,1993-05-19,30,96
21388,238.7,CREDIT,INTEREST CREDITED,NaN,1993-05-31,30,96
21389,62900.0,DEBIT,NaN,CASH WITHDRAWAL,1993-06-11,30,96
21390,66332.0,CREDIT,NaN,COLLECTION FROM ANOTHER BANK,1993-06-11,30,96
21391,19200.0,DEBIT,NaN,CASH WITHDRAWAL,1993-06-18,30,96
21392,236.7,CREDIT,INTEREST CREDITED,NaN,1993-06-30,30,96
21393,644.0,DEBIT,,REMITTANCE TO ANOTHER BANK,1993-07-11,30,96
21394,2140.0,DEBIT,,REMITTANCE TO ANOTHER BANK,1993-07-11,30,96
21395,44221.0,CREDIT,NaN,COLLECTION FROM ANOTHER BANK,1993-07-11,30,96
21396,908.0,DEBIT,HOUSEHOLD,REMITTANCE TO ANOTHER BANK,1993-07-14,30,96
21397,31200.0,DEBIT,NaN,CASH WITHDRAWAL,1993-07-18,30,96
21398,4500.0,DEBIT,NaN,CASH WITHDRAWAL,1993-07-19,30,96
21399,8769.0,DEBIT,NaN,CASH WITHDRAWAL,1993-07-22,30,96
21400,14.6,DEBIT,PAYMENT ON STATEMENT,CASH WITHDRAWAL,1993-07-31,30,96
21401,234.7,CREDIT,INTEREST CREDITED,NaN,1993-07-31,30,96
21402,46.0,DEBIT,INSURANCE PAYMENT,REMITTANCE TO ANOTHER BANK,1993-08-08,30,96
21403,44221.0,CREDIT,NaN,COLLECTION FROM ANOTHER BANK,1993-08-11,30,96
21404,2140.0,DEBIT,,REMITTANCE TO ANOTHER BANK,1993-08-11,30,96
21405,644.0,DEBIT,,REMITTANCE TO ANOTHER BANK,1993-08-11,30,96
21406,908.0,DEBIT,HOUSEHOLD,REMITTANCE TO ANOTHER BANK,1993-08-14,30,96
21407,29300.0,DEBIT,NaN,CASH WITHDRAWAL,1993-08-17,30,96
21408,7200.0,DEBIT,NaN,CASH WITHDRAWAL,1993-08-24,30,96
21409,23255.0,DEBIT,NaN,CASH WITHDRAWAL,1993-08-28,30,96
21410,14.6,DEBIT,PAYMENT ON STATEMENT,CASH WITHDRAWAL,1993-08-31,30,96
21411,218.4,CREDIT,INTEREST CREDITED,NaN,1993-08-31,30,96
21412,46.0,DEBIT,INSURANCE PAYMENT,REMITTANCE TO ANOTHER BANK,1993-09-08,30,96
21413,44221.0,CREDIT,NaN,COLLECTION FROM ANOTHER BANK,1993-09-11,30,96
21414,2140.0,DEBIT,,REMITTANCE TO ANOTHER BANK,1993-09-11,30,96
21415,644.0,DEBIT,,REMITTANCE TO ANOTHER BANK,1993-09-11,30,96
21416,908.0,DEBIT,HOUSEHOLD,REMITTANCE TO ANOTHER BANK,1993-09-14,30,96
21417,17700.0,DEBIT,NaN,CASH WITHDRAWAL,1993-09-16,30,96
21418,14.6,DEBIT,PAYMENT ON STATEMENT,CASH WITHDRAWAL,1993-09-30,30,96
21419,179.6,CREDIT,INTEREST CREDITED,NaN,1993-09-30,30,96
21420,46.0,DEBIT,INSURANCE PAYMENT,REMITTANCE TO ANOTHER BANK,1993-10-08,30,96
21421,44221.0,CREDIT,NaN,COLLECTION FROM ANOTHER BANK,1993-10-11,30,96
21422,644.0,DEBIT,,REMITTANCE TO ANOTHER BANK,1993-10-11,30,96
21423,2140.0,DEBIT,,REMITTANCE TO ANOTHER BANK,1993-10-11,30,96
21424,908.0,DEBIT,HOUSEHOLD,REMITTANCE TO ANOTHER BANK,1993-10-14,30,96
21425,29200.0,DEBIT,NaN,CASH WITHDRAWAL,1993-10-16,30,96
21426,4500.0,DEBIT,NaN,CASH WITHDRAWAL,1993-10-19,30,96
21427,2100.0,DEBIT,NaN,CASH WITHDRAWAL,1993-10-24,30,96
21428,14.6,DEBIT,PAYMENT ON STATEMENT,CASH WITHDRAWAL,1993-10-31,30,96
21429,241.0,CREDIT,INTEREST CREDITED,NaN,1993-10-31,30,96
21430,46.0,DEBIT,INSURANCE PAYMENT,REMITTANCE TO ANOTHER BANK,1993-11-08,30,96
21431,4200.0,DEBIT,NaN,CASH WITHDRAWAL,1993-11-11,30,96
21432,2140.0,DEBIT,,REMITTANCE TO ANOTHER BANK,1993-11-11,30,96
21433,644.0,DEBIT,,REMITTANCE TO ANOTHER BANK,1993-11-11,30,96
21434,44221.0,CREDIT,NaN,COLLECTION FROM ANOTHER BANK,1993-11-11,30,96
21435,908.0,DEBIT,HOUSEHOLD,REMITTANCE TO ANOTHER BANK,1993-11-14,30,96
21436,31500.0,DEBIT,NaN,CASH WITHDRAWAL,1993-11-15,30,96
21437,9000.0,DEBIT,NaN,CASH WITHDRAWAL,1993-11-17,30,96
21438,14.6,DEBIT,PAYMENT ON STATEMENT,CASH WITHDRAWAL,1993-11-30,30,96
21439,232.2,CREDIT,INTEREST CREDITED,NaN,1993-11-30,30,96
21440,46.0,DEBIT,INSURANCE PAYMENT,REMITTANCE TO ANOTHER BANK,1993-12-08,30,96
21441,5100.0,DEBIT,NaN,CASH WITHDRAWAL,1993-12-09,30,96
21442,66332.0,CREDIT,NaN,COLLECTION FROM ANOTHER BANK,1993-12-11,30,96
21443,40500.0,DEBIT,NaN,CASH WITHDRAWAL,1993-12-11,30,96
21444,644.0,DEBIT,,REMITTANCE TO ANOTHER BANK,1993-12-11,30,96
21445,2140.0,DEBIT,,REMITTANCE TO ANOTHER BANK,1993-12-11,30,96
21446,908.0,DEBIT,HOUSEHOLD,REMITTANCE TO ANOTHER BANK,1993-12-14,30,96
21447,19700.0,DEBIT,NaN,CASH WITHDRAWAL,1993-12-15,30,96
21448,14.6,DEBIT,PAYMENT ON STATEMENT,CASH WITHDRAWAL,1993-12-31,30,96
21449,220.1,CREDIT,INTEREST CREDITED,NaN,1993-12-31,30,96
21450,7200.0,DEBIT,NaN,CASH WITHDRAWAL,1994-01-01,30,96
21451,4621.0,DEBIT,NaN,CASH WITHDRAWAL,1994-01-06,30,96
21452,46.0,DEBIT,INSURANCE PAYMENT,REMITTANCE TO ANOTHER BANK,1994-01-08,30,96
21453,2140.0,DEBIT,,REMITTANCE TO ANOTHER BANK,1994-01-11,30,96
21454,644.0,DEBIT,,REMITTANCE TO ANOTHER BANK,1994-01-11,30,96
21455,44221.0,CREDIT,NaN,COLLECTION FROM ANOTHER BANK,1994-01-11,30,96
21456,26500.0,DEBIT,NaN,CASH WITHDRAWAL,1994-01-14,30,96
21457,908.0,DEBIT,HOUSEHOLD,REMITTANCE TO ANOTHER BANK,1994-01-14,30,96
21458,2690.0,DEBIT,NaN,CASH WITHDRAWAL,1994-01-15,30,96
21459,4200.0,DEBIT,NaN,CASH WITHDRAWAL,1994-01-16,30,96
21460,1800.0,DEBIT,NaN,CASH WITHDRAWAL,1994-01-21,30,96
21461,7500.0,DEBIT,NaN,CASH WITHDRAWAL,1994-01-21,30,96
21462,6300.0,DEBIT,NaN,CASH WITHDRAWAL,1994-01-24,30,96
21463,3300.0,DEBIT,NaN,CASH WITHDRAWAL,1994-01-27,30,96
21464,14.6,DEBIT,PAYMENT ON STATEMENT,CASH WITHDRAWAL,1994-01-31,30,96
21465,163.5,CREDIT,INTEREST CREDITED,NaN,1994-01-31,30,96
21466,46.0,DEBIT,INSURANCE PAYMENT,REMITTANCE TO ANOTHER BANK,1994-02-08,30,96
21467,644.0,DEBIT,,REMITTANCE TO ANOTHER BANK,1994-02-11,30,96
21468,44221.0,CREDIT,NaN,COLLECTION FROM ANOTHER BANK,1994-02-11,30,96
21469,2140.0,DEBIT,,REMITTANCE TO ANOTHER BANK,1994-02-11,30,96
21470,21000.0,DEBIT,NaN,CASH WITHDRAWAL,1994-02-13,30,96
21471,908.0,DEBIT,HOUSEHOLD,REMITTANCE TO ANOTHER BANK,1994-02-14,30,96
21472,2700.0,DEBIT,NaN,CASH WITHDRAWAL,1994-02-18,30,96
21473,14.6,DEBIT,PAYMENT ON STATEMENT,CASH WITHDRAWAL,1994-02-28,30,96
21474,148.7,CREDIT,INTEREST CREDITED,NaN,1994-02-28,30,96
21475,46.0,DEBIT,INSURANCE PAYMENT,REMITTANCE TO ANOTHER BANK,1994-03-08,30,96
21476,644.0,DEBIT,,REMITTANCE TO ANOTHER BANK,1994-03-11,30,96
21477,2140.0,DEBIT,,REMITTANCE TO ANOTHER BANK,1994-03-11,30,96
21478,44221.0,CREDIT,NaN,COLLECTION FROM ANOTHER BANK,1994-03-11,30,96
21479,908.0,DEBIT,HOUSEHOLD,REMITTANCE TO ANOTHER BANK,1994-03-14,30,96
21480,29000.0,DEBIT,NaN,CASH WITHDRAWAL,1994-03-15,30,96
21481,14.6,DEBIT,PAYMENT ON STATEMENT,CASH WITHDRAWAL,1994-03-31,30,96
21482,213.4,CREDIT,INTEREST CREDITED,NaN,1994-03-31,30,96
21483,46.0,DEBIT,INSURANCE PAYMENT,REMITTANCE TO ANOTHER BANK,1994-04-08,30,96
21484,44221.0,CREDIT,NaN,COLLECTION FROM ANOTHER BANK,1994-04-11,30,96
21485,2140.0,DEBIT,,REMITTANCE TO ANOTHER BANK,1994-04-11,30,96
21486,644.0,DEBIT,,REMITTANCE TO ANOTHER BANK,1994-04-11,30,96
21487,908.0,DEBIT,HOUSEHOLD,REMITTANCE TO ANOTHER BANK,1994-04-14,30,96
21488,34300.0,DEBIT,NaN,CASH WITHDRAWAL,1994-04-14,30,96
21489,14.6,DEBIT,PAYMENT ON STATEMENT,CASH WITHDRAWAL,1994-04-30,30,96
21490,247.3,CREDIT,INTEREST CREDITED,NaN,1994-04-30,30,96
21491,46.0,DEBIT,INSURANCE PAYMENT,REMITTANCE TO ANOTHER BANK,1994-05-08,30,96
21492,644.0,DEBIT,,REMITTANCE TO ANOTHER BANK,1994-05-11,30,96
21493,44221.0,CREDIT,NaN,COLLECTION FROM ANOTHER BANK,1994-05-11,30,96
21494,2140.0,DEBIT,,REMITTANCE TO ANOTHER BANK,1994-05-11,30,96
21495,908.0,DEBIT,HOUSEHOLD,REMITTANCE TO ANOTHER BANK,1994-05-14,30,96
21496,36600.0,DEBIT,NaN,CASH WITHDRAWAL,1994-05-14,30,96
21497,14.6,DEBIT,PAYMENT ON STATEMENT,CASH WITHDRAWAL,1994-05-31,30,96
21498,265.3,CREDIT,INTEREST CREDITED,NaN,1994-05-31,30,96
21499,3000.0,DEBIT,NaN,CASH WITHDRAWAL,1994-06-03,30,96
21500,46.0,DEBIT,INSURANCE PAYMENT,REMITTANCE TO ANOTHER BANK,1994-06-08,30,96
21501,30100.0,DEBIT,NaN,CASH WITHDRAWAL,1994-06-11,30,96
21502,66332.0,CREDIT,NaN,COLLECTION FROM ANOTHER BANK,1994-06-11,30,96
21503,2140.0,DEBIT,,REMITTANCE TO ANOTHER BANK,1994-06-11,30,96
21504,644.0,DEBIT,,REMITTANCE TO ANOTHER BANK,1994-06-11,30,96
21505,34800.0,DEBIT,NaN,CASH WITHDRAWAL,1994-06-13,30,96
21506,908.0,DEBIT,HOUSEHOLD,REMITTANCE TO ANOTHER BANK,1994-06-14,30,96
21507,14.6,DEBIT,PAYMENT ON STATEMENT,CASH WITHDRAWAL,1994-06-30,30,96
21508,259.4,CREDIT,INTEREST CREDITED,NaN,1994-06-30,30,96
21509,46.0,DEBIT,INSURANCE PAYMENT,REMITTANCE TO ANOTHER BANK,1994-07-08,30,96
21510,2140.0,DEBIT,,REMITTANCE TO ANOTHER BANK,1994-07-11,30,96
21511,44221.0,CREDIT,NaN,COLLECTION FROM ANOTHER BANK,1994-07-11,30,96
21512,644.0,DEBIT,,REMITTANCE TO ANOTHER BANK,1994-07-11,30,96
21513,37600.0,DEBIT,NaN,CASH WITHDRAWAL,1994-07-13,30,96
21514,908.0,DEBIT,HOUSEHOLD,REMITTANCE TO ANOTHER BANK,1994-07-14,30,96
21515,14.6,DEBIT,PAYMENT ON STATEMENT,CASH WITHDRAWAL,1994-07-31,30,96
21516,254.6,CREDIT,INTEREST CREDITED,NaN,1994-07-31,30,96
21517,46.0,DEBIT,INSURANCE PAYMENT,REMITTANCE TO ANOTHER BANK,1994-08-08,30,96
21518,2140.0,DEBIT,,REMITTANCE TO ANOTHER BANK,1994-08-11,30,96
21519,44221.0,CREDIT,NaN,COLLECTION FROM ANOTHER BANK,1994-08-11,30,96
21520,644.0,DEBIT,,REMITTANCE TO ANOTHER BANK,1994-08-11,30,96
21521,37200.0,DEBIT,NaN,CASH WITHDRAWAL,1994-08-12,30,96
21522,908.0,DEBIT,HOUSEHOLD,REMITTANCE TO ANOTHER BANK,1994-08-14,30,96
21523,14.6,DEBIT,PAYMENT ON STATEMENT,CASH WITHDRAWAL,1994-08-31,30,96
21524,263.1,CREDIT,INTEREST CREDITED,NaN,1994-08-31,30,96
21525,46.0,DEBIT,INSURANCE PAYMENT,REMITTANCE TO ANOTHER BANK,1994-09-08,30,96
21526,38200.0,DEBIT,NaN,CASH WITHDRAWAL,1994-09-11,30,96
21527,44221.0,CREDIT,NaN,COLLECTION FROM ANOTHER BANK,1994-09-11,30,96
21528,2140.0,DEBIT,,REMITTANCE TO ANOTHER BANK,1994-09-11,30,96
21529,644.0,DEBIT,,REMITTANCE TO ANOTHER BANK,1994-09-11,30,96
21530,908.0,DEBIT,HOUSEHOLD,REMITTANCE TO ANOTHER BANK,1994-09-14,30,96
21531,16729.0,DEBIT,NaN,CASH WITHDRAWAL,1994-09-18,30,96
21532,14.6,DEBIT,PAYMENT ON STATEMENT,CASH WITHDRAWAL,1994-09-30,30,96
21533,256.4,CREDIT,INTEREST CREDITED,NaN,1994-09-30,30,96
21534,46.0,DEBIT,INSURANCE PAYMENT,REMITTANCE TO ANOTHER BANK,1994-10-08,30,96
21535,44221.0,CREDIT,NaN,COLLECTION FROM ANOTHER BANK,1994-10-11,30,96
21536,32100.0,DEBIT,NaN,CASH WITHDRAWAL,1994-10-11,30,96
21537,644.0,DEBIT,,REMITTANCE TO ANOTHER BANK,1994-10-11,30,96
21538,2140.0,DEBIT,,REMITTANCE TO ANOTHER BANK,1994-10-11,30,96
21539,908.0,DEBIT,HOUSEHOLD,REMITTANCE TO ANOTHER BANK,1994-10-14,30,96
21540,12000.0,DEBIT,NaN,CASH WITHDRAWAL,1994-10-25,30,96
21541,14.6,DEBIT,PAYMENT ON STATEMENT,CASH WITHDRAWAL,1994-10-31,30,96
21542,230.4,CREDIT,INTEREST CREDITED,NaN,1994-10-31,30,96
21543,46.0,DEBIT,INSURANCE PAYMENT,REMITTANCE TO ANOTHER BANK,1994-11-08,30,96
21544,7400.0,DEBIT,NaN,CASH WITHDRAWAL,1994-11-10,30,96
21545,644.0,DEBIT,,REMITTANCE TO ANOTHER BANK,1994-11-11,30,96
21546,44221.0,CREDIT,NaN,COLLECTION FROM ANOTHER BANK,1994-11-11,30,96
21547,2140.0,DEBIT,,REMITTANCE TO ANOTHER BANK,1994-11-11,30,96
21548,908.0,DEBIT,HOUSEHOLD,REMITTANCE TO ANOTHER BANK,1994-11-14,30,96
21549,14.6,DEBIT,PAYMENT ON STATEMENT,CASH WITHDRAWAL,1994-11-30,30,96
21550,281.8,CREDIT,INTEREST CREDITED,NaN,1994-11-30,30,96
21551,46.0,DEBIT,INSURANCE PAYMENT,REMITTANCE TO ANOTHER BANK,1994-12-08,30,96
21552,23900.0,DEBIT,NaN,CASH WITHDRAWAL,1994-12-10,30,96
21553,644.0,DEBIT,,REMITTANCE TO ANOTHER BANK,1994-12-11,30,96
21554,46800.0,DEBIT,NaN,CASH WITHDRAWAL,1994-12-11,30,96
21555,2140.0,DEBIT,,REMITTANCE TO ANOTHER BANK,1994-12-11,30,96
21556,66332.0,CREDIT,NaN,COLLECTION FROM ANOTHER BANK,1994-12-11,30,96
21557,6300.0,DEBIT,NaN,CASH WITHDRAWAL,1994-12-12,30,96
21558,908.0,DEBIT,HOUSEHOLD,REMITTANCE TO ANOTHER BANK,1994-12-14,30,96
21559,8400.0,DEBIT,NaN,CASH WITHDRAWAL,1994-12-23,30,96
21560,14.6,DEBIT,PAYMENT ON STATEMENT,CASH WITHDRAWAL,1994-12-31,30,96
21561,281.8,CREDIT,INTEREST CREDITED,NaN,1994-12-31,30,96
21562,46.0,DEBIT,INSURANCE PAYMENT,REMITTANCE TO ANOTHER BANK,1995-01-08,30,96
21563,8900.0,DEBIT,NaN,CASH WITHDRAWAL,1995-01-09,30,96
21564,6000.0,DEBIT,NaN,CASH WITHDRAWAL,1995-01-09,30,96
21565,2140.0,DEBIT,,REMITTANCE TO ANOTHER BANK,1995-01-11,30,96
21566,15892.0,DEBIT,NaN,CASH WITHDRAWAL,1995-01-11,30,96
21567,644.0,DEBIT,,REMITTANCE TO ANOTHER BANK,1995-01-11,30,96
21568,44221.0,CREDIT,NaN,COLLECTION FROM ANOTHER BANK,1995-01-11,30,96
21569,2100.0,DEBIT,NaN,CASH WITHDRAWAL,1995-01-13,30,96
21570,908.0,DEBIT,HOUSEHOLD,REMITTANCE TO ANOTHER BANK,1995-01-14,30,96
21571,1800.0,DEBIT,NaN,CASH WITHDRAWAL,1995-01-17,30,96
21572,2700.0,DEBIT,NaN,CASH WITHDRAWAL,1995-01-24,30,96
21573,8400.0,DEBIT,NaN,CASH WITHDRAWAL,1995-01-27,30,96
21574,3000.0,DEBIT,NaN,CASH WITHDRAWAL,1995-01-29,30,96
21575,14.6,DEBIT,PAYMENT ON STATEMENT,CASH WITHDRAWAL,1995-01-31,30,96
21576,240.8,CREDIT,INTEREST CREDITED,NaN,1995-01-31,30,96
21577,46.0,DEBIT,INSURANCE PAYMENT,REMITTANCE TO ANOTHER BANK,1995-02-08,30,96
21578,10900.0,DEBIT,NaN,CASH WITHDRAWAL,1995-02-08,30,96
21579,44221.0,CREDIT,NaN,COLLECTION FROM ANOTHER BANK,1995-02-11,30,96
21580,2140.0,DEBIT,,REMITTANCE TO ANOTHER BANK,1995-02-11,30,96
21581,644.0,DEBIT,,REMITTANCE TO ANOTHER BANK,1995-02-11,30,96
21582,908.0,DEBIT,HOUSEHOLD,REMITTANCE TO ANOTHER BANK,1995-02-14,30,96
21583,14.6,DEBIT,PAYMENT ON STATEMENT,CASH WITHDRAWAL,1995-02-28,30,96
21584,275.5,CREDIT,INTEREST CREDITED,NaN,1995-02-28,30,96
21585,46.0,DEBIT,INSURANCE PAYMENT,REMITTANCE TO ANOTHER BANK,1995-03-08,30,96
21586,22900.0,DEBIT,NaN,CASH WITHDRAWAL,1995-03-10,30,96
21587,2140.0,DEBIT,,REMITTANCE TO ANOTHER BANK,1995-03-11,30,96
21588,644.0,DEBIT,,REMITTANCE TO ANOTHER BANK,1995-03-11,30,96
21589,44221.0,CREDIT,NaN,COLLECTION FROM ANOTHER BANK,1995-03-11,30,96
21590,908.0,DEBIT,HOUSEHOLD,REMITTANCE TO ANOTHER BANK,1995-03-14,30,96
21591,7824.0,DEBIT,NaN,CASH WITHDRAWAL,1995-03-27,30,96
21592,14.6,DEBIT,PAYMENT ON STATEMENT,CASH WITHDRAWAL,1995-03-31,30,96
21593,366.4,CREDIT,INTEREST CREDITED,NaN,1995-03-31,30,96
21594,46.0,DEBIT,INSURANCE PAYMENT,REMITTANCE TO ANOTHER BANK,1995-04-08,30,96
21595,27800.0,DEBIT,NaN,CASH WITHDRAWAL,1995-04-09,30,96
21596,2140.0,DEBIT,,REMITTANCE TO ANOTHER BANK,1995-04-11,30,96
21597,44221.0,CREDIT,NaN,COLLECTION FROM ANOTHER BANK,1995-04-11,30,96
21598,644.0,DEBIT,,REMITTANCE TO ANOTHER BANK,1995-04-11,30,96
21599,908.0,DEBIT,HOUSEHOLD,REMITTANCE TO ANOTHER BANK,1995-04-14,30,96
21600,14.6,DEBIT,PAYMENT ON STATEMENT,CASH WITHDRAWAL,1995-04-30,30,96
21601,4652.0,DEBIT,NaN,CASH WITHDRAWAL,1995-04-30,30,96
21602,394.0,CREDIT,INTEREST CREDITED,NaN,1995-04-30,30,96
21603,2289.0,DEBIT,NaN,CASH WITHDRAWAL,1995-05-08,30,96
21604,46.0,DEBIT,INSURANCE PAYMENT,REMITTANCE TO ANOTHER BANK,1995-05-08,30,96
21605,31700.0,DEBIT,NaN,CASH WITHDRAWAL,1995-05-09,30,96
21606,644.0,DEBIT,,REMITTANCE TO ANOTHER BANK,1995-05-11,30,96
21607,47700.0,DEBIT,NaN,CASH WITHDRAWAL,1995-05-11,30,96
21608,2140.0,DEBIT,,REMITTANCE TO ANOTHER BANK,1995-05-11,30,96
21609,44221.0,CREDIT,NaN,COLLECTION FROM ANOTHER BANK,1995-05-11,30,96
21610,908.0,DEBIT,HOUSEHOLD,REMITTANCE TO ANOTHER BANK,1995-05-14,30,96
21611,14.6,DEBIT,PAYMENT ON STATEMENT,CASH WITHDRAWAL,1995-05-31,30,96
21612,276.3,CREDIT,INTEREST CREDITED,NaN,1995-05-31,30,96
21613,15720.0,DEBIT,NaN,CASH WITHDRAWAL,1995-06-01,30,96
21614,11100.0,DEBIT,NaN,CASH WITHDRAWAL,1995-06-07,30,96
21615,46.0,DEBIT,INSURANCE PAYMENT,REMITTANCE TO ANOTHER BANK,1995-06-08,30,96
21616,4700.0,CREDIT,NaN,CREDIT IN CASH,1995-06-08,30,96
21617,2140.0,DEBIT,,REMITTANCE TO ANOTHER BANK,1995-06-11,30,96
21618,66332.0,CREDIT,NaN,COLLECTION FROM ANOTHER BANK,1995-06-11,30,96
21619,644.0,DEBIT,,REMITTANCE TO ANOTHER BANK,1995-06-11,30,96
21620,908.0,DEBIT,HOUSEHOLD,REMITTANCE TO ANOTHER BANK,1995-06-14,30,96
21621,67500.0,DEBIT,NaN,CASH WITHDRAWAL,1995-06-27,30,96
21622,14.6,DEBIT,PAYMENT ON STATEMENT,CASH WITHDRAWAL,1995-06-30,30,96
21623,293.4,CREDIT,INTEREST CREDITED,NaN,1995-06-30,30,96
21624,46.0,DEBIT,INSURANCE PAYMENT,REMITTANCE TO ANOTHER BANK,1995-07-08,30,96
21625,4500.0,CREDIT,NaN,CREDIT IN CASH,1995-07-08,30,96
21626,644.0,DEBIT,,REMITTANCE TO ANOTHER BANK,1995-07-11,30,96
21627,2140.0,DEBIT,,REMITTANCE TO ANOTHER BANK,1995-07-11,30,96
21628,44221.0,CREDIT,NaN,COLLECTION FROM ANOTHER BANK,1995-07-11,30,96
21629,908.0,DEBIT,HOUSEHOLD,REMITTANCE TO ANOTHER BANK,1995-07-14,30,96
21630,24690.0,DEBIT,NaN,CASH WITHDRAWAL,1995-07-21,30,96
21631,23497.0,DEBIT,NaN,CASH WITHDRAWAL,1995-07-26,30,96
21632,14.6,DEBIT,PAYMENT ON STATEMENT,CASH WITHDRAWAL,1995-07-31,30,96
21633,194.3,CREDIT,INTEREST CREDITED,NaN,1995-07-31,30,96
21634,6700.0,CREDIT,NaN,CREDIT IN CASH,1995-08-07,30,96
21635,46.0,DEBIT,INSURANCE PAYMENT,REMITTANCE TO ANOTHER BANK,1995-08-08,30,96
21636,2140.0,DEBIT,,REMITTANCE TO ANOTHER BANK,1995-08-11,30,96
21637,44221.0,CREDIT,NaN,COLLECTION FROM ANOTHER BANK,1995-08-11,30,96
21638,644.0,DEBIT,,REMITTANCE TO ANOTHER BANK,1995-08-11,30,96
21639,908.0,DEBIT,HOUSEHOLD,REMITTANCE TO ANOTHER BANK,1995-08-14,30,96
21640,19304.0,DEBIT,NaN,CASH WITHDRAWAL,1995-08-20,30,96
21641,14.6,DEBIT,PAYMENT ON STATEMENT,CASH WITHDRAWAL,1995-08-31,30,96
21642,211.8,CREDIT,INTEREST CREDITED,NaN,1995-08-31,30,96
21643,11700.0,DEBIT,NaN,CASH WITHDRAWAL,1995-09-06,30,96
21644,46.0,DEBIT,INSURANCE PAYMENT,REMITTANCE TO ANOTHER BANK,1995-09-08,30,96
21645,644.0,DEBIT,,REMITTANCE TO ANOTHER BANK,1995-09-11,30,96
21646,44221.0,CREDIT,NaN,COLLECTION FROM ANOTHER BANK,1995-09-11,30,96
21647,2140.0,DEBIT,,REMITTANCE TO ANOTHER BANK,1995-09-11,30,96
21648,908.0,DEBIT,HOUSEHOLD,REMITTANCE TO ANOTHER BANK,1995-09-14,30,96
21649,15859.0,DEBIT,NaN,CASH WITHDRAWAL,1995-09-26,30,96
21650,14.6,DEBIT,PAYMENT ON STATEMENT,CASH WITHDRAWAL,1995-09-30,30,96
21651,289.2,CREDIT,INTEREST CREDITED,NaN,1995-09-30,30,96
21652,13900.0,DEBIT,NaN,CASH WITHDRAWAL,1995-10-06,30,96
21653,46.0,DEBIT,INSURANCE PAYMENT,REMITTANCE TO ANOTHER BANK,1995-10-08,30,96
21654,644.0,DEBIT,,REMITTANCE TO ANOTHER BANK,1995-10-11,30,96
21655,2140.0,DEBIT,,REMITTANCE TO ANOTHER BANK,1995-10-11,30,96
21656,44221.0,CREDIT,NaN,COLLECTION FROM ANOTHER BANK,1995-10-11,30,96
21657,908.0,DEBIT,HOUSEHOLD,REMITTANCE TO ANOTHER BANK,1995-10-14,30,96
21658,24418.0,DEBIT,NaN,CASH WITHDRAWAL,1995-10-26,30,96
21659,6518.0,DEBIT,NaN,CASH WITHDRAWAL,1995-10-27,30,96
21660,14.6,DEBIT,PAYMENT ON STATEMENT,CASH WITHDRAWAL,1995-10-31,30,96
21661,324.5,CREDIT,INTEREST CREDITED,NaN,1995-10-31,30,96
21662,14500.0,DEBIT,NaN,CASH WITHDRAWAL,1995-11-05,30,96
21663,46.0,DEBIT,INSURANCE PAYMENT,REMITTANCE TO ANOTHER BANK,1995-11-08,30,96
21664,2140.0,DEBIT,,REMITTANCE TO ANOTHER BANK,1995-11-11,30,96
21665,644.0,DEBIT,,REMITTANCE TO ANOTHER BANK,1995-11-11,30,96
21666,44221.0,CREDIT,NaN,COLLECTION FROM ANOTHER BANK,1995-11-11,30,96
21667,908.0,DEBIT,HOUSEHOLD,REMITTANCE TO ANOTHER BANK,1995-11-14,30,96
21668,22130.0,DEBIT,NaN,CASH WITHDRAWAL,1995-11-18,30,96
21669,3000.0,DEBIT,NaN,CREDIT CARD WITHDRAWAL,1995-11-21,30,96
21670,11100.0,DEBIT,NaN,CASH WITHDRAWAL,1995-11-24,30,96
21671,14.6,DEBIT,PAYMENT ON STATEMENT,CASH WITHDRAWAL,1995-11-30,30,96
21672,273.1,CREDIT,INTEREST CREDITED,NaN,1995-11-30,30,96
21673,7500.0,DEBIT,NaN,CASH WITHDRAWAL,1995-12-02,30,96
21674,3100.0,DEBIT,NaN,CREDIT CARD WITHDRAWAL,1995-12-05,30,96
21675,46.0,DEBIT,INSURANCE PAYMENT,REMITTANCE TO ANOTHER BANK,1995-12-08,30,96
21676,644.0,DEBIT,,REMITTANCE TO ANOTHER BANK,1995-12-11,30,96
21677,66332.0,CREDIT,NaN,COLLECTION FROM ANOTHER BANK,1995-12-11,30,96
21678,2140.0,DEBIT,,REMITTANCE TO ANOTHER BANK,1995-12-11,30,96
21679,908.0,DEBIT,HOUSEHOLD,REMITTANCE TO ANOTHER BANK,1995-12-14,30,96
21680,14.6,DEBIT,PAYMENT ON STATEMENT,CASH WITHDRAWAL,1995-12-31,30,96
21681,359.5,CREDIT,INTEREST CREDITED,NaN,1995-12-31,30,96
21682,31400.0,DEBIT,NaN,CASH WITHDRAWAL,1996-01-04,30,96
21683,3300.0,DEBIT,NaN,CREDIT CARD WITHDRAWAL,1996-01-07,30,96
21684,46.0,DEBIT,INSURANCE PAYMENT,REMITTANCE TO ANOTHER BANK,1996-01-08,30,96
21685,1500.0,DEBIT,NaN,CREDIT CARD WITHDRAWAL,1996-01-09,30,96

Account id: 2342

,amount,type,k_symbol,operation,datetime,age,account_id
508349,400.0,CREDIT,NaN,CREDIT IN CASH,1993-02-11,25,2342
508350,3247.0,CREDIT,NaN,COLLECTION FROM ANOTHER BANK,1993-03-05,25,2342
508351,3247.0,CREDIT,NaN,COLLECTION FROM ANOTHER BANK,1993-04-05,25,2342
508352,3247.0,CREDIT,NaN,COLLECTION FROM ANOTHER BANK,1993-05-05,25,2342
508353,3247.0,CREDIT,NaN,COLLECTION FROM ANOTHER BANK,1993-06-05,25,2342
508354,3247.0,CREDIT,NaN,COLLECTION FROM ANOTHER BANK,1993-07-05,25,2342
508355,2164.0,DEBIT,HOUSEHOLD,REMITTANCE TO ANOTHER BANK,1993-07-12,25,2342
508356,14.6,DEBIT,PAYMENT ON STATEMENT,CASH WITHDRAWAL,1993-07-31,25,2342
508357,38.9,CREDIT,INTEREST CREDITED,NaN,1993-07-31,25,2342
508358,3247.0,CREDIT,NaN,COLLECTION FROM ANOTHER BANK,1993-08-05,25,2342
508359,2164.0,DEBIT,HOUSEHOLD,REMITTANCE TO ANOTHER BANK,1993-08-12,25,2342
508360,14.6,DEBIT,PAYMENT ON STATEMENT,CASH WITHDRAWAL,1993-08-31,25,2342
508361,63.3,CREDIT,INTEREST CREDITED,NaN,1993-08-31,25,2342
508362,3247.0,CREDIT,NaN,COLLECTION FROM ANOTHER BANK,1993-09-05,25,2342
508363,2164.0,DEBIT,HOUSEHOLD,REMITTANCE TO ANOTHER BANK,1993-09-12,25,2342
508364,14.6,DEBIT,PAYMENT ON STATEMENT,CASH WITHDRAWAL,1993-09-30,25,2342
508365,68.0,CREDIT,INTEREST CREDITED,NaN,1993-09-30,25,2342
508366,3247.0,CREDIT,NaN,COLLECTION FROM ANOTHER BANK,1993-10-05,25,2342
508367,180.0,DEBIT,NaN,CASH WITHDRAWAL,1993-10-10,25,2342
508368,630.0,DEBIT,NaN,CASH WITHDRAWAL,1993-10-11,25,2342
508369,2164.0,DEBIT,HOUSEHOLD,REMITTANCE TO ANOTHER BANK,1993-10-12,25,2342
508370,14.6,DEBIT,PAYMENT ON STATEMENT,CASH WITHDRAWAL,1993-10-31,25,2342
508371,71.3,CREDIT,INTEREST CREDITED,NaN,1993-10-31,25,2342
508372,3247.0,CREDIT,NaN,COLLECTION FROM ANOTHER BANK,1993-11-05,25,2342
508373,180.0,DEBIT,NaN,CASH WITHDRAWAL,1993-11-09,25,2342
508374,2164.0,DEBIT,HOUSEHOLD,REMITTANCE TO ANOTHER BANK,1993-11-12,25,2342
508375,14.6,DEBIT,PAYMENT ON STATEMENT,CASH WITHDRAWAL,1993-11-30,25,2342
508376,74.9,CREDIT,INTEREST CREDITED,NaN,1993-11-30,25,2342
508377,240.0,DEBIT,NaN,CASH WITHDRAWAL,1993-12-03,25,2342
508378,3247.0,CREDIT,NaN,COLLECTION FROM ANOTHER BANK,1993-12-05,25,2342
508379,2164.0,DEBIT,HOUSEHOLD,REMITTANCE TO ANOTHER BANK,1993-12-12,25,2342
508380,14.6,DEBIT,PAYMENT ON STATEMENT,CASH WITHDRAWAL,1993-12-31,25,2342
508381,80.3,CREDIT,INTEREST CREDITED,NaN,1993-12-31,25,2342
508382,3247.0,CREDIT,NaN,COLLECTION FROM ANOTHER BANK,1994-01-05,25,2342
508383,810.0,DEBIT,NaN,CASH WITHDRAWAL,1994-01-12,25,2342
508384,2164.0,DEBIT,HOUSEHOLD,REMITTANCE TO ANOTHER BANK,1994-01-12,25,2342
508385,660.0,DEBIT,NaN,CASH WITHDRAWAL,1994-01-13,25,2342
508386,210.0,DEBIT,NaN,CASH WITHDRAWAL,1994-01-15,25,2342
508387,420.0,DEBIT,NaN,CASH WITHDRAWAL,1994-01-21,25,2342
508388,870.0,DEBIT,NaN,CASH WITHDRAWAL,1994-01-22,25,2342
508389,630.0,DEBIT,NaN,CASH WITHDRAWAL,1994-01-24,25,2342
508390,1950.0,DEBIT,NaN,CASH WITHDRAWAL,1994-01-27,25,2342
508391,1410.0,DEBIT,NaN,CASH WITHDRAWAL,1994-01-27,25,2342
508392,14.6,DEBIT,PAYMENT ON STATEMENT,CASH WITHDRAWAL,1994-01-31,25,2342
508393,73.0,CREDIT,INTEREST CREDITED,NaN,1994-01-31,25,2342
508394,3247.0,CREDIT,NaN,COLLECTION FROM ANOTHER BANK,1994-02-05,25,2342
508395,690.0,DEBIT,NaN,CASH WITHDRAWAL,1994-02-09,25,2342
508396,2164.0,DEBIT,HOUSEHOLD,REMITTANCE TO ANOTHER BANK,1994-02-12,25,2342
508397,14.6,DEBIT,PAYMENT ON STATEMENT,CASH WITHDRAWAL,1994-02-28,25,2342
508398,56.9,CREDIT,INTEREST CREDITED,NaN,1994-02-28,25,2342
508399,3247.0,CREDIT,NaN,COLLECTION FROM ANOTHER BANK,1994-03-05,25,2342
508400,2164.0,DEBIT,HOUSEHOLD,REMITTANCE TO ANOTHER BANK,1994-03-12,25,2342
508401,14.6,DEBIT,PAYMENT ON STATEMENT,CASH WITHDRAWAL,1994-03-31,25,2342
508402,59.5,CREDIT,INTEREST CREDITED,NaN,1994-03-31,25,2342
508403,3247.0,CREDIT,NaN,COLLECTION FROM ANOTHER BANK,1994-04-05,25,2342
508404,2164.0,DEBIT,HOUSEHOLD,REMITTANCE TO ANOTHER BANK,1994-04-12,25,2342
508405,14.6,DEBIT,PAYMENT ON STATEMENT,CASH WITHDRAWAL,1994-04-30,25,2342
508406,64.1,CREDIT,INTEREST CREDITED,NaN,1994-04-30,25,2342
508407,3247.0,CREDIT,NaN,COLLECTION FROM ANOTHER BANK,1994-05-05,25,2342
508408,2164.0,DEBIT,HOUSEHOLD,REMITTANCE TO ANOTHER BANK,1994-05-12,25,2342
508409,14.6,DEBIT,PAYMENT ON STATEMENT,CASH WITHDRAWAL,1994-05-31,25,2342
508410,68.9,CREDIT,INTEREST CREDITED,NaN,1994-05-31,25,2342
508411,3247.0,CREDIT,NaN,COLLECTION FROM ANOTHER BANK,1994-06-05,25,2342
508412,2164.0,DEBIT,HOUSEHOLD,REMITTANCE TO ANOTHER BANK,1994-06-12,25,2342
508413,1290.0,DEBIT,NaN,CASH WITHDRAWAL,1994-06-25,25,2342
508414,14.6,DEBIT,PAYMENT ON STATEMENT,CASH WITHDRAWAL,1994-06-30,25,2342
508415,72.5,CREDIT,INTEREST CREDITED,NaN,1994-06-30,25,2342
508416,3247.0,CREDIT,NaN,COLLECTION FROM ANOTHER BANK,1994-07-05,25,2342
508417,2164.0,DEBIT,HOUSEHOLD,REMITTANCE TO ANOTHER BANK,1994-07-12,25,2342
508418,14.6,DEBIT,PAYMENT ON STATEMENT,CASH WITHDRAWAL,1994-07-31,25,2342
508419,73.0,CREDIT,INTEREST CREDITED,NaN,1994-07-31,25,2342
508420,3247.0,CREDIT,NaN,COLLECTION FROM ANOTHER BANK,1994-08-05,25,2342
508421,840.0,DEBIT,NaN,CASH WITHDRAWAL,1994-08-08,25,2342
508422,2164.0,DEBIT,HOUSEHOLD,REMITTANCE TO ANOTHER BANK,1994-08-12,25,2342
508423,14.6,DEBIT,PAYMENT ON STATEMENT,CASH WITHDRAWAL,1994-08-31,25,2342
508424,76.8,CREDIT,INTEREST CREDITED,NaN,1994-08-31,25,2342
508425,3247.0,CREDIT,NaN,COLLECTION FROM ANOTHER BANK,1994-09-05,25,2342
508426,2164.0,DEBIT,HOUSEHOLD,REMITTANCE TO ANOTHER BANK,1994-09-12,25,2342
508427,14.6,DEBIT,PAYMENT ON STATEMENT,CASH WITHDRAWAL,1994-09-30,25,2342
508428,78.9,CREDIT,INTEREST CREDITED,NaN,1994-09-30,25,2342
508429,3247.0,CREDIT,NaN,COLLECTION FROM ANOTHER BANK,1994-10-05,25,2342
508430,2164.0,DEBIT,HOUSEHOLD,REMITTANCE TO ANOTHER BANK,1994-10-12,25,2342
508431,14.6,DEBIT,PAYMENT ON STATEMENT,CASH WITHDRAWAL,1994-10-31,25,2342
508432,83.7,CREDIT,INTEREST CREDITED,NaN,1994-10-31,25,2342
508433,3247.0,CREDIT,NaN,COLLECTION FROM ANOTHER BANK,1994-11-05,25,2342
508434,2164.0,DEBIT,HOUSEHOLD,REMITTANCE TO ANOTHER BANK,1994-11-12,25,2342
508435,14.6,DEBIT,PAYMENT ON STATEMENT,CASH WITHDRAWAL,1994-11-30,25,2342
508436,88.5,CREDIT,INTEREST CREDITED,NaN,1994-11-30,25,2342
508437,150.0,DEBIT,NaN,CASH WITHDRAWAL,1994-12-01,25,2342
508438,3247.0,CREDIT,NaN,COLLECTION FROM ANOTHER BANK,1994-12-05,25,2342
508439,2164.0,DEBIT,HOUSEHOLD,REMITTANCE TO ANOTHER BANK,1994-12-12,25,2342
508440,1050.0,DEBIT,NaN,CASH WITHDRAWAL,1994-12-24,25,2342
508441,14.6,DEBIT,PAYMENT ON STATEMENT,CASH WITHDRAWAL,1994-12-31,25,2342
508442,94.7,CREDIT,INTEREST CREDITED,NaN,1994-12-31,25,2342
508443,400.0,DEBIT,NaN,CASH WITHDRAWAL,1995-01-02,25,2342
508444,690.0,DEBIT,NaN,CASH WITHDRAWAL,1995-01-03,25,2342
508445,510.0,DEBIT,NaN,CASH WITHDRAWAL,1995-01-04,25,2342
508446,3247.0,CREDIT,NaN,COLLECTION FROM ANOTHER BANK,1995-01-05,25,2342
508447,360.0,DEBIT,NaN,CASH WITHDRAWAL,1995-01-07,25,2342
508448,390.0,DEBIT,NaN,CASH WITHDRAWAL,1995-01-11,25,2342
508449,870.0,DEBIT,NaN,CASH WITHDRAWAL,1995-01-11,25,2342
508450,2164.0,DEBIT,HOUSEHOLD,REMITTANCE TO ANOTHER BANK,1995-01-12,25,2342
508451,1200.0,DEBIT,NaN,CASH WITHDRAWAL,1995-01-21,25,2342
508452,600.0,DEBIT,NaN,CASH WITHDRAWAL,1995-01-29,25,2342
508453,14.6,DEBIT,PAYMENT ON STATEMENT,CASH WITHDRAWAL,1995-01-31,25,2342
508454,83.3,CREDIT,INTEREST CREDITED,NaN,1995-01-31,25,2342
508455,3247.0,CREDIT,NaN,COLLECTION FROM ANOTHER BANK,1995-02-05,25,2342
508456,2164.0,DEBIT,HOUSEHOLD,REMITTANCE TO ANOTHER BANK,1995-02-12,25,2342
508457,14.6,DEBIT,PAYMENT ON STATEMENT,CASH WITHDRAWAL,1995-02-28,25,2342
508458,76.8,CREDIT,INTEREST CREDITED,NaN,1995-02-28,25,2342
508459,3247.0,CREDIT,NaN,COLLECTION FROM ANOTHER BANK,1995-03-05,25,2342
508460,2164.0,DEBIT,HOUSEHOLD,REMITTANCE TO ANOTHER BANK,1995-03-12,25,2342
508461,630.0,DEBIT,NaN,CASH WITHDRAWAL,1995-03-20,25,2342
508462,14.6,DEBIT,PAYMENT ON STATEMENT,CASH WITHDRAWAL,1995-03-31,25,2342
508463,80.7,CREDIT,INTEREST CREDITED,NaN,1995-03-31,25,2342
508464,3247.0,CREDIT,NaN,COLLECTION FROM ANOTHER BANK,1995-04-05,25,2342
508465,2164.0,DEBIT,HOUSEHOLD,REMITTANCE TO ANOTHER BANK,1995-04-12,25,2342
508466,14.6,DEBIT,PAYMENT ON STATEMENT,CASH WITHDRAWAL,1995-04-30,25,2342
508467,83.8,CREDIT,INTEREST CREDITED,NaN,1995-04-30,25,2342
508468,3247.0,CREDIT,NaN,COLLECTION FROM ANOTHER BANK,1995-05-05,25,2342
508469,2164.0,DEBIT,HOUSEHOLD,REMITTANCE TO ANOTHER BANK,1995-05-12,25,2342
508470,14.6,DEBIT,PAYMENT ON STATEMENT,CASH WITHDRAWAL,1995-05-31,25,2342
508471,88.7,CREDIT,INTEREST CREDITED,NaN,1995-05-31,25,2342
508472,3247.0,CREDIT,NaN,COLLECTION FROM ANOTHER BANK,1995-06-05,25,2342
508473,2164.0,DEBIT,HOUSEHOLD,REMITTANCE TO ANOTHER BANK,1995-06-12,25,2342
508474,3390.0,DEBIT,NaN,CASH WITHDRAWAL,1995-06-13,25,2342
508475,870.0,DEBIT,NaN,CASH WITHDRAWAL,1995-06-17,25,2342
508476,210.0,DEBIT,NaN,CASH WITHDRAWAL,1995-06-21,25,2342
508477,14.6,DEBIT,PAYMENT ON STATEMENT,CASH WITHDRAWAL,1995-06-30,25,2342
508478,83.0,CREDIT,INTEREST CREDITED,NaN,1995-06-30,25,2342
508479,3247.0,CREDIT,NaN,COLLECTION FROM ANOTHER BANK,1995-07-05,25,2342
508480,2164.0,DEBIT,HOUSEHOLD,REMITTANCE TO ANOTHER BANK,1995-07-12,25,2342
508481,14.6,DEBIT,PAYMENT ON STATEMENT,CASH WITHDRAWAL,1995-07-31,25,2342
508482,79.6,CREDIT,INTEREST CREDITED,NaN,1995-07-31,25,2342
508483,3247.0,CREDIT,NaN,COLLECTION FROM ANOTHER BANK,1995-08-05,25,2342
508484,2164.0,DEBIT,HOUSEHOLD,REMITTANCE TO ANOTHER BANK,1995-08-12,25,2342
508485,14.6,DEBIT,PAYMENT ON STATEMENT,CASH WITHDRAWAL,1995-08-31,25,2342
508486,84.4,CREDIT,INTEREST CREDITED,NaN,1995-08-31,25,2342
508487,3247.0,CREDIT,NaN,COLLECTION FROM ANOTHER BANK,1995-09-05,25,2342
508488,2164.0,DEBIT,HOUSEHOLD,REMITTANCE TO ANOTHER BANK,1995-09-12,25,2342
508489,14.6,DEBIT,PAYMENT ON STATEMENT,CASH WITHDRAWAL,1995-09-30,25,2342
508490,89.1,CREDIT,INTEREST CREDITED,NaN,1995-09-30,25,2342
508491,3247.0,CREDIT,NaN,COLLECTION FROM ANOTHER BANK,1995-10-05,25,2342
508492,2164.0,DEBIT,HOUSEHOLD,REMITTANCE TO ANOTHER BANK,1995-10-12,25,2342
508493,14.6,DEBIT,PAYMENT ON STATEMENT,CASH WITHDRAWAL,1995-10-31,25,2342
508494,93.9,CREDIT,INTEREST CREDITED,NaN,1995-10-31,25,2342
508495,3247.0,CREDIT,NaN,COLLECTION FROM ANOTHER BANK,1995-11-05,25,2342
508496,2164.0,DEBIT,HOUSEHOLD,REMITTANCE TO ANOTHER BANK,1995-11-12,25,2342
508497,690.0,DEBIT,NaN,CASH WITHDRAWAL,1995-11-17,25,2342
508498,14.6,DEBIT,PAYMENT ON STATEMENT,CASH WITHDRAWAL,1995-11-30,25,2342
508499,97.3,CREDIT,INTEREST CREDITED,NaN,1995-11-30,25,2342
508500,240.0,DEBIT,NaN,CASH WITHDRAWAL,1995-12-02,25,2342
508501,3247.0,CREDIT,NaN,COLLECTION FROM ANOTHER BANK,1995-12-05,25,2342
508502,2164.0,DEBIT,HOUSEHOLD,REMITTANCE TO ANOTHER BANK,1995-12-12,25,2342
508503,900.0,DEBIT,NaN,CASH WITHDRAWAL,1995-12-23,25,2342
508504,14.6,DEBIT,PAYMENT ON STATEMENT,CASH WITHDRAWAL,1995-12-31,25,2342
508505,101.8,CREDIT,INTEREST CREDITED,NaN,1995-12-31,25,2342
508506,600.0,DEBIT,NaN,CASH WITHDRAWAL,1996-01-01,25,2342
508507,720.0,DEBIT,NaN,CASH WITHDRAWAL,1996-01-02,25,2342
508508,750.0,DEBIT,NaN,CASH WITHDRAWAL,1996-01-04,25,2342
508509,3247.0,CREDIT,NaN,COLLECTION FROM ANOTHER BANK,1996-01-05,25,2342
508510,2164.0,DEBIT,HOUSEHOLD,REMITTANCE TO ANOTHER BANK,1996-01-12,25,2342
508511,540.0,DEBIT,NaN,CASH WITHDRAWAL,1996-01-17,25,2342
508512,570.0,DEBIT,NaN,CASH WITHDRAWAL,1996-01-25,25,2342
508513,390.0,DEBIT,NaN,CASH WITHDRAWAL,1996-01-28,25,2342
508514,270.0,DEBIT,NaN,CASH WITHDRAWAL,1996-01-28,25,2342
508515,14.6,DEBIT,PAYMENT ON STATEMENT,CASH WITHDRAWAL,1996-01-31,25,2342
508516,93.8,CREDIT,INTEREST CREDITED,NaN,1996-01-31,25,2342
508517,3247.0,CREDIT,NaN,COLLECTION FROM ANOTHER BANK,1996-02-05,25,2342
508518,2164.0,DEBIT,HOUSEHOLD,REMITTANCE TO ANOTHER BANK,1996-02-12,25,2342
508519,14.6,DEBIT,PAYMENT ON STATEMENT,CASH WITHDRAWAL,1996-02-29,25,2342
508520,89.5,CREDIT,INTEREST CREDITED,NaN,1996-02-29,25,2342
508521,690.0,DEBIT,NaN,CASH WITHDRAWAL,1996-03-04,25,2342
508522,3247.0,CREDIT,NaN,COLLECTION FROM ANOTHER BANK,1996-03-05,25,2342
508523,2164.0,DEBIT,HOUSEHOLD,REMITTANCE TO ANOTHER BANK,1996-03-12,25,2342
508524,14.6,DEBIT,PAYMENT ON STATEMENT,CASH WITHDRAWAL,1996-03-31,25,2342
508525,94.9,CREDIT,INTEREST CREDITED,NaN,1996-03-31,25,2342
508526,3247.0,CREDIT,NaN,COLLECTION FROM ANOTHER BANK,1996-04-05,25,2342
508527,2164.0,DEBIT,HOUSEHOLD,REMITTANCE TO ANOTHER BANK,1996-04-12,25,2342
508528,1020.0,DEBIT,NaN,CASH WITHDRAWAL,1996-04-29,25,2342
508529,14.6,DEBIT,PAYMENT ON STATEMENT,CASH WITHDRAWAL,1996-04-30,25,2342
508530,96.0,CREDIT,INTEREST CREDITED,NaN,1996-04-30,25,2342
508531,3247.0,CREDIT,NaN,COLLECTION FROM ANOTHER BANK,1996-05-05,25,2342
508532,2164.0,DEBIT,HOUSEHOLD,REMITTANCE TO ANOTHER BANK,1996-05-12,25,2342
508533,1050.0,DEBIT,NaN,CASH WITHDRAWAL,1996-05-12,25,2342
508534,14.6,DEBIT,PAYMENT ON STATEMENT,CASH WITHDRAWAL,1996-05-31,25,2342
508535,99.6,CREDIT,INTEREST CREDITED,NaN,1996-05-31,25,2342
508536,1290.0,DEBIT,NaN,CASH WITHDRAWAL,1996-06-04,25,2342
508537,3247.0,CREDIT,NaN,COLLECTION FROM ANOTHER BANK,1996-06-05,25,2342
508538,2164.0,DEBIT,HOUSEHOLD,REMITTANCE TO ANOTHER BANK,1996-06-12,25,2342
508539,14.6,DEBIT,PAYMENT ON STATEMENT,CASH WITHDRAWAL,1996-06-30,25,2342
508540,95.7,CREDIT,INTEREST CREDITED,NaN,1996-06-30,25,2342
508541,3247.0,CREDIT,NaN,COLLECTION FROM ANOTHER BANK,1996-07-05,25,2342
508542,990.0,DEBIT,NaN,CASH WITHDRAWAL,1996-07-08,25,2342
508543,2164.0,DEBIT,HOUSEHOLD,REMITTANCE TO ANOTHER BANK,1996-07-12,25,2342
508544,14.6,DEBIT,PAYMENT ON STATEMENT,CASH WITHDRAWAL,1996-07-31,25,2342
508545,95.3,CREDIT,INTEREST CREDITED,NaN,1996-07-31,25,2342
508546,960.0,DEBIT,NaN,CASH WITHDRAWAL,1996-08-02,25,2342
508547,3247.0,CREDIT,NaN,COLLECTION FROM ANOTHER BANK,1996-08-05,25,2342
508548,960.0,DEBIT,NaN,CASH WITHDRAWAL,1996-08-12,25,2342
508549,2164.0,DEBIT,HOUSEHOLD,REMITTANCE TO ANOTHER BANK,1996-08-12,25,2342
508550,360.0,DEBIT,NaN,CASH WITHDRAWAL,1996-08-20,25,2342
508551,14.6,DEBIT,PAYMENT ON STATEMENT,CASH WITHDRAWAL,1996-08-31,25,2342
508552,96.1,CREDIT,INTEREST CREDITED,NaN,1996-08-31,25,2342
508553,3247.0,CREDIT,NaN,COLLECTION FROM ANOTHER BANK,1996-09-05,25,2342
508554,2164.0,DEBIT,HOUSEHOLD,REMITTANCE TO ANOTHER BANK,1996-09-12,25,2342
508555,14.6,DEBIT,PAYMENT ON STATEMENT,CASH WITHDRAWAL,1996-09-30,25,2342
508556,92.6,CREDIT,INTEREST CREDITED,NaN,1996-09-30,25,2342
508557,3247.0,CREDIT,NaN,COLLECTION FROM ANOTHER BANK,1996-10-05,25,2342
508558,2164.0,DEBIT,HOUSEHOLD,REMITTANCE TO ANOTHER BANK,1996-10-12,25,2342
508559,14.6,DEBIT,PAYMENT ON STATEMENT,CASH WITHDRAWAL,1996-10-31,25,2342
508560,97.5,CREDIT,INTEREST CREDITED,NaN,1996-10-31,25,2342
508561,3247.0,CREDIT,NaN,COLLECTION FROM ANOTHER BANK,1996-11-05,25,2342
508562,2164.0,DEBIT,HOUSEHOLD,REMITTANCE TO ANOTHER BANK,1996-11-12,25,2342
508563,14.6,DEBIT,PAYMENT ON STATEMENT,CASH WITHDRAWAL,1996-11-30,25,2342
508564,102.2,CREDIT,INTEREST CREDITED,NaN,1996-11-30,25,2342
508565,3247.0,CREDIT,NaN,COLLECTION FROM ANOTHER BANK,1996-12-05,25,2342
508566,2164.0,DEBIT,HOUSEHOLD,REMITTANCE TO ANOTHER BANK,1996-12-12,25,2342
508567,510.0,DEBIT,NaN,CASH WITHDRAWAL,1996-12-17,25,2342
508568,14.6,DEBIT,PAYMENT ON STATEMENT,CASH WITHDRAWAL,1996-12-31,25,2342
508569,106.1,CREDIT,INTEREST CREDITED,NaN,1996-12-31,25,2342
508570,210.0,DEBIT,NaN,CASH WITHDRAWAL,1997-01-03,25,2342
508571,3247.0,CREDIT,NaN,COLLECTION FROM ANOTHER BANK,1997-01-05,25,2342
508572,2164.0,DEBIT,HOUSEHOLD,REMITTANCE TO ANOTHER BANK,1997-01-12,25,2342
508573,510.0,DEBIT,NaN,CASH WITHDRAWAL,1997-01-15,25,2342
508574,930.0,DEBIT,NaN,CASH WITHDRAWAL,1997-01-15,25,2342
508575,300.0,DEBIT,NaN,CASH WITHDRAWAL,1997-01-16,25,2342
508576,750.0,DEBIT,NaN,CASH WITHDRAWAL,1997-01-19,25,2342
508577,750.0,DEBIT,NaN,CASH WITHDRAWAL,1997-01-25,25,2342
508578,750.0,DEBIT,NaN,CASH WITHDRAWAL,1997-01-29,25,2342
508579,14.6,DEBIT,PAYMENT ON STATEMENT,CASH WITHDRAWAL,1997-01-31,25,2342
508580,105.8,CREDIT,INTEREST CREDITED,NaN,1997-01-31,25,2342
508581,3247.0,CREDIT,NaN,COLLECTION FROM ANOTHER BANK,1997-02-05,25,2342
508582,2164.0,DEBIT,HOUSEHOLD,REMITTANCE TO ANOTHER BANK,1997-02-12,25,2342
508583,14.6,DEBIT,PAYMENT ON STATEMENT,CASH WITHDRAWAL,1997-02-28,25,2342
508584,97.0,CREDIT,INTEREST CREDITED,NaN,1997-02-28,25,2342
508585,3247.0,CREDIT,NaN,COLLECTION FROM ANOTHER BANK,1997-03-05,25,2342
508586,2164.0,DEBIT,HOUSEHOLD,REMITTANCE TO ANOTHER BANK,1997-03-12,25,2342
508587,14.6,DEBIT,PAYMENT ON STATEMENT,CASH WITHDRAWAL,1997-03-31,25,2342
508588,101.9,CREDIT,INTEREST CREDITED,NaN,1997-03-31,25,2342
508589,3247.0,CREDIT,NaN,COLLECTION FROM ANOTHER BANK,1997-04-05,25,2342
508590,2164.0,DEBIT,HOUSEHOLD,REMITTANCE TO ANOTHER BANK,1997-04-12,25,2342
508591,14.6,DEBIT,PAYMENT ON STATEMENT,CASH WITHDRAWAL,1997-04-30,25,2342
508592,106.7,CREDIT,INTEREST CREDITED,NaN,1997-04-30,25,2342
508593,210.0,DEBIT,NaN,CASH WITHDRAWAL,1997-05-04,25,2342
508594,3247.0,CREDIT,NaN,COLLECTION FROM ANOTHER BANK,1997-05-05,25,2342
508595,2164.0,DEBIT,HOUSEHOLD,REMITTANCE TO ANOTHER BANK,1997-05-12,25,2342
508596,210.0,DEBIT,NaN,CASH WITHDRAWAL,1997-05-22,25,2342
508597,14.6,DEBIT,PAYMENT ON STATEMENT,CASH WITHDRAWAL,1997-05-31,25,2342
508598,113.6,CREDIT,INTEREST CREDITED,NaN,1997-05-31,25,2342
508599,4770.0,DEBIT,NaN,CASH WITHDRAWAL,1997-06-05,25,2342
508600,3247.0,CREDIT,NaN,COLLECTION FROM ANOTHER BANK,1997-06-05,25,2342
508601,2164.0,DEBIT,HOUSEHOLD,REMITTANCE TO ANOTHER BANK,1997-06-12,25,2342
508602,14.6,DEBIT,PAYMENT ON STATEMENT,CASH WITHDRAWAL,1997-06-30,25,2342
508603,105.2,CREDIT,INTEREST CREDITED,NaN,1997-06-30,25,2342
508604,3247.0,CREDIT,NaN,COLLECTION FROM ANOTHER BANK,1997-07-05,25,2342
508605,2164.0,DEBIT,HOUSEHOLD,REMITTANCE TO ANOTHER BANK,1997-07-12,25,2342
508606,900.0,DEBIT,NaN,CASH WITHDRAWAL,1997-07-24,25,2342
508607,930.0,DEBIT,NaN,CASH WITHDRAWAL,1997-07-28,25,2342
508608,14.6,DEBIT,PAYMENT ON STATEMENT,CASH WITHDRAWAL,1997-07-31,25,2342
508609,98.2,CREDIT,INTEREST CREDITED,NaN,1997-07-31,25,2342
508610,3247.0,CREDIT,NaN,COLLECTION FROM ANOTHER BANK,1997-08-05,25,2342
508611,2164.0,DEBIT,HOUSEHOLD,REMITTANCE TO ANOTHER BANK,1997-08-12,25,2342
508612,960.0,DEBIT,NaN,CASH WITHDRAWAL,1997-08-29,25,2342
508613,14.6,DEBIT,PAYMENT ON STATEMENT,CASH WITHDRAWAL,1997-08-31,25,2342
508614,96.4,CREDIT,INTEREST CREDITED,NaN,1997-08-31,25,2342
508615,3247.0,CREDIT,NaN,COLLECTION FROM ANOTHER BANK,1997-09-05,25,2342
508616,2164.0,DEBIT,HOUSEHOLD,REMITTANCE TO ANOTHER BANK,1997-09-12,25,2342
508617,14.6,DEBIT,PAYMENT ON STATEMENT,CASH WITHDRAWAL,1997-09-30,25,2342
508618,97.5,CREDIT,INTEREST CREDITED,NaN,1997-09-30,25,2342
508619,3247.0,CREDIT,NaN,COLLECTION FROM ANOTHER BANK,1997-10-05,25,2342
508620,2164.0,DEBIT,HOUSEHOLD,REMITTANCE TO ANOTHER BANK,1997-10-12,25,2342
508621,14.6,DEBIT,PAYMENT ON STATEMENT,CASH WITHDRAWAL,1997-10-31,25,2342
508622,102.4,CREDIT,INTEREST CREDITED,NaN,1997-10-31,25,2342
508623,3247.0,CREDIT,NaN,COLLECTION FROM ANOTHER BANK,1997-11-05,25,2342
508624,2164.0,DEBIT,HOUSEHOLD,REMITTANCE TO ANOTHER BANK,1997-11-12,25,2342
508625,14.6,DEBIT,PAYMENT ON STATEMENT,CASH WITHDRAWAL,1997-11-30,25,2342
508626,107.1,CREDIT,INTEREST CREDITED,NaN,1997-11-30,25,2342
508627,870.0,DEBIT,NaN,CASH WITHDRAWAL,1997-12-01,25,2342
508628,3247.0,CREDIT,NaN,COLLECTION FROM ANOTHER BANK,1997-12-05,25,2342
508629,630.0,DEBIT,NaN,CASH WITHDRAWAL,1997-12-11,25,2342
508630,2164.0,DEBIT,HOUSEHOLD,REMITTANCE TO ANOTHER BANK,1997-12-12,25,2342
508631,14.6,DEBIT,PAYMENT ON STATEMENT,CASH WITHDRAWAL,1997-12-31,25,2342
508632,110.1,CREDIT,INTEREST CREDITED,NaN,1997-12-31,25,2342
508633,630.0,DEBIT,NaN,CASH WITHDRAWAL,1998-01-04,25,2342
508634,3247.0,CREDIT,NaN,COLLECTION FROM ANOTHER BANK,1998-01-05,25,2342
508635,1590.0,DEBIT,NaN,CASH WITHDRAWAL,1998-01-08,25,2342
508636,2164.0,DEBIT,HOUSEHOLD,REMITTANCE TO ANOTHER BANK,1998-01-12,25,2342
508637,210.0,DEBIT,NaN,CASH WITHDRAWAL,1998-01-15,25,2342
508638,270.0,DEBIT,NaN,CASH WITHDRAWAL,1998-01-15,25,2342
508639,300.0,DEBIT,NaN,CASH WITHDRAWAL,1998-01-15,25,2342
508640,690.0,DEBIT,NaN,CASH WITHDRAWAL,1998-01-17,25,2342
508641,240.0,DEBIT,NaN,CASH WITHDRAWAL,1998-01-26,25,2342
508642,14.6,DEBIT,PAYMENT ON STATEMENT,CASH WITHDRAWAL,1998-01-31,25,2342

Account id: 1316

,amount,type,k_symbol,operation,datetime,age,account_id
287728,300.0,CREDIT,NaN,CREDIT IN CASH,1996-12-13,46,1316
287729,2973.0,CREDIT,NaN,COLLECTION FROM ANOTHER BANK,1997-01-08,46,1316
287730,2973.0,CREDIT,NaN,COLLECTION FROM ANOTHER BANK,1997-02-08,46,1316
287731,2973.0,CREDIT,NaN,COLLECTION FROM ANOTHER BANK,1997-03-08,46,1316
287732,2973.0,CREDIT,NaN,COLLECTION FROM ANOTHER BANK,1997-04-08,46,1316
287733,2973.0,CREDIT,NaN,COLLECTION FROM ANOTHER BANK,1997-05-08,46,1316
287734,1130.0,DEBIT,NaN,REMITTANCE TO ANOTHER BANK,1997-05-10,46,1316
287735,233.0,DEBIT,NaN,REMITTANCE TO ANOTHER BANK,1997-05-12,46,1316
287736,619.0,DEBIT,NaN,REMITTANCE TO ANOTHER BANK,1997-05-12,46,1316
287737,14.6,DEBIT,PAYMENT ON STATEMENT,CASH WITHDRAWAL,1997-05-31,46,1316
287738,40.8,CREDIT,INTEREST CREDITED,NaN,1997-05-31,46,1316
287739,2973.0,CREDIT,NaN,COLLECTION FROM ANOTHER BANK,1997-06-08,46,1316
287740,1130.0,DEBIT,NaN,REMITTANCE TO ANOTHER BANK,1997-06-10,46,1316
287741,233.0,DEBIT,NaN,REMITTANCE TO ANOTHER BANK,1997-06-12,46,1316
287742,619.0,DEBIT,NaN,REMITTANCE TO ANOTHER BANK,1997-06-12,46,1316
287743,14.6,DEBIT,PAYMENT ON STATEMENT,CASH WITHDRAWAL,1997-06-30,46,1316
287744,58.7,CREDIT,INTEREST CREDITED,NaN,1997-06-30,46,1316
287745,2973.0,CREDIT,NaN,COLLECTION FROM ANOTHER BANK,1997-07-08,46,1316
287746,1130.0,DEBIT,NaN,REMITTANCE TO ANOTHER BANK,1997-07-10,46,1316
287747,233.0,DEBIT,NaN,REMITTANCE TO ANOTHER BANK,1997-07-12,46,1316
287748,619.0,DEBIT,NaN,REMITTANCE TO ANOTHER BANK,1997-07-12,46,1316
287749,14.6,DEBIT,PAYMENT ON STATEMENT,CASH WITHDRAWAL,1997-07-31,46,1316
287750,62.5,CREDIT,INTEREST CREDITED,NaN,1997-07-31,46,1316
287751,2973.0,CREDIT,NaN,COLLECTION FROM ANOTHER BANK,1997-08-08,46,1316
287752,1130.0,DEBIT,NaN,REMITTANCE TO ANOTHER BANK,1997-08-10,46,1316
287753,619.0,DEBIT,NaN,REMITTANCE TO ANOTHER BANK,1997-08-12,46,1316
287754,233.0,DEBIT,NaN,REMITTANCE TO ANOTHER BANK,1997-08-12,46,1316
287755,1380.0,DEBIT,NaN,CASH WITHDRAWAL,1997-08-20,46,1316
287756,14.6,DEBIT,PAYMENT ON STATEMENT,CASH WITHDRAWAL,1997-08-31,46,1316
287757,64.9,CREDIT,INTEREST CREDITED,NaN,1997-08-31,46,1316
287758,2973.0,CREDIT,NaN,COLLECTION FROM ANOTHER BANK,1997-09-08,46,1316
287759,1130.0,DEBIT,NaN,REMITTANCE TO ANOTHER BANK,1997-09-10,46,1316
287760,233.0,DEBIT,NaN,REMITTANCE TO ANOTHER BANK,1997-09-12,46,1316
287761,619.0,DEBIT,NaN,REMITTANCE TO ANOTHER BANK,1997-09-12,46,1316
287762,14.6,DEBIT,PAYMENT ON STATEMENT,CASH WITHDRAWAL,1997-09-30,46,1316
287763,66.0,CREDIT,INTEREST CREDITED,NaN,1997-09-30,46,1316
287764,2973.0,CREDIT,NaN,COLLECTION FROM ANOTHER BANK,1997-10-08,46,1316
287765,1130.0,DEBIT,NaN,REMITTANCE TO ANOTHER BANK,1997-10-10,46,1316
287766,233.0,DEBIT,NaN,REMITTANCE TO ANOTHER BANK,1997-10-12,46,1316
287767,619.0,DEBIT,NaN,REMITTANCE TO ANOTHER BANK,1997-10-12,46,1316
287768,14.6,DEBIT,PAYMENT ON STATEMENT,CASH WITHDRAWAL,1997-10-31,46,1316
287769,70.4,CREDIT,INTEREST CREDITED,NaN,1997-10-31,46,1316
287770,2973.0,CREDIT,NaN,COLLECTION FROM ANOTHER BANK,1997-11-08,46,1316
287771,1130.0,DEBIT,NaN,REMITTANCE TO ANOTHER BANK,1997-11-10,46,1316
287772,233.0,DEBIT,NaN,REMITTANCE TO ANOTHER BANK,1997-11-12,46,1316
287773,619.0,DEBIT,NaN,REMITTANCE TO ANOTHER BANK,1997-11-12,46,1316
287774,690.0,DEBIT,NaN,CASH WITHDRAWAL,1997-11-26,46,1316
287775,14.6,DEBIT,PAYMENT ON STATEMENT,CASH WITHDRAWAL,1997-11-30,46,1316
287776,73.6,CREDIT,INTEREST CREDITED,NaN,1997-11-30,46,1316
287777,150.0,DEBIT,NaN,CASH WITHDRAWAL,1997-12-08,46,1316
287778,2973.0,CREDIT,NaN,COLLECTION FROM ANOTHER BANK,1997-12-08,46,1316
287779,1130.0,DEBIT,NaN,REMITTANCE TO ANOTHER BANK,1997-12-10,46,1316
287780,233.0,DEBIT,NaN,REMITTANCE TO ANOTHER BANK,1997-12-12,46,1316
287781,619.0,DEBIT,NaN,REMITTANCE TO ANOTHER BANK,1997-12-12,46,1316
287782,1140.0,DEBIT,NaN,CASH WITHDRAWAL,1997-12-17,46,1316
287783,240.0,DEBIT,NaN,CASH WITHDRAWAL,1997-12-22,46,1316
287784,14.6,DEBIT,PAYMENT ON STATEMENT,CASH WITHDRAWAL,1997-12-31,46,1316
287785,73.5,CREDIT,INTEREST CREDITED,NaN,1997-12-31,46,1316
287786,1830.0,DEBIT,NaN,CASH WITHDRAWAL,1998-01-05,46,1316
287787,720.0,DEBIT,NaN,CASH WITHDRAWAL,1998-01-07,46,1316
287788,810.0,DEBIT,NaN,CASH WITHDRAWAL,1998-01-07,46,1316
287789,2973.0,CREDIT,NaN,COLLECTION FROM ANOTHER BANK,1998-01-08,46,1316
287790,1130.0,DEBIT,NaN,REMITTANCE TO ANOTHER BANK,1998-01-10,46,1316
287791,619.0,DEBIT,NaN,REMITTANCE TO ANOTHER BANK,1998-01-12,46,1316
287792,233.0,DEBIT,NaN,REMITTANCE TO ANOTHER BANK,1998-01-12,46,1316
287793,210.0,DEBIT,NaN,CASH WITHDRAWAL,1998-01-15,46,1316
287794,240.0,DEBIT,NaN,CASH WITHDRAWAL,1998-01-15,46,1316
287795,600.0,DEBIT,NaN,CASH WITHDRAWAL,1998-01-15,46,1316
287796,450.0,DEBIT,NaN,CASH WITHDRAWAL,1998-01-25,46,1316
287797,14.6,DEBIT,PAYMENT ON STATEMENT,CASH WITHDRAWAL,1998-01-31,46,1316
287798,60.6,CREDIT,INTEREST CREDITED,NaN,1998-01-31,46,1316
287799,2973.0,CREDIT,NaN,COLLECTION FROM ANOTHER BANK,1998-02-08,46,1316
287800,1130.0,DEBIT,NaN,REMITTANCE TO ANOTHER BANK,1998-02-10,46,1316
287801,619.0,DEBIT,NaN,REMITTANCE TO ANOTHER BANK,1998-02-12,46,1316
287802,233.0,DEBIT,NaN,REMITTANCE TO ANOTHER BANK,1998-02-12,46,1316
287803,14.6,DEBIT,PAYMENT ON STATEMENT,CASH WITHDRAWAL,1998-02-28,46,1316
287804,58.1,CREDIT,INTEREST CREDITED,NaN,1998-02-28,46,1316
287805,2973.0,CREDIT,NaN,COLLECTION FROM ANOTHER BANK,1998-03-08,46,1316
287806,1130.0,DEBIT,NaN,REMITTANCE TO ANOTHER BANK,1998-03-10,46,1316
287807,619.0,DEBIT,NaN,REMITTANCE TO ANOTHER BANK,1998-03-12,46,1316
287808,233.0,DEBIT,NaN,REMITTANCE TO ANOTHER BANK,1998-03-12,46,1316
287809,14.6,DEBIT,PAYMENT ON STATEMENT,CASH WITHDRAWAL,1998-03-31,46,1316
287810,63.5,CREDIT,INTEREST CREDITED,NaN,1998-03-31,46,1316
287811,2973.0,CREDIT,NaN,COLLECTION FROM ANOTHER BANK,1998-04-08,46,1316
287812,1130.0,DEBIT,NaN,REMITTANCE TO ANOTHER BANK,1998-04-10,46,1316
287813,233.0,DEBIT,NaN,REMITTANCE TO ANOTHER BANK,1998-04-12,46,1316
287814,619.0,DEBIT,NaN,REMITTANCE TO ANOTHER BANK,1998-04-12,46,1316
287815,360.0,DEBIT,NaN,CASH WITHDRAWAL,1998-04-19,46,1316
287816,690.0,DEBIT,NaN,CASH WITHDRAWAL,1998-04-29,46,1316
287817,14.6,DEBIT,PAYMENT ON STATEMENT,CASH WITHDRAWAL,1998-04-30,46,1316
287818,65.7,CREDIT,INTEREST CREDITED,NaN,1998-04-30,46,1316
287819,2973.0,CREDIT,NaN,COLLECTION FROM ANOTHER BANK,1998-05-08,46,1316
287820,1130.0,DEBIT,NaN,REMITTANCE TO ANOTHER BANK,1998-05-10,46,1316
287821,619.0,DEBIT,NaN,REMITTANCE TO ANOTHER BANK,1998-05-12,46,1316
287822,233.0,DEBIT,NaN,REMITTANCE TO ANOTHER BANK,1998-05-12,46,1316
287823,600.0,DEBIT,NaN,CASH WITHDRAWAL,1998-05-31,46,1316
287824,14.6,DEBIT,PAYMENT ON STATEMENT,CASH WITHDRAWAL,1998-05-31,46,1316
287825,66.1,CREDIT,INTEREST CREDITED,NaN,1998-05-31,46,1316
287826,1470.0,DEBIT,NaN,CASH WITHDRAWAL,1998-06-03,46,1316
287827,2973.0,CREDIT,NaN,COLLECTION FROM ANOTHER BANK,1998-06-08,46,1316
287828,1130.0,DEBIT,NaN,REMITTANCE TO ANOTHER BANK,1998-06-10,46,1316
287829,233.0,DEBIT,NaN,REMITTANCE TO ANOTHER BANK,1998-06-12,46,1316
287830,619.0,DEBIT,NaN,REMITTANCE TO ANOTHER BANK,1998-06-12,46,1316
287831,1230.0,DEBIT,NaN,CASH WITHDRAWAL,1998-06-23,46,1316
287832,14.6,DEBIT,PAYMENT ON STATEMENT,CASH WITHDRAWAL,1998-06-30,46,1316
287833,63.2,CREDIT,INTEREST CREDITED,NaN,1998-06-30,46,1316
287834,2973.0,CREDIT,NaN,COLLECTION FROM ANOTHER BANK,1998-07-08,46,1316
287835,1130.0,DEBIT,NaN,REMITTANCE TO ANOTHER BANK,1998-07-10,46,1316
287836,619.0,DEBIT,NaN,REMITTANCE TO ANOTHER BANK,1998-07-12,46,1316
287837,233.0,DEBIT,NaN,REMITTANCE TO ANOTHER BANK,1998-07-12,46,1316
287838,14.6,DEBIT,PAYMENT ON STATEMENT,CASH WITHDRAWAL,1998-07-31,46,1316
287839,61.1,CREDIT,INTEREST CREDITED,NaN,1998-07-31,46,1316
287840,2973.0,CREDIT,NaN,COLLECTION FROM ANOTHER BANK,1998-08-08,46,1316
287841,1130.0,DEBIT,NaN,REMITTANCE TO ANOTHER BANK,1998-08-10,46,1316
287842,619.0,DEBIT,NaN,REMITTANCE TO ANOTHER BANK,1998-08-12,46,1316
287843,233.0,DEBIT,NaN,REMITTANCE TO ANOTHER BANK,1998-08-12,46,1316
287844,14.6,DEBIT,PAYMENT ON STATEMENT,CASH WITHDRAWAL,1998-08-31,46,1316
287845,66.0,CREDIT,INTEREST CREDITED,NaN,1998-08-31,46,1316
287846,2973.0,CREDIT,NaN,COLLECTION FROM ANOTHER BANK,1998-09-08,46,1316
287847,1130.0,DEBIT,NaN,REMITTANCE TO ANOTHER BANK,1998-09-10,46,1316
287848,233.0,DEBIT,NaN,REMITTANCE TO ANOTHER BANK,1998-09-12,46,1316
287849,619.0,DEBIT,NaN,REMITTANCE TO ANOTHER BANK,1998-09-12,46,1316
287850,14.6,DEBIT,PAYMENT ON STATEMENT,CASH WITHDRAWAL,1998-09-30,46,1316
287851,69.7,CREDIT,INTEREST CREDITED,NaN,1998-09-30,46,1316
287852,2973.0,CREDIT,NaN,COLLECTION FROM ANOTHER BANK,1998-10-08,46,1316
287853,1230.0,DEBIT,NaN,CASH WITHDRAWAL,1998-10-10,46,1316
287854,1130.0,DEBIT,NaN,REMITTANCE TO ANOTHER BANK,1998-10-10,46,1316
287855,233.0,DEBIT,NaN,REMITTANCE TO ANOTHER BANK,1998-10-12,46,1316
287856,619.0,DEBIT,NaN,REMITTANCE TO ANOTHER BANK,1998-10-12,46,1316
287857,150.0,DEBIT,NaN,CASH WITHDRAWAL,1998-10-23,46,1316
287858,14.6,DEBIT,PAYMENT ON STATEMENT,CASH WITHDRAWAL,1998-10-31,46,1316
287859,70.3,CREDIT,INTEREST CREDITED,NaN,1998-10-31,46,1316
287860,2973.0,CREDIT,NaN,COLLECTION FROM ANOTHER BANK,1998-11-08,46,1316
287861,1130.0,DEBIT,NaN,REMITTANCE TO ANOTHER BANK,1998-11-10,46,1316
287862,233.0,DEBIT,NaN,REMITTANCE TO ANOTHER BANK,1998-11-12,46,1316
287863,619.0,DEBIT,NaN,REMITTANCE TO ANOTHER BANK,1998-11-12,46,1316
287864,14.6,DEBIT,PAYMENT ON STATEMENT,CASH WITHDRAWAL,1998-11-30,46,1316
287865,72.7,CREDIT,INTEREST CREDITED,NaN,1998-11-30,46,1316
287866,2973.0,CREDIT,NaN,COLLECTION FROM ANOTHER BANK,1998-12-08,46,1316
287867,1130.0,DEBIT,NaN,REMITTANCE TO ANOTHER BANK,1998-12-10,46,1316
287868,233.0,DEBIT,NaN,REMITTANCE TO ANOTHER BANK,1998-12-12,46,1316
287869,619.0,DEBIT,NaN,REMITTANCE TO ANOTHER BANK,1998-12-12,46,1316
287870,480.0,DEBIT,NaN,CASH WITHDRAWAL,1998-12-30,46,1316
287871,76.9,CREDIT,INTEREST CREDITED,NaN,1998-12-31,46,1316

Account id: 2893

,amount,type,k_symbol,operation,datetime,age,account_id
630147,700.0,CREDIT,NaN,CREDIT IN CASH,1996-02-08,29,2893
630148,3382.0,CREDIT,NaN,COLLECTION FROM ANOTHER BANK,1996-03-05,29,2893
630149,3382.0,CREDIT,NaN,COLLECTION FROM ANOTHER BANK,1996-04-05,29,2893
630150,3382.0,CREDIT,NaN,COLLECTION FROM ANOTHER BANK,1996-05-05,29,2893
630151,3382.0,CREDIT,NaN,COLLECTION FROM ANOTHER BANK,1996-06-05,29,2893
630152,3382.0,CREDIT,NaN,COLLECTION FROM ANOTHER BANK,1996-07-05,29,2893
630153,600.0,DEBIT,NaN,CASH WITHDRAWAL,1996-07-07,29,2893
630154,1503.0,DEBIT,NaN,REMITTANCE TO ANOTHER BANK,1996-07-09,29,2893
630155,751.0,DEBIT,NaN,REMITTANCE TO ANOTHER BANK,1996-07-09,29,2893
630156,14.6,DEBIT,PAYMENT ON STATEMENT,CASH WITHDRAWAL,1996-07-31,29,2893
630157,50.2,CREDIT,INTEREST CREDITED,NaN,1996-07-31,29,2893
630158,3382.0,CREDIT,NaN,COLLECTION FROM ANOTHER BANK,1996-08-05,29,2893
630159,751.0,DEBIT,NaN,REMITTANCE TO ANOTHER BANK,1996-08-09,29,2893
630160,1503.0,DEBIT,NaN,REMITTANCE TO ANOTHER BANK,1996-08-09,29,2893
630161,14.6,DEBIT,PAYMENT ON STATEMENT,CASH WITHDRAWAL,1996-08-31,29,2893
630162,67.3,CREDIT,INTEREST CREDITED,NaN,1996-08-31,29,2893
630163,3382.0,CREDIT,NaN,COLLECTION FROM ANOTHER BANK,1996-09-05,29,2893
630164,751.0,DEBIT,NaN,REMITTANCE TO ANOTHER BANK,1996-09-09,29,2893
630165,1503.0,DEBIT,NaN,REMITTANCE TO ANOTHER BANK,1996-09-09,29,2893
630166,14.6,DEBIT,PAYMENT ON STATEMENT,CASH WITHDRAWAL,1996-09-30,29,2893
630167,70.0,CREDIT,INTEREST CREDITED,NaN,1996-09-30,29,2893
630168,3382.0,CREDIT,NaN,COLLECTION FROM ANOTHER BANK,1996-10-05,29,2893
630169,751.0,DEBIT,NaN,REMITTANCE TO ANOTHER BANK,1996-10-09,29,2893
630170,1503.0,DEBIT,NaN,REMITTANCE TO ANOTHER BANK,1996-10-09,29,2893
630171,1470.0,DEBIT,NaN,CASH WITHDRAWAL,1996-10-22,29,2893
630172,14.6,DEBIT,PAYMENT ON STATEMENT,CASH WITHDRAWAL,1996-10-31,29,2893
630173,73.0,CREDIT,INTEREST CREDITED,NaN,1996-10-31,29,2893
630174,200.0,DEBIT,NaN,CASH WITHDRAWAL,1996-11-04,29,2893
630175,3382.0,CREDIT,NaN,COLLECTION FROM ANOTHER BANK,1996-11-05,29,2893
630176,1503.0,DEBIT,NaN,REMITTANCE TO ANOTHER BANK,1996-11-09,29,2893
630177,751.0,DEBIT,NaN,REMITTANCE TO ANOTHER BANK,1996-11-09,29,2893
630178,14.6,DEBIT,PAYMENT ON STATEMENT,CASH WITHDRAWAL,1996-11-30,29,2893
630179,74.9,CREDIT,INTEREST CREDITED,NaN,1996-11-30,29,2893
630180,360.0,DEBIT,NaN,CASH WITHDRAWAL,1996-12-04,29,2893
630181,3382.0,CREDIT,NaN,COLLECTION FROM ANOTHER BANK,1996-12-05,29,2893
630182,1503.0,DEBIT,NaN,REMITTANCE TO ANOTHER BANK,1996-12-09,29,2893
630183,751.0,DEBIT,NaN,REMITTANCE TO ANOTHER BANK,1996-12-09,29,2893
630184,14.6,DEBIT,PAYMENT ON STATEMENT,CASH WITHDRAWAL,1996-12-31,29,2893
630185,82.9,CREDIT,INTEREST CREDITED,NaN,1996-12-31,29,2893
630186,200.0,DEBIT,NaN,CASH WITHDRAWAL,1997-01-03,29,2893
630187,540.0,DEBIT,NaN,CASH WITHDRAWAL,1997-01-05,29,2893
630188,3382.0,CREDIT,NaN,COLLECTION FROM ANOTHER BANK,1997-01-05,29,2893
630189,1140.0,DEBIT,NaN,CASH WITHDRAWAL,1997-01-06,29,2893
630190,751.0,DEBIT,NaN,REMITTANCE TO ANOTHER BANK,1997-01-09,29,2893
630191,1503.0,DEBIT,NaN,REMITTANCE TO ANOTHER BANK,1997-01-09,29,2893
630192,240.0,DEBIT,NaN,CASH WITHDRAWAL,1997-01-10,29,2893
630193,780.0,DEBIT,NaN,CASH WITHDRAWAL,1997-01-20,29,2893
630194,780.0,DEBIT,NaN,CASH WITHDRAWAL,1997-01-23,29,2893
630195,600.0,DEBIT,NaN,CASH WITHDRAWAL,1997-01-26,29,2893
630196,750.0,DEBIT,NaN,CASH WITHDRAWAL,1997-01-29,29,2893
630197,14.6,DEBIT,PAYMENT ON STATEMENT,CASH WITHDRAWAL,1997-01-31,29,2893
630198,72.8,CREDIT,INTEREST CREDITED,NaN,1997-01-31,29,2893
630199,780.0,DEBIT,NaN,CASH WITHDRAWAL,1997-02-04,29,2893
630200,3382.0,CREDIT,NaN,COLLECTION FROM ANOTHER BANK,1997-02-05,29,2893
630201,1230.0,DEBIT,NaN,CASH WITHDRAWAL,1997-02-07,29,2893
630202,751.0,DEBIT,NaN,REMITTANCE TO ANOTHER BANK,1997-02-09,29,2893
630203,1503.0,DEBIT,NaN,REMITTANCE TO ANOTHER BANK,1997-02-09,29,2893
630204,14.6,DEBIT,PAYMENT ON STATEMENT,CASH WITHDRAWAL,1997-02-28,29,2893
630205,64.6,CREDIT,INTEREST CREDITED,NaN,1997-02-28,29,2893
630206,3382.0,CREDIT,NaN,COLLECTION FROM ANOTHER BANK,1997-03-05,29,2893
630207,751.0,DEBIT,NaN,REMITTANCE TO ANOTHER BANK,1997-03-09,29,2893
630208,1503.0,DEBIT,NaN,REMITTANCE TO ANOTHER BANK,1997-03-09,29,2893
630209,14.6,DEBIT,PAYMENT ON STATEMENT,CASH WITHDRAWAL,1997-03-31,29,2893
630210,66.3,CREDIT,INTEREST CREDITED,NaN,1997-03-31,29,2893
630211,3382.0,CREDIT,NaN,COLLECTION FROM ANOTHER BANK,1997-04-05,29,2893
630212,751.0,DEBIT,NaN,REMITTANCE TO ANOTHER BANK,1997-04-09,29,2893
630213,1503.0,DEBIT,NaN,REMITTANCE TO ANOTHER BANK,1997-04-09,29,2893
630214,1380.0,DEBIT,NaN,CASH WITHDRAWAL,1997-04-13,29,2893
630215,14.6,DEBIT,PAYMENT ON STATEMENT,CASH WITHDRAWAL,1997-04-30,29,2893
630216,63.2,CREDIT,INTEREST CREDITED,NaN,1997-04-30,29,2893
630217,3382.0,CREDIT,NaN,COLLECTION FROM ANOTHER BANK,1997-05-05,29,2893
630218,751.0,DEBIT,NaN,REMITTANCE TO ANOTHER BANK,1997-05-09,29,2893
630219,1503.0,DEBIT,NaN,REMITTANCE TO ANOTHER BANK,1997-05-09,29,2893
630220,750.0,DEBIT,NaN,CASH WITHDRAWAL,1997-05-28,29,2893
630221,14.6,DEBIT,PAYMENT ON STATEMENT,CASH WITHDRAWAL,1997-05-31,29,2893
630222,69.3,CREDIT,INTEREST CREDITED,NaN,1997-05-31,29,2893
630223,3382.0,CREDIT,NaN,COLLECTION FROM ANOTHER BANK,1997-06-05,29,2893
630224,1503.0,DEBIT,NaN,REMITTANCE TO ANOTHER BANK,1997-06-09,29,2893
630225,751.0,DEBIT,NaN,REMITTANCE TO ANOTHER BANK,1997-06-09,29,2893
630226,14.6,DEBIT,PAYMENT ON STATEMENT,CASH WITHDRAWAL,1997-06-30,29,2893
630227,69.8,CREDIT,INTEREST CREDITED,NaN,1997-06-30,29,2893
630228,3382.0,CREDIT,NaN,COLLECTION FROM ANOTHER BANK,1997-07-05,29,2893
630229,751.0,DEBIT,NaN,REMITTANCE TO ANOTHER BANK,1997-07-09,29,2893
630230,1503.0,DEBIT,NaN,REMITTANCE TO ANOTHER BANK,1997-07-09,29,2893
630231,14.6,DEBIT,PAYMENT ON STATEMENT,CASH WITHDRAWAL,1997-07-31,29,2893
630232,74.8,CREDIT,INTEREST CREDITED,NaN,1997-07-31,29,2893
630233,3382.0,CREDIT,NaN,COLLECTION FROM ANOTHER BANK,1997-08-05,29,2893
630234,1503.0,DEBIT,NaN,REMITTANCE TO ANOTHER BANK,1997-08-09,29,2893
630235,751.0,DEBIT,NaN,REMITTANCE TO ANOTHER BANK,1997-08-09,29,2893
630236,14.6,DEBIT,PAYMENT ON STATEMENT,CASH WITHDRAWAL,1997-08-31,29,2893
630237,81.9,CREDIT,INTEREST CREDITED,NaN,1997-08-31,29,2893
630238,3382.0,CREDIT,NaN,COLLECTION FROM ANOTHER BANK,1997-09-05,29,2893
630239,751.0,DEBIT,NaN,REMITTANCE TO ANOTHER BANK,1997-09-09,29,2893
630240,1503.0,DEBIT,NaN,REMITTANCE TO ANOTHER BANK,1997-09-09,29,2893
630241,720.0,DEBIT,NaN,CASH WITHDRAWAL,1997-09-10,29,2893
630242,14.6,DEBIT,PAYMENT ON STATEMENT,CASH WITHDRAWAL,1997-09-30,29,2893
630243,80.3,CREDIT,INTEREST CREDITED,NaN,1997-09-30,29,2893
630244,3382.0,CREDIT,NaN,COLLECTION FROM ANOTHER BANK,1997-10-05,29,2893
630245,751.0,DEBIT,NaN,REMITTANCE TO ANOTHER BANK,1997-10-09,29,2893
630246,1503.0,DEBIT,NaN,REMITTANCE TO ANOTHER BANK,1997-10-09,29,2893
630247,14.6,DEBIT,PAYMENT ON STATEMENT,CASH WITHDRAWAL,1997-10-31,29,2893
630248,84.4,CREDIT,INTEREST CREDITED,NaN,1997-10-31,29,2893
630249,3382.0,CREDIT,NaN,COLLECTION FROM ANOTHER BANK,1997-11-05,29,2893
630250,751.0,DEBIT,NaN,REMITTANCE TO ANOTHER BANK,1997-11-09,29,2893
630251,1503.0,DEBIT,NaN,REMITTANCE TO ANOTHER BANK,1997-11-09,29,2893
630252,14.6,DEBIT,PAYMENT ON STATEMENT,CASH WITHDRAWAL,1997-11-30,29,2893
630253,91.5,CREDIT,INTEREST CREDITED,NaN,1997-11-30,29,2893
630254,3382.0,CREDIT,NaN,COLLECTION FROM ANOTHER BANK,1997-12-05,29,2893
630255,751.0,DEBIT,NaN,REMITTANCE TO ANOTHER BANK,1997-12-09,29,2893
630256,1503.0,DEBIT,NaN,REMITTANCE TO ANOTHER BANK,1997-12-09,29,2893
630257,180.0,DEBIT,NaN,CASH WITHDRAWAL,1997-12-11,29,2893
630258,450.0,DEBIT,NaN,CASH WITHDRAWAL,1997-12-13,29,2893
630259,14.6,DEBIT,PAYMENT ON STATEMENT,CASH WITHDRAWAL,1997-12-31,29,2893
630260,92.7,CREDIT,INTEREST CREDITED,NaN,1997-12-31,29,2893
630261,540.0,DEBIT,NaN,CASH WITHDRAWAL,1998-01-01,29,2893
630262,720.0,DEBIT,NaN,CASH WITHDRAWAL,1998-01-01,29,2893
630263,2010.0,DEBIT,NaN,CASH WITHDRAWAL,1998-01-03,29,2893
630264,3382.0,CREDIT,NaN,COLLECTION FROM ANOTHER BANK,1998-01-05,29,2893
630265,360.0,DEBIT,NaN,CASH WITHDRAWAL,1998-01-07,29,2893
630266,1503.0,DEBIT,NaN,REMITTANCE TO ANOTHER BANK,1998-01-09,29,2893
630267,751.0,DEBIT,NaN,REMITTANCE TO ANOTHER BANK,1998-01-09,29,2893
630268,570.0,DEBIT,NaN,CASH WITHDRAWAL,1998-01-12,29,2893
630269,480.0,DEBIT,NaN,CASH WITHDRAWAL,1998-01-14,29,2893
630270,810.0,DEBIT,NaN,CASH WITHDRAWAL,1998-01-27,29,2893
630271,810.0,DEBIT,NaN,CASH WITHDRAWAL,1998-01-27,29,2893
630272,14.6,DEBIT,PAYMENT ON STATEMENT,CASH WITHDRAWAL,1998-01-31,29,2893
630273,81.7,CREDIT,INTEREST CREDITED,NaN,1998-01-31,29,2893
630274,3382.0,CREDIT,NaN,COLLECTION FROM ANOTHER BANK,1998-02-05,29,2893
630275,751.0,DEBIT,NaN,REMITTANCE TO ANOTHER BANK,1998-02-09,29,2893
630276,1503.0,DEBIT,NaN,REMITTANCE TO ANOTHER BANK,1998-02-09,29,2893
630277,14.6,DEBIT,PAYMENT ON STATEMENT,CASH WITHDRAWAL,1998-02-28,29,2893
630278,79.6,CREDIT,INTEREST CREDITED,NaN,1998-02-28,29,2893
630279,3382.0,CREDIT,NaN,COLLECTION FROM ANOTHER BANK,1998-03-05,29,2893
630280,751.0,DEBIT,NaN,REMITTANCE TO ANOTHER BANK,1998-03-09,29,2893
630281,1503.0,DEBIT,NaN,REMITTANCE TO ANOTHER BANK,1998-03-09,29,2893
630282,14.6,DEBIT,PAYMENT ON STATEMENT,CASH WITHDRAWAL,1998-03-31,29,2893
630283,84.8,CREDIT,INTEREST CREDITED,NaN,1998-03-31,29,2893
630284,3382.0,CREDIT,NaN,COLLECTION FROM ANOTHER BANK,1998-04-05,29,2893
630285,1503.0,DEBIT,NaN,REMITTANCE TO ANOTHER BANK,1998-04-09,29,2893
630286,751.0,DEBIT,NaN,REMITTANCE TO ANOTHER BANK,1998-04-09,29,2893
630287,14.6,DEBIT,PAYMENT ON STATEMENT,CASH WITHDRAWAL,1998-04-30,29,2893
630288,87.5,CREDIT,INTEREST CREDITED,NaN,1998-04-30,29,2893
630289,3382.0,CREDIT,NaN,COLLECTION FROM ANOTHER BANK,1998-05-05,29,2893
630290,1503.0,DEBIT,NaN,REMITTANCE TO ANOTHER BANK,1998-05-09,29,2893
630291,751.0,DEBIT,NaN,REMITTANCE TO ANOTHER BANK,1998-05-09,29,2893
630292,480.0,DEBIT,NaN,CASH WITHDRAWAL,1998-05-16,29,2893
630293,810.0,DEBIT,NaN,CASH WITHDRAWAL,1998-05-20,29,2893
630294,14.6,DEBIT,PAYMENT ON STATEMENT,CASH WITHDRAWAL,1998-05-31,29,2893
630295,87.9,CREDIT,INTEREST CREDITED,NaN,1998-05-31,29,2893
630296,3382.0,CREDIT,NaN,COLLECTION FROM ANOTHER BANK,1998-06-05,29,2893
630297,1503.0,DEBIT,NaN,REMITTANCE TO ANOTHER BANK,1998-06-09,29,2893
630298,6030.0,DEBIT,NaN,CASH WITHDRAWAL,1998-06-09,29,2893
630299,751.0,DEBIT,NaN,REMITTANCE TO ANOTHER BANK,1998-06-09,29,2893
630300,450.0,DEBIT,NaN,CASH WITHDRAWAL,1998-06-13,29,2893
630301,14.6,DEBIT,PAYMENT ON STATEMENT,CASH WITHDRAWAL,1998-06-30,29,2893
630302,74.1,CREDIT,INTEREST CREDITED,NaN,1998-06-30,29,2893
630303,3382.0,CREDIT,NaN,COLLECTION FROM ANOTHER BANK,1998-07-05,29,2893
630304,751.0,DEBIT,NaN,REMITTANCE TO ANOTHER BANK,1998-07-09,29,2893
630305,1503.0,DEBIT,NaN,REMITTANCE TO ANOTHER BANK,1998-07-09,29,2893
630306,14.6,DEBIT,PAYMENT ON STATEMENT,CASH WITHDRAWAL,1998-07-31,29,2893
630307,67.8,CREDIT,INTEREST CREDITED,NaN,1998-07-31,29,2893
630308,3382.0,CREDIT,NaN,COLLECTION FROM ANOTHER BANK,1998-08-05,29,2893
630309,751.0,DEBIT,NaN,REMITTANCE TO ANOTHER BANK,1998-08-09,29,2893
630310,1503.0,DEBIT,NaN,REMITTANCE TO ANOTHER BANK,1998-08-09,29,2893
630311,390.0,DEBIT,NaN,CASH WITHDRAWAL,1998-08-29,29,2893
630312,14.6,DEBIT,PAYMENT ON STATEMENT,CASH WITHDRAWAL,1998-08-31,29,2893
630313,74.5,CREDIT,INTEREST CREDITED,NaN,1998-08-31,29,2893
630314,3382.0,CREDIT,NaN,COLLECTION FROM ANOTHER BANK,1998-09-05,29,2893
630315,1503.0,DEBIT,NaN,REMITTANCE TO ANOTHER BANK,1998-09-09,29,2893
630316,751.0,DEBIT,NaN,REMITTANCE TO ANOTHER BANK,1998-09-09,29,2893
630317,14.6,DEBIT,PAYMENT ON STATEMENT,CASH WITHDRAWAL,1998-09-30,29,2893
630318,75.9,CREDIT,INTEREST CREDITED,NaN,1998-09-30,29,2893
630319,3382.0,CREDIT,NaN,COLLECTION FROM ANOTHER BANK,1998-10-05,29,2893
630320,751.0,DEBIT,NaN,REMITTANCE TO ANOTHER BANK,1998-10-09,29,2893
630321,1503.0,DEBIT,NaN,REMITTANCE TO ANOTHER BANK,1998-10-09,29,2893
630322,330.0,DEBIT,NaN,CASH WITHDRAWAL,1998-10-30,29,2893
630323,14.6,DEBIT,PAYMENT ON STATEMENT,CASH WITHDRAWAL,1998-10-31,29,2893
630324,80.8,CREDIT,INTEREST CREDITED,NaN,1998-10-31,29,2893
630325,3382.0,CREDIT,NaN,COLLECTION FROM ANOTHER BANK,1998-11-05,29,2893
630326,1503.0,DEBIT,NaN,REMITTANCE TO ANOTHER BANK,1998-11-09,29,2893
630327,751.0,DEBIT,NaN,REMITTANCE TO ANOTHER BANK,1998-11-09,29,2893
630328,14.6,DEBIT,PAYMENT ON STATEMENT,CASH WITHDRAWAL,1998-11-30,29,2893
630329,86.6,CREDIT,INTEREST CREDITED,NaN,1998-11-30,29,2893
630330,3382.0,CREDIT,NaN,COLLECTION FROM ANOTHER BANK,1998-12-05,29,2893
630331,270.0,DEBIT,NaN,CASH WITHDRAWAL,1998-12-06,29,2893
630332,751.0,DEBIT,NaN,REMITTANCE TO ANOTHER BANK,1998-12-09,29,2893
630333,1503.0,DEBIT,NaN,REMITTANCE TO ANOTHER BANK,1998-12-09,29,2893
630334,89.8,CREDIT,INTEREST CREDITED,NaN,1998-12-31,29,2893

Account id: 4503

,amount,type,k_symbol,operation,datetime,age,account_id
899344,200.0,CREDIT,NaN,CREDIT IN CASH,1995-01-03,24,4503
899345,11100.0,CREDIT,NaN,CREDIT IN CASH,1995-02-02,24,4503
899346,28635.0,CREDIT,NaN,CREDIT IN CASH,1995-02-18,24,4503
899347,65.4,CREDIT,INTEREST CREDITED,NaN,1995-02-28,24,4503
899348,11600.0,DEBIT,NaN,CASH WITHDRAWAL,1995-03-04,24,4503
899349,30097.0,CREDIT,NaN,CREDIT IN CASH,1995-03-25,24,4503
899350,8954.0,CREDIT,NaN,CREDIT IN CASH,1995-03-26,24,4503
899351,13930.0,CREDIT,NaN,CREDIT IN CASH,1995-03-26,24,4503
899352,202.3,CREDIT,INTEREST CREDITED,NaN,1995-03-31,24,4503
899353,29600.0,DEBIT,NaN,CASH WITHDRAWAL,1995-04-03,24,4503
899354,48633.0,CREDIT,NaN,CREDIT IN CASH,1995-04-06,24,4503
899355,19295.0,DEBIT,NaN,CASH WITHDRAWAL,1995-04-08,24,4503
899356,2100.0,DEBIT,NaN,CASH WITHDRAWAL,1995-04-08,24,4503
899357,8229.0,DEBIT,NaN,CASH WITHDRAWAL,1995-04-14,24,4503
899358,26986.0,CREDIT,NaN,CREDIT IN CASH,1995-04-29,24,4503
899359,14.6,DEBIT,PAYMENT ON STATEMENT,CASH WITHDRAWAL,1995-04-30,24,4503
899360,327.4,CREDIT,INTEREST CREDITED,NaN,1995-04-30,24,4503
899361,40400.0,DEBIT,NaN,CASH WITHDRAWAL,1995-05-03,24,4503
899362,44655.0,CREDIT,NaN,CREDIT IN CASH,1995-05-14,24,4503
899363,2900.0,DEBIT,NaN,CASH WITHDRAWAL,1995-05-14,24,4503
899364,34600.0,DEBIT,NaN,CASH WITHDRAWAL,1995-05-17,24,4503
899365,46833.0,CREDIT,NaN,CREDIT IN CASH,1995-05-17,24,4503
899366,34100.0,DEBIT,NaN,CASH WITHDRAWAL,1995-05-31,24,4503
899367,14.6,DEBIT,PAYMENT ON STATEMENT,CASH WITHDRAWAL,1995-05-31,24,4503
899368,434.1,CREDIT,INTEREST CREDITED,NaN,1995-05-31,24,4503
899369,28700.0,DEBIT,NaN,CASH WITHDRAWAL,1995-06-02,24,4503
899370,1700.0,DEBIT,NaN,CASH WITHDRAWAL,1995-06-05,24,4503
899371,12600.0,DEBIT,NaN,CASH WITHDRAWAL,1995-06-13,24,4503
899372,17513.0,CREDIT,NaN,CREDIT IN CASH,1995-06-18,24,4503
899373,7160.0,DEBIT,NaN,CASH WITHDRAWAL,1995-06-23,24,4503
899374,14.6,DEBIT,PAYMENT ON STATEMENT,CASH WITHDRAWAL,1995-06-30,24,4503
899375,208.4,CREDIT,INTEREST CREDITED,NaN,1995-06-30,24,4503
899376,9100.0,DEBIT,NaN,CASH WITHDRAWAL,1995-07-02,24,4503
899377,2700.0,DEBIT,NaN,CASH WITHDRAWAL,1995-07-18,24,4503
899378,5087.0,DEBIT,NaN,CASH WITHDRAWAL,1995-07-26,24,4503
899379,2800.0,DEBIT,NaN,CASH WITHDRAWAL,1995-07-29,24,4503
899380,33867.0,CREDIT,NaN,CREDIT IN CASH,1995-07-30,24,4503
899381,14.6,DEBIT,PAYMENT ON STATEMENT,CASH WITHDRAWAL,1995-07-31,24,4503
899382,172.6,CREDIT,INTEREST CREDITED,NaN,1995-07-31,24,4503
899383,16700.0,DEBIT,NaN,CASH WITHDRAWAL,1995-08-01,24,4503
899384,13058.0,DEBIT,NaN,CASH WITHDRAWAL,1995-08-13,24,4503
899385,5920.0,DEBIT,NaN,CASH WITHDRAWAL,1995-08-16,24,4503
899386,1600.0,DEBIT,NaN,CASH WITHDRAWAL,1995-08-31,24,4503
899387,14.6,DEBIT,PAYMENT ON STATEMENT,CASH WITHDRAWAL,1995-08-31,24,4503
899388,161.6,CREDIT,INTEREST CREDITED,NaN,1995-08-31,24,4503
899389,2600.0,DEBIT,NaN,CASH WITHDRAWAL,1995-09-18,24,4503
899390,34157.0,CREDIT,NaN,CREDIT IN CASH,1995-09-20,24,4503
899391,18896.0,DEBIT,NaN,CASH WITHDRAWAL,1995-09-29,24,4503
899392,14.6,DEBIT,PAYMENT ON STATEMENT,CASH WITHDRAWAL,1995-09-30,24,4503
899393,6000.0,DEBIT,NaN,CASH WITHDRAWAL,1995-09-30,24,4503
899394,137.9,CREDIT,INTEREST CREDITED,NaN,1995-09-30,24,4503
899395,42863.0,CREDIT,NaN,CREDIT IN CASH,1995-10-06,24,4503
899396,2300.0,DEBIT,NaN,CASH WITHDRAWAL,1995-10-08,24,4503
899397,6300.0,DEBIT,NaN,CASH WITHDRAWAL,1995-10-12,24,4503
899398,19754.0,CREDIT,NaN,CREDIT IN CASH,1995-10-15,24,4503
899399,20395.0,DEBIT,NaN,CASH WITHDRAWAL,1995-10-25,24,4503
899400,45261.0,CREDIT,NaN,CREDIT IN CASH,1995-10-29,24,4503
899401,43200.0,DEBIT,NaN,CASH WITHDRAWAL,1995-10-30,24,4503
899402,14.6,DEBIT,PAYMENT ON STATEMENT,CASH WITHDRAWAL,1995-10-31,24,4503
899403,270.5,CREDIT,INTEREST CREDITED,NaN,1995-10-31,24,4503
899404,6537.0,CREDIT,NaN,CREDIT IN CASH,1995-11-02,24,4503
899405,37000.0,DEBIT,NaN,CASH WITHDRAWAL,1995-11-05,24,4503
899406,40608.0,CREDIT,NaN,CREDIT IN CASH,1995-11-05,24,4503
899407,3900.0,DEBIT,NaN,CASH WITHDRAWAL,1995-11-14,24,4503
899408,34108.0,CREDIT,NaN,CREDIT IN CASH,1995-11-22,24,4503
899409,11100.0,DEBIT,NaN,CASH WITHDRAWAL,1995-11-27,24,4503
899410,44206.0,CREDIT,NaN,CREDIT IN CASH,1995-11-28,24,4503
899411,23600.0,DEBIT,NaN,CASH WITHDRAWAL,1995-11-28,24,4503
899412,46400.0,DEBIT,NaN,CASH WITHDRAWAL,1995-11-29,24,4503
899413,14.6,DEBIT,PAYMENT ON STATEMENT,CASH WITHDRAWAL,1995-11-30,24,4503
899414,379.4,CREDIT,INTEREST CREDITED,NaN,1995-11-30,24,4503
899415,21783.0,CREDIT,NaN,CREDIT IN CASH,1995-12-15,24,4503
899416,4200.0,DEBIT,NaN,CASH WITHDRAWAL,1995-12-22,24,4503
899417,3300.0,DEBIT,NaN,CASH WITHDRAWAL,1995-12-22,24,4503
899418,29200.0,DEBIT,NaN,CASH WITHDRAWAL,1995-12-29,24,4503
899419,14.6,DEBIT,PAYMENT ON STATEMENT,CASH WITHDRAWAL,1995-12-31,24,4503
899420,300.8,CREDIT,INTEREST CREDITED,NaN,1995-12-31,24,4503
899421,9000.0,DEBIT,NaN,CASH WITHDRAWAL,1996-01-10,24,4503
899422,2819.8,DEBIT,LOAN PAYMENT,REMITTANCE TO ANOTHER BANK,1996-01-12,24,4503
899423,12408.0,CREDIT,NaN,CREDIT IN CASH,1996-01-15,24,4503
899424,5668.0,CREDIT,NaN,CREDIT IN CASH,1996-01-21,24,4503
899425,19000.0,DEBIT,NaN,CASH WITHDRAWAL,1996-01-28,24,4503
899426,14.6,DEBIT,PAYMENT ON STATEMENT,CASH WITHDRAWAL,1996-01-31,24,4503
899427,223.2,CREDIT,INTEREST CREDITED,NaN,1996-01-31,24,4503
899428,18485.0,CREDIT,NaN,CREDIT IN CASH,1996-02-05,24,4503
899429,20908.0,CREDIT,NaN,CREDIT IN CASH,1996-02-10,24,4503
899430,2819.8,DEBIT,LOAN PAYMENT,REMITTANCE TO ANOTHER BANK,1996-02-12,24,4503
899431,3000.0,DEBIT,NaN,CREDIT CARD WITHDRAWAL,1996-02-21,24,4503
899432,15871.0,CREDIT,NaN,CREDIT IN CASH,1996-02-23,24,4503
899433,35900.0,DEBIT,NaN,CASH WITHDRAWAL,1996-02-27,24,4503
899434,14.6,DEBIT,PAYMENT ON STATEMENT,CASH WITHDRAWAL,1996-02-29,24,4503
899435,278.7,CREDIT,INTEREST CREDITED,NaN,1996-02-29,24,4503
899436,2819.8,DEBIT,LOAN PAYMENT,REMITTANCE TO ANOTHER BANK,1996-03-12,24,4503
899437,49528.0,CREDIT,NaN,CREDIT IN CASH,1996-03-13,24,4503
899438,9460.0,CREDIT,NaN,CREDIT IN CASH,1996-03-18,24,4503
899439,31000.0,DEBIT,NaN,CASH WITHDRAWAL,1996-03-18,24,4503
899440,26400.0,DEBIT,NaN,CASH WITHDRAWAL,1996-03-28,24,4503
899441,14.6,DEBIT,PAYMENT ON STATEMENT,CASH WITHDRAWAL,1996-03-31,24,4503
899442,339.8,CREDIT,INTEREST CREDITED,NaN,1996-03-31,24,4503
899443,2819.8,DEBIT,LOAN PAYMENT,REMITTANCE TO ANOTHER BANK,1996-04-12,24,4503
899444,11400.0,DEBIT,NaN,CASH WITHDRAWAL,1996-04-27,24,4503
899445,14.6,DEBIT,PAYMENT ON STATEMENT,CASH WITHDRAWAL,1996-04-30,24,4503
899446,221.8,CREDIT,INTEREST CREDITED,NaN,1996-04-30,24,4503
899447,2819.8,DEBIT,LOAN PAYMENT,REMITTANCE TO ANOTHER BANK,1996-05-12,24,4503
899448,13200.0,DEBIT,NaN,CASH WITHDRAWAL,1996-05-26,24,4503
899449,1200.0,CREDIT,NaN,CREDIT IN CASH,1996-05-27,24,4503
899450,14.6,DEBIT,PAYMENT ON STATEMENT,CASH WITHDRAWAL,1996-05-31,24,4503
899451,159.2,CREDIT,INTEREST CREDITED,NaN,1996-05-31,24,4503
899452,41155.0,CREDIT,NaN,CREDIT IN CASH,1996-06-07,24,4503
899453,25093.0,CREDIT,NaN,CREDIT IN CASH,1996-06-08,24,4503
899454,15192.0,DEBIT,NaN,CASH WITHDRAWAL,1996-06-10,24,4503
899455,2819.8,DEBIT,LOAN PAYMENT,REMITTANCE TO ANOTHER BANK,1996-06-12,24,4503
899456,23235.0,DEBIT,NaN,CASH WITHDRAWAL,1996-06-14,24,4503
899457,24993.0,DEBIT,NaN,CASH WITHDRAWAL,1996-06-16,24,4503
899458,4100.0,CREDIT,NaN,CREDIT IN CASH,1996-06-26,24,4503
899459,14.6,DEBIT,PAYMENT ON STATEMENT,CASH WITHDRAWAL,1996-06-30,24,4503
899460,165.8,CREDIT,INTEREST CREDITED,NaN,1996-06-30,24,4503
899461,7574.0,CREDIT,NaN,CREDIT IN CASH,1996-07-04,24,4503
899462,2819.8,DEBIT,LOAN PAYMENT,REMITTANCE TO ANOTHER BANK,1996-07-12,24,4503
899463,46993.0,CREDIT,NaN,CREDIT IN CASH,1996-07-18,24,4503
899464,26400.0,DEBIT,NaN,CASH WITHDRAWAL,1996-07-26,24,4503
899465,12423.0,CREDIT,NaN,CREDIT IN CASH,1996-07-30,24,4503
899466,28289.0,CREDIT,NaN,CREDIT IN CASH,1996-07-30,24,4503
899467,14.6,DEBIT,PAYMENT ON STATEMENT,CASH WITHDRAWAL,1996-07-31,24,4503
899468,218.6,CREDIT,INTEREST CREDITED,NaN,1996-07-31,24,4503
899469,30330.0,CREDIT,NaN,CREDIT IN CASH,1996-08-11,24,4503
899470,50300.0,DEBIT,NaN,CASH WITHDRAWAL,1996-08-11,24,4503
899471,2819.8,DEBIT,LOAN PAYMENT,REMITTANCE TO ANOTHER BANK,1996-08-12,24,4503
899472,21500.0,DEBIT,NaN,CASH WITHDRAWAL,1996-08-25,24,4503
899473,14.6,DEBIT,PAYMENT ON STATEMENT,CASH WITHDRAWAL,1996-08-31,24,4503
899474,319.6,CREDIT,INTEREST CREDITED,NaN,1996-08-31,24,4503
899475,30176.0,CREDIT,NaN,CREDIT IN CASH,1996-09-02,24,4503
899476,19437.0,CREDIT,NaN,CREDIT IN CASH,1996-09-04,24,4503
899477,14100.0,DEBIT,NaN,CASH WITHDRAWAL,1996-09-05,24,4503
899478,57100.0,DEBIT,NaN,CASH WITHDRAWAL,1996-09-12,24,4503
899479,36456.0,CREDIT,NaN,CREDIT IN CASH,1996-09-12,24,4503
899480,2819.8,DEBIT,LOAN PAYMENT,REMITTANCE TO ANOTHER BANK,1996-09-12,24,4503
899481,37768.0,CREDIT,NaN,CREDIT IN CASH,1996-09-13,24,4503
899482,33700.0,DEBIT,NaN,CASH WITHDRAWAL,1996-09-24,24,4503
899483,40409.0,CREDIT,NaN,CREDIT IN CASH,1996-09-29,24,4503
899484,25200.0,DEBIT,NaN,CASH WITHDRAWAL,1996-09-29,24,4503
899485,14.6,DEBIT,PAYMENT ON STATEMENT,CASH WITHDRAWAL,1996-09-30,24,4503
899486,359.9,CREDIT,INTEREST CREDITED,NaN,1996-09-30,24,4503
899487,15908.0,CREDIT,NaN,CREDIT IN CASH,1996-10-03,24,4503
899488,23036.0,CREDIT,NaN,CREDIT IN CASH,1996-10-11,24,4503
899489,35300.0,DEBIT,NaN,CASH WITHDRAWAL,1996-10-11,24,4503
899490,23121.0,CREDIT,NaN,CREDIT IN CASH,1996-10-12,24,4503
899491,57800.0,DEBIT,NaN,CASH WITHDRAWAL,1996-10-12,24,4503
899492,2819.8,DEBIT,LOAN PAYMENT,REMITTANCE TO ANOTHER BANK,1996-10-12,24,4503
899493,10700.0,DEBIT,NaN,CASH WITHDRAWAL,1996-10-24,24,4503
899494,3300.0,DEBIT,NaN,CREDIT CARD WITHDRAWAL,1996-10-26,24,4503
899495,14.6,DEBIT,PAYMENT ON STATEMENT,CASH WITHDRAWAL,1996-10-31,24,4503
899496,350.2,CREDIT,INTEREST CREDITED,NaN,1996-10-31,24,4503
899497,45437.0,CREDIT,NaN,CREDIT IN CASH,1996-11-06,24,4503
899498,2819.8,DEBIT,LOAN PAYMENT,REMITTANCE TO ANOTHER BANK,1996-11-12,24,4503
899499,24900.0,DEBIT,NaN,CASH WITHDRAWAL,1996-11-23,24,4503
899500,14.6,DEBIT,PAYMENT ON STATEMENT,CASH WITHDRAWAL,1996-11-30,24,4503
899501,239.0,CREDIT,INTEREST CREDITED,NaN,1996-11-30,24,4503
899502,34825.0,CREDIT,NaN,CREDIT IN CASH,1996-12-07,24,4503
899503,2819.8,DEBIT,LOAN PAYMENT,REMITTANCE TO ANOTHER BANK,1996-12-12,24,4503
899504,33300.0,DEBIT,NaN,CASH WITHDRAWAL,1996-12-23,24,4503
899505,6000.0,DEBIT,NaN,CASH WITHDRAWAL,1996-12-26,24,4503
899506,14.6,DEBIT,PAYMENT ON STATEMENT,CASH WITHDRAWAL,1996-12-31,24,4503
899507,269.8,CREDIT,INTEREST CREDITED,NaN,1996-12-31,24,4503
899508,11100.0,DEBIT,NaN,CASH WITHDRAWAL,1997-01-01,24,4503
899509,2819.8,DEBIT,LOAN PAYMENT,REMITTANCE TO ANOTHER BANK,1997-01-12,24,4503
899510,8684.0,CREDIT,NaN,CREDIT IN CASH,1997-01-19,24,4503
899511,11600.0,DEBIT,NaN,CASH WITHDRAWAL,1997-01-22,24,4503
899512,43781.0,CREDIT,NaN,CREDIT IN CASH,1997-01-24,24,4503
899513,2541.0,DEBIT,NaN,CASH WITHDRAWAL,1997-01-27,24,4503
899514,14.6,DEBIT,PAYMENT ON STATEMENT,CASH WITHDRAWAL,1997-01-31,24,4503
899515,206.9,CREDIT,INTEREST CREDITED,NaN,1997-01-31,24,4503
899516,22368.0,CREDIT,NaN,CREDIT IN CASH,1997-02-07,24,4503
899517,48700.0,DEBIT,NaN,CASH WITHDRAWAL,1997-02-08,24,4503
899518,43202.0,CREDIT,NaN,CREDIT IN CASH,1997-02-08,24,4503
899519,2819.8,DEBIT,LOAN PAYMENT,REMITTANCE TO ANOTHER BANK,1997-02-12,24,4503
899520,37000.0,DEBIT,NaN,CASH WITHDRAWAL,1997-02-21,24,4503
899521,7500.0,DEBIT,NaN,CASH WITHDRAWAL,1997-02-23,24,4503
899522,14.6,DEBIT,PAYMENT ON STATEMENT,CASH WITHDRAWAL,1997-02-28,24,4503
899523,296.6,CREDIT,INTEREST CREDITED,NaN,1997-02-28,24,4503
899524,13044.0,CREDIT,NaN,CREDIT IN CASH,1997-03-02,24,4503
899525,17930.0,DEBIT,NaN,CASH WITHDRAWAL,1997-03-09,24,4503
899526,2819.8,DEBIT,LOAN PAYMENT,REMITTANCE TO ANOTHER BANK,1997-03-12,24,4503
899527,10200.0,DEBIT,NaN,CASH WITHDRAWAL,1997-03-23,24,4503
899528,14.6,DEBIT,PAYMENT ON STATEMENT,CASH WITHDRAWAL,1997-03-31,24,4503
899529,140.9,CREDIT,INTEREST CREDITED,NaN,1997-03-31,24,4503
899530,2819.8,DEBIT,LOAN PAYMENT,REMITTANCE TO ANOTHER BANK,1997-04-12,24,4503
899531,14.6,DEBIT,PAYMENT ON STATEMENT,CASH WITHDRAWAL,1997-04-30,24,4503
899532,101.4,CREDIT,INTEREST CREDITED,NaN,1997-04-30,24,4503
899533,2819.8,DEBIT,LOAN PAYMENT,REMITTANCE TO ANOTHER BANK,1997-05-12,24,4503
899534,2600.0,DEBIT,NaN,CREDIT CARD WITHDRAWAL,1997-05-22,24,4503
899535,9292.0,CREDIT,NaN,CREDIT IN CASH,1997-05-23,24,4503
899536,14.6,DEBIT,PAYMENT ON STATEMENT,CASH WITHDRAWAL,1997-05-31,24,4503
899537,94.2,CREDIT,INTEREST CREDITED,NaN,1997-05-31,24,4503
899538,2819.8,DEBIT,LOAN PAYMENT,REMITTANCE TO ANOTHER BANK,1997-06-12,24,4503
899539,2200.0,DEBIT,NaN,CREDIT CARD WITHDRAWAL,1997-06-21,24,4503
899540,14.6,DEBIT,PAYMENT ON STATEMENT,CASH WITHDRAWAL,1997-06-30,24,4503
899541,99.6,CREDIT,INTEREST CREDITED,NaN,1997-06-30,24,4503
899542,34371.0,CREDIT,NaN,CREDIT IN CASH,1997-07-05,24,4503
899543,2819.8,DEBIT,LOAN PAYMENT,REMITTANCE TO ANOTHER BANK,1997-07-12,24,4503
899544,19000.0,DEBIT,NaN,CASH WITHDRAWAL,1997-07-21,24,4503
899545,8100.0,DEBIT,NaN,CASH WITHDRAWAL,1997-07-22,24,4503
899546,17931.0,CREDIT,NaN,CREDIT IN CASH,1997-07-27,24,4503
899547,27550.0,CREDIT,NaN,CREDIT IN CASH,1997-07-30,24,4503
899548,14.6,DEBIT,PAYMENT ON STATEMENT,CASH WITHDRAWAL,1997-07-31,24,4503
899549,151.2,CREDIT,INTEREST CREDITED,NaN,1997-07-31,24,4503
899550,6919.0,DEBIT,NaN,CASH WITHDRAWAL,1997-08-07,24,4503
899551,2819.8,DEBIT,LOAN PAYMENT,REMITTANCE TO ANOTHER BANK,1997-08-12,24,4503
899552,22800.0,DEBIT,NaN,CASH WITHDRAWAL,1997-08-20,24,4503
899553,13160.0,DEBIT,NaN,CASH WITHDRAWAL,1997-08-21,24,4503
899554,14.6,DEBIT,PAYMENT ON STATEMENT,CASH WITHDRAWAL,1997-08-31,24,4503
899555,212.0,CREDIT,INTEREST CREDITED,NaN,1997-08-31,24,4503
899556,2819.8,DEBIT,LOAN PAYMENT,REMITTANCE TO ANOTHER BANK,1997-09-12,24,4503
899557,14513.0,CREDIT,NaN,CREDIT IN CASH,1997-09-27,24,4503
899558,14.6,DEBIT,PAYMENT ON STATEMENT,CASH WITHDRAWAL,1997-09-30,24,4503
899559,111.2,CREDIT,INTEREST CREDITED,NaN,1997-09-30,24,4503
899560,7205.0,DEBIT,NaN,CASH WITHDRAWAL,1997-10-05,24,4503
899561,2819.8,DEBIT,LOAN PAYMENT,REMITTANCE TO ANOTHER BANK,1997-10-12,24,4503
899562,14.6,DEBIT,PAYMENT ON STATEMENT,CASH WITHDRAWAL,1997-10-31,24,4503
899563,126.7,CREDIT,INTEREST CREDITED,NaN,1997-10-31,24,4503
899564,2819.8,DEBIT,LOAN PAYMENT,REMITTANCE TO ANOTHER BANK,1997-11-12,24,4503
899565,14.6,DEBIT,PAYMENT ON STATEMENT,CASH WITHDRAWAL,1997-11-30,24,4503
899566,111.8,CREDIT,INTEREST CREDITED,NaN,1997-11-30,24,4503
899567,2819.8,DEBIT,LOAN PAYMENT,REMITTANCE TO ANOTHER BANK,1997-12-12,24,4503
899568,14.6,DEBIT,PAYMENT ON STATEMENT,CASH WITHDRAWAL,1997-12-31,24,4503
899569,100.4,CREDIT,INTEREST CREDITED,NaN,1997-12-31,24,4503
899570,2819.8,DEBIT,LOAN PAYMENT,REMITTANCE TO ANOTHER BANK,1998-01-12,24,4503
899571,17020.0,CREDIT,NaN,CREDIT IN CASH,1998-01-24,24,4503
899572,14.6,DEBIT,PAYMENT ON STATEMENT,CASH WITHDRAWAL,1998-01-31,24,4503
899573,104.5,CREDIT,INTEREST CREDITED,NaN,1998-01-31,24,4503
899574,2819.8,DEBIT,LOAN PAYMENT,REMITTANCE TO ANOTHER BANK,1998-02-12,24,4503
899575,46362.0,CREDIT,NaN,CREDIT IN CASH,1998-02-17,24,4503
899576,3344.0,DEBIT,NaN,CASH WITHDRAWAL,1998-02-22,24,4503
899577,14.6,DEBIT,PAYMENT ON STATEMENT,CASH WITHDRAWAL,1998-02-28,24,4503
899578,222.9,CREDIT,INTEREST CREDITED,NaN,1998-02-28,24,4503
899579,20418.0,DEBIT,NaN,CASH WITHDRAWAL,1998-03-10,24,4503
899580,2819.8,DEBIT,LOAN PAYMENT,REMITTANCE TO ANOTHER BANK,1998-03-12,24,4503
899581,28600.0,DEBIT,NaN,CASH WITHDRAWAL,1998-03-18,24,4503
899582,14.6,DEBIT,PAYMENT ON STATEMENT,CASH WITHDRAWAL,1998-03-31,24,4503
899583,200.6,CREDIT,INTEREST CREDITED,NaN,1998-03-31,24,4503
899584,2819.8,DEBIT,LOAN PAYMENT,REMITTANCE TO ANOTHER BANK,1998-04-12,24,4503
899585,47966.0,CREDIT,NaN,CREDIT IN CASH,1998-04-26,24,4503
899586,7648.0,DEBIT,NaN,CASH WITHDRAWAL,1998-04-27,24,4503
899587,14.6,DEBIT,PAYMENT ON STATEMENT,CASH WITHDRAWAL,1998-04-30,24,4503
899588,128.6,CREDIT,INTEREST CREDITED,NaN,1998-04-30,24,4503
899589,3928.0,DEBIT,NaN,CASH WITHDRAWAL,1998-05-07,24,4503
899590,2819.8,DEBIT,LOAN PAYMENT,REMITTANCE TO ANOTHER BANK,1998-05-12,24,4503
899591,34500.0,DEBIT,NaN,CASH WITHDRAWAL,1998-05-17,24,4503
899592,23189.0,CREDIT,NaN,CREDIT IN CASH,1998-05-23,24,4503
899593,14.6,DEBIT,PAYMENT ON STATEMENT,CASH WITHDRAWAL,1998-05-31,24,4503
899594,198.4,CREDIT,INTEREST CREDITED,NaN,1998-05-31,24,4503
899595,21126.0,CREDIT,NaN,CREDIT IN CASH,1998-06-01,24,4503
899596,10959.0,CREDIT,NaN,CREDIT IN CASH,1998-06-01,24,4503
899597,16200.0,DEBIT,NaN,CASH WITHDRAWAL,1998-06-09,24,4503
899598,2819.8,DEBIT,LOAN PAYMENT,REMITTANCE TO ANOTHER BANK,1998-06-12,24,4503
899599,40000.0,DEBIT,NaN,CASH WITHDRAWAL,1998-06-16,24,4503
899600,48648.0,CREDIT,NaN,CREDIT IN CASH,1998-06-26,24,4503
899601,14.6,DEBIT,PAYMENT ON STATEMENT,CASH WITHDRAWAL,1998-06-30,24,4503
899602,187.2,CREDIT,INTEREST CREDITED,NaN,1998-06-30,24,4503
899603,28906.0,CREDIT,NaN,CREDIT IN CASH,1998-07-07,24,4503
899604,39068.0,CREDIT,NaN,CREDIT IN CASH,1998-07-11,24,4503
899605,26800.0,DEBIT,NaN,CASH WITHDRAWAL,1998-07-11,24,4503
899606,2819.8,DEBIT,LOAN PAYMENT,REMITTANCE TO ANOTHER BANK,1998-07-12,24,4503
899607,63600.0,DEBIT,NaN,CASH WITHDRAWAL,1998-07-16,24,4503
899608,7893.0,CREDIT,NaN,CREDIT IN CASH,1998-07-23,24,4503
899609,3300.0,DEBIT,NaN,CREDIT CARD WITHDRAWAL,1998-07-24,24,4503
899610,14.6,DEBIT,PAYMENT ON STATEMENT,CASH WITHDRAWAL,1998-07-31,24,4503
899611,252.4,CREDIT,INTEREST CREDITED,NaN,1998-07-31,24,4503
899612,47770.0,CREDIT,NaN,CREDIT IN CASH,1998-08-03,24,4503
899613,2819.8,DEBIT,LOAN PAYMENT,REMITTANCE TO ANOTHER BANK,1998-08-12,24,4503
899614,55000.0,DEBIT,NaN,CASH WITHDRAWAL,1998-08-15,24,4503
899615,14.6,DEBIT,PAYMENT ON STATEMENT,CASH WITHDRAWAL,1998-08-31,24,4503
899616,184.5,CREDIT,INTEREST CREDITED,NaN,1998-08-31,24,4503
899617,2819.8,DEBIT,LOAN PAYMENT,REMITTANCE TO ANOTHER BANK,1998-09-12,24,4503
899618,31430.0,CREDIT,NaN,CREDIT IN CASH,1998-09-16,24,4503
899619,9681.0,DEBIT,NaN,CASH WITHDRAWAL,1998-09-16,24,4503
899620,17370.0,DEBIT,NaN,CASH WITHDRAWAL,1998-09-19,24,4503
899621,14.6,DEBIT,PAYMENT ON STATEMENT,CASH WITHDRAWAL,1998-09-30,24,4503
899622,162.6,CREDIT,INTEREST CREDITED,NaN,1998-09-30,24,4503
899623,2819.8,DEBIT,LOAN PAYMENT,REMITTANCE TO ANOTHER BANK,1998-10-12,24,4503
899624,35015.0,CREDIT,NaN,CREDIT IN CASH,1998-10-25,24,4503
899625,14.6,DEBIT,PAYMENT ON STATEMENT,CASH WITHDRAWAL,1998-10-31,24,4503
899626,185.3,CREDIT,INTEREST CREDITED,NaN,1998-10-31,24,4503
899627,2819.8,DEBIT,LOAN PAYMENT,REMITTANCE TO ANOTHER BANK,1998-11-12,24,4503
899628,42300.0,DEBIT,NaN,CASH WITHDRAWAL,1998-11-13,24,4503
899629,39197.0,CREDIT,NaN,CREDIT IN CASH,1998-11-15,24,4503
899630,14.6,DEBIT,PAYMENT ON STATEMENT,CASH WITHDRAWAL,1998-11-30,24,4503
899631,264.0,CREDIT,INTEREST CREDITED,NaN,1998-11-30,24,4503
899632,8524.0,CREDIT,NaN,CREDIT IN CASH,1998-12-05,24,4503
899633,2819.8,DEBIT,LOAN PAYMENT,REMITTANCE TO ANOTHER BANK,1998-12-12,24,4503
899634,45300.0,DEBIT,NaN,CASH WITHDRAWAL,1998-12-13,24,4503
899635,48953.0,CREDIT,NaN,CREDIT IN CASH,1998-12-20,24,4503
899636,244.5,CREDIT,INTEREST CREDITED,NaN,1998-12-31,24,4503

Account id: 1151

,amount,type,k_symbol,operation,datetime,age,account_id
252643,300.0,CREDIT,NaN,CREDIT IN CASH,1995-06-23,46,1151
252644,24015.0,CREDIT,NaN,CREDIT IN CASH,1995-07-13,46,1151
252645,1200.0,CREDIT,NaN,CREDIT IN CASH,1995-07-23,46,1151
252646,30.9,CREDIT,INTEREST CREDITED,NaN,1995-07-31,46,1151
252647,24015.0,CREDIT,NaN,CREDIT IN CASH,1995-08-13,46,1151
252648,12600.0,DEBIT,NaN,CASH WITHDRAWAL,1995-08-22,46,1151
252649,121.7,CREDIT,INTEREST CREDITED,NaN,1995-08-31,46,1151
252650,24015.0,CREDIT,NaN,CREDIT IN CASH,1995-09-13,46,1151
252651,18600.0,DEBIT,NaN,CASH WITHDRAWAL,1995-09-21,46,1151
252652,161.7,CREDIT,INTEREST CREDITED,NaN,1995-09-30,46,1151
252653,24015.0,CREDIT,NaN,CREDIT IN CASH,1995-10-13,46,1151
252654,17300.0,DEBIT,NaN,CASH WITHDRAWAL,1995-10-21,46,1151
252655,187.2,CREDIT,INTEREST CREDITED,NaN,1995-10-31,46,1151
252656,24015.0,CREDIT,NaN,CREDIT IN CASH,1995-11-13,46,1151
252657,21700.0,DEBIT,NaN,CASH WITHDRAWAL,1995-11-20,46,1151
252658,14.6,DEBIT,PAYMENT ON STATEMENT,CASH WITHDRAWAL,1995-11-30,46,1151
252659,209.6,CREDIT,INTEREST CREDITED,NaN,1995-11-30,46,1151
252660,3263.0,DEBIT,HOUSEHOLD,REMITTANCE TO ANOTHER BANK,1995-12-09,46,1151
252661,36022.0,CREDIT,NaN,CREDIT IN CASH,1995-12-13,46,1151
252662,2000.0,DEBIT,NaN,CASH WITHDRAWAL,1995-12-13,46,1151
252663,26100.0,DEBIT,NaN,CASH WITHDRAWAL,1995-12-20,46,1151
252664,14.6,DEBIT,PAYMENT ON STATEMENT,CASH WITHDRAWAL,1995-12-31,46,1151
252665,253.4,CREDIT,INTEREST CREDITED,NaN,1995-12-31,46,1151
252666,2400.0,DEBIT,NaN,CASH WITHDRAWAL,1996-01-03,46,1151
252667,1200.0,DEBIT,NaN,CASH WITHDRAWAL,1996-01-05,46,1151
252668,3263.0,DEBIT,HOUSEHOLD,REMITTANCE TO ANOTHER BANK,1996-01-09,46,1151
252669,9600.0,DEBIT,NaN,CASH WITHDRAWAL,1996-01-12,46,1151
252670,24015.0,CREDIT,NaN,CREDIT IN CASH,1996-01-13,46,1151
252671,1800.0,DEBIT,NaN,CASH WITHDRAWAL,1996-01-13,46,1151
252672,900.0,DEBIT,NaN,CASH WITHDRAWAL,1996-01-17,46,1151
252673,1400.0,DEBIT,NaN,CASH WITHDRAWAL,1996-01-18,46,1151
252674,2900.0,DEBIT,NaN,CASH WITHDRAWAL,1996-01-19,46,1151
252675,16200.0,DEBIT,NaN,CASH WITHDRAWAL,1996-01-19,46,1151
252676,2500.0,DEBIT,NaN,CASH WITHDRAWAL,1996-01-27,46,1151
252677,3800.0,DEBIT,NaN,CASH WITHDRAWAL,1996-01-30,46,1151
252678,14.6,DEBIT,PAYMENT ON STATEMENT,CASH WITHDRAWAL,1996-01-31,46,1151
252679,205.6,CREDIT,INTEREST CREDITED,NaN,1996-01-31,46,1151
252680,3263.0,DEBIT,HOUSEHOLD,REMITTANCE TO ANOTHER BANK,1996-02-09,46,1151
252681,24015.0,CREDIT,NaN,CREDIT IN CASH,1996-02-13,46,1151
252682,13500.0,DEBIT,NaN,CASH WITHDRAWAL,1996-02-18,46,1151
252683,14.6,DEBIT,PAYMENT ON STATEMENT,CASH WITHDRAWAL,1996-02-29,46,1151
252684,174.1,CREDIT,INTEREST CREDITED,NaN,1996-02-29,46,1151
252685,3263.0,DEBIT,HOUSEHOLD,REMITTANCE TO ANOTHER BANK,1996-03-09,46,1151
252686,24015.0,CREDIT,NaN,CREDIT IN CASH,1996-03-13,46,1151
252687,21200.0,DEBIT,NaN,CASH WITHDRAWAL,1996-03-19,46,1151
252688,14.6,DEBIT,PAYMENT ON STATEMENT,CASH WITHDRAWAL,1996-03-31,46,1151
252689,193.5,CREDIT,INTEREST CREDITED,NaN,1996-03-31,46,1151
252690,3263.0,DEBIT,HOUSEHOLD,REMITTANCE TO ANOTHER BANK,1996-04-09,46,1151
252691,24015.0,CREDIT,NaN,CREDIT IN CASH,1996-04-13,46,1151
252692,3100.0,DEBIT,NaN,CREDIT CARD WITHDRAWAL,1996-04-15,46,1151
252693,14200.0,DEBIT,NaN,CASH WITHDRAWAL,1996-04-18,46,1151
252694,14.6,DEBIT,PAYMENT ON STATEMENT,CASH WITHDRAWAL,1996-04-30,46,1151
252695,195.8,CREDIT,INTEREST CREDITED,NaN,1996-04-30,46,1151
252696,3263.0,DEBIT,HOUSEHOLD,REMITTANCE TO ANOTHER BANK,1996-05-09,46,1151
252697,24015.0,CREDIT,NaN,CREDIT IN CASH,1996-05-13,46,1151
252698,17200.0,DEBIT,NaN,CASH WITHDRAWAL,1996-05-18,46,1151
252699,14.6,DEBIT,PAYMENT ON STATEMENT,CASH WITHDRAWAL,1996-05-31,46,1151
252700,212.2,CREDIT,INTEREST CREDITED,NaN,1996-05-31,46,1151
252701,3263.0,DEBIT,HOUSEHOLD,REMITTANCE TO ANOTHER BANK,1996-06-09,46,1151
252702,36022.0,CREDIT,NaN,CREDIT IN CASH,1996-06-13,46,1151
252703,25300.0,DEBIT,NaN,CASH WITHDRAWAL,1996-06-17,46,1151
252704,16100.0,DEBIT,NaN,CASH WITHDRAWAL,1996-06-27,46,1151
252705,14.6,DEBIT,PAYMENT ON STATEMENT,CASH WITHDRAWAL,1996-06-30,46,1151
252706,230.9,CREDIT,INTEREST CREDITED,NaN,1996-06-30,46,1151
252707,3263.0,DEBIT,HOUSEHOLD,REMITTANCE TO ANOTHER BANK,1996-07-09,46,1151
252708,24015.0,CREDIT,NaN,CREDIT IN CASH,1996-07-13,46,1151
252709,2400.0,DEBIT,NaN,CREDIT CARD WITHDRAWAL,1996-07-16,46,1151
252710,14600.0,DEBIT,NaN,CASH WITHDRAWAL,1996-07-17,46,1151
252711,14.6,DEBIT,PAYMENT ON STATEMENT,CASH WITHDRAWAL,1996-07-31,46,1151
252712,190.4,CREDIT,INTEREST CREDITED,NaN,1996-07-31,46,1151
252713,3263.0,DEBIT,HOUSEHOLD,REMITTANCE TO ANOTHER BANK,1996-08-09,46,1151
252714,24015.0,CREDIT,NaN,CREDIT IN CASH,1996-08-13,46,1151
252715,16800.0,DEBIT,NaN,CASH WITHDRAWAL,1996-08-16,46,1151
252716,14.6,DEBIT,PAYMENT ON STATEMENT,CASH WITHDRAWAL,1996-08-31,46,1151
252717,205.2,CREDIT,INTEREST CREDITED,NaN,1996-08-31,46,1151
252718,3263.0,DEBIT,HOUSEHOLD,REMITTANCE TO ANOTHER BANK,1996-09-09,46,1151
252719,3700.0,DEBIT,NaN,CREDIT CARD WITHDRAWAL,1996-09-11,46,1151
252720,24015.0,CREDIT,NaN,CREDIT IN CASH,1996-09-13,46,1151
252721,12600.0,DEBIT,NaN,CASH WITHDRAWAL,1996-09-15,46,1151
252722,14.6,DEBIT,PAYMENT ON STATEMENT,CASH WITHDRAWAL,1996-09-30,46,1151
252723,218.2,CREDIT,INTEREST CREDITED,NaN,1996-09-30,46,1151
252724,3263.0,DEBIT,HOUSEHOLD,REMITTANCE TO ANOTHER BANK,1996-10-09,46,1151
252725,24015.0,CREDIT,NaN,CREDIT IN CASH,1996-10-13,46,1151
252726,18300.0,DEBIT,NaN,CASH WITHDRAWAL,1996-10-15,46,1151
252727,14.6,DEBIT,PAYMENT ON STATEMENT,CASH WITHDRAWAL,1996-10-31,46,1151
252728,236.1,CREDIT,INTEREST CREDITED,NaN,1996-10-31,46,1151
252729,3263.0,DEBIT,HOUSEHOLD,REMITTANCE TO ANOTHER BANK,1996-11-09,46,1151
252730,24015.0,CREDIT,NaN,CREDIT IN CASH,1996-11-13,46,1151
252731,19400.0,DEBIT,NaN,CASH WITHDRAWAL,1996-11-14,46,1151
252732,14.6,DEBIT,PAYMENT ON STATEMENT,CASH WITHDRAWAL,1996-11-30,46,1151
252733,242.1,CREDIT,INTEREST CREDITED,NaN,1996-11-30,46,1151
252734,3263.0,DEBIT,HOUSEHOLD,REMITTANCE TO ANOTHER BANK,1996-12-09,46,1151
252735,1300.0,DEBIT,NaN,CREDIT CARD WITHDRAWAL,1996-12-09,46,1151
252736,36022.0,CREDIT,NaN,CREDIT IN CASH,1996-12-13,46,1151
252737,25800.0,DEBIT,NaN,CASH WITHDRAWAL,1996-12-14,46,1151
252738,14.6,DEBIT,PAYMENT ON STATEMENT,CASH WITHDRAWAL,1996-12-31,46,1151
252739,258.7,CREDIT,INTEREST CREDITED,NaN,1996-12-31,46,1151
252740,1900.0,DEBIT,NaN,CREDIT CARD WITHDRAWAL,1997-01-03,46,1151
252741,6400.0,DEBIT,NaN,CASH WITHDRAWAL,1997-01-04,46,1151
252742,3263.0,DEBIT,HOUSEHOLD,REMITTANCE TO ANOTHER BANK,1997-01-09,46,1151
252743,1600.0,DEBIT,NaN,CREDIT CARD WITHDRAWAL,1997-01-12,46,1151
252744,24015.0,CREDIT,NaN,CREDIT IN CASH,1997-01-13,46,1151
252745,19800.0,DEBIT,NaN,CASH WITHDRAWAL,1997-01-13,46,1151
252746,2800.0,DEBIT,NaN,CREDIT CARD WITHDRAWAL,1997-01-21,46,1151
252747,1100.0,DEBIT,NaN,CREDIT CARD WITHDRAWAL,1997-01-24,46,1151
252748,2600.0,DEBIT,NaN,CREDIT CARD WITHDRAWAL,1997-01-30,46,1151
252749,2600.0,DEBIT,NaN,CREDIT CARD WITHDRAWAL,1997-01-30,46,1151
252750,14.6,DEBIT,PAYMENT ON STATEMENT,CASH WITHDRAWAL,1997-01-31,46,1151
252751,225.5,CREDIT,INTEREST CREDITED,NaN,1997-01-31,46,1151
252752,3263.0,DEBIT,HOUSEHOLD,REMITTANCE TO ANOTHER BANK,1997-02-09,46,1151
252753,3700.0,DEBIT,NaN,CREDIT CARD WITHDRAWAL,1997-02-12,46,1151
252754,24015.0,CREDIT,NaN,CREDIT IN CASH,1997-02-13,46,1151
252755,14.6,DEBIT,PAYMENT ON STATEMENT,CASH WITHDRAWAL,1997-02-28,46,1151
252756,232.3,CREDIT,INTEREST CREDITED,NaN,1997-02-28,46,1151
252757,3263.0,DEBIT,HOUSEHOLD,REMITTANCE TO ANOTHER BANK,1997-03-09,46,1151
252758,24015.0,CREDIT,NaN,CREDIT IN CASH,1997-03-13,46,1151
252759,23800.0,DEBIT,NaN,CASH WITHDRAWAL,1997-03-14,46,1151
252760,14.6,DEBIT,PAYMENT ON STATEMENT,CASH WITHDRAWAL,1997-03-31,46,1151
252761,260.1,CREDIT,INTEREST CREDITED,NaN,1997-03-31,46,1151
252762,900.0,DEBIT,NaN,CREDIT CARD WITHDRAWAL,1997-04-05,46,1151
252763,3263.0,DEBIT,HOUSEHOLD,REMITTANCE TO ANOTHER BANK,1997-04-09,46,1151
252764,21700.0,DEBIT,NaN,CASH WITHDRAWAL,1997-04-13,46,1151
252765,24015.0,CREDIT,NaN,CREDIT IN CASH,1997-04-13,46,1151
252766,3600.0,DEBIT,NaN,CREDIT CARD WITHDRAWAL,1997-04-19,46,1151
252767,14.6,DEBIT,PAYMENT ON STATEMENT,CASH WITHDRAWAL,1997-04-30,46,1151
252768,240.0,CREDIT,INTEREST CREDITED,NaN,1997-04-30,46,1151
252769,800.0,DEBIT,NaN,CREDIT CARD WITHDRAWAL,1997-05-03,46,1151
252770,3263.0,DEBIT,HOUSEHOLD,REMITTANCE TO ANOTHER BANK,1997-05-09,46,1151
252771,24015.0,CREDIT,NaN,CREDIT IN CASH,1997-05-13,46,1151
252772,20800.0,DEBIT,NaN,CASH WITHDRAWAL,1997-05-13,46,1151
252773,14.6,DEBIT,PAYMENT ON STATEMENT,CASH WITHDRAWAL,1997-05-31,46,1151
252774,226.8,CREDIT,INTEREST CREDITED,NaN,1997-05-31,46,1151
252775,3263.0,DEBIT,HOUSEHOLD,REMITTANCE TO ANOTHER BANK,1997-06-09,46,1151
252776,7200.0,DEBIT,NaN,CASH WITHDRAWAL,1997-06-12,46,1151
252777,36022.0,CREDIT,NaN,CREDIT IN CASH,1997-06-13,46,1151
252778,7300.0,DEBIT,NaN,CASH WITHDRAWAL,1997-06-15,46,1151
252779,14.6,DEBIT,PAYMENT ON STATEMENT,CASH WITHDRAWAL,1997-06-30,46,1151
252780,274.9,CREDIT,INTEREST CREDITED,NaN,1997-06-30,46,1151
252781,3263.0,DEBIT,HOUSEHOLD,REMITTANCE TO ANOTHER BANK,1997-07-09,46,1151
252782,14900.0,DEBIT,NaN,CASH WITHDRAWAL,1997-07-12,46,1151
252783,24015.0,CREDIT,NaN,CREDIT IN CASH,1997-07-13,46,1151
252784,14.6,DEBIT,PAYMENT ON STATEMENT,CASH WITHDRAWAL,1997-07-31,46,1151
252785,318.2,CREDIT,INTEREST CREDITED,NaN,1997-07-31,46,1151
252786,3263.0,DEBIT,HOUSEHOLD,REMITTANCE TO ANOTHER BANK,1997-08-09,46,1151
252787,4700.0,DEBIT,NaN,CASH WITHDRAWAL,1997-08-11,46,1151
252788,16900.0,DEBIT,NaN,CASH WITHDRAWAL,1997-08-11,46,1151
252789,24015.0,CREDIT,NaN,CREDIT IN CASH,1997-08-13,46,1151
252790,3800.0,DEBIT,NaN,CREDIT CARD WITHDRAWAL,1997-08-28,46,1151
252791,14.6,DEBIT,PAYMENT ON STATEMENT,CASH WITHDRAWAL,1997-08-31,46,1151
252792,325.0,CREDIT,INTEREST CREDITED,NaN,1997-08-31,46,1151
252793,3263.0,DEBIT,HOUSEHOLD,REMITTANCE TO ANOTHER BANK,1997-09-09,46,1151
252794,19300.0,DEBIT,NaN,CASH WITHDRAWAL,1997-09-10,46,1151
252795,24015.0,CREDIT,NaN,CREDIT IN CASH,1997-09-13,46,1151
252796,14.6,DEBIT,PAYMENT ON STATEMENT,CASH WITHDRAWAL,1997-09-30,46,1151
252797,307.3,CREDIT,INTEREST CREDITED,NaN,1997-09-30,46,1151
252798,3263.0,DEBIT,HOUSEHOLD,REMITTANCE TO ANOTHER BANK,1997-10-09,46,1151
252799,17600.0,DEBIT,NaN,CASH WITHDRAWAL,1997-10-10,46,1151
252800,24015.0,CREDIT,NaN,CREDIT IN CASH,1997-10-13,46,1151
252801,14.6,DEBIT,PAYMENT ON STATEMENT,CASH WITHDRAWAL,1997-10-31,46,1151
252802,319.9,CREDIT,INTEREST CREDITED,NaN,1997-10-31,46,1151
252803,3263.0,DEBIT,HOUSEHOLD,REMITTANCE TO ANOTHER BANK,1997-11-09,46,1151
252804,16300.0,DEBIT,NaN,CASH WITHDRAWAL,1997-11-09,46,1151
252805,24015.0,CREDIT,NaN,CREDIT IN CASH,1997-11-13,46,1151
252806,600.0,DEBIT,NaN,CREDIT CARD WITHDRAWAL,1997-11-21,46,1151
252807,14.6,DEBIT,PAYMENT ON STATEMENT,CASH WITHDRAWAL,1997-11-30,46,1151
252808,334.0,CREDIT,INTEREST CREDITED,NaN,1997-11-30,46,1151
252809,19000.0,DEBIT,NaN,CASH WITHDRAWAL,1997-12-09,46,1151
252810,3263.0,DEBIT,HOUSEHOLD,REMITTANCE TO ANOTHER BANK,1997-12-09,46,1151
252811,3900.0,DEBIT,NaN,CREDIT CARD WITHDRAWAL,1997-12-11,46,1151
252812,36022.0,CREDIT,NaN,CREDIT IN CASH,1997-12-13,46,1151
252813,700.0,DEBIT,NaN,CREDIT CARD WITHDRAWAL,1997-12-16,46,1151
252814,4900.0,DEBIT,NaN,CASH WITHDRAWAL,1997-12-17,46,1151
252815,800.0,DEBIT,NaN,CREDIT CARD WITHDRAWAL,1997-12-19,46,1151
252816,14.6,DEBIT,PAYMENT ON STATEMENT,CASH WITHDRAWAL,1997-12-31,46,1151
252817,352.1,CREDIT,INTEREST CREDITED,NaN,1997-12-31,46,1151
252818,1600.0,DEBIT,NaN,CREDIT CARD WITHDRAWAL,1998-01-01,46,1151
252819,3400.0,DEBIT,NaN,CREDIT CARD WITHDRAWAL,1998-01-07,46,1151
252820,15300.0,DEBIT,NaN,CASH WITHDRAWAL,1998-01-08,46,1151
252821,2500.0,DEBIT,NaN,CREDIT CARD WITHDRAWAL,1998-01-09,46,1151
252822,3263.0,DEBIT,HOUSEHOLD,REMITTANCE TO ANOTHER BANK,1998-01-09,46,1151
252823,1500.0,DEBIT,NaN,CREDIT CARD WITHDRAWAL,1998-01-13,46,1151
252824,24015.0,CREDIT,NaN,CREDIT IN CASH,1998-01-13,46,1151
252825,2300.0,DEBIT,NaN,CREDIT CARD WITHDRAWAL,1998-01-18,46,1151
252826,2400.0,DEBIT,NaN,CREDIT CARD WITHDRAWAL,1998-01-21,46,1151
252827,1600.0,DEBIT,NaN,CREDIT CARD WITHDRAWAL,1998-01-24,46,1151
252828,1100.0,DEBIT,NaN,CREDIT CARD WITHDRAWAL,1998-01-30,46,1151
252829,14.6,DEBIT,PAYMENT ON STATEMENT,CASH WITHDRAWAL,1998-01-31,46,1151
252830,333.0,CREDIT,INTEREST CREDITED,NaN,1998-01-31,46,1151
252831,9900.0,DEBIT,NaN,CASH WITHDRAWAL,1998-02-07,46,1151
252832,3263.0,DEBIT,HOUSEHOLD,REMITTANCE TO ANOTHER BANK,1998-02-09,46,1151
252833,24015.0,CREDIT,NaN,CREDIT IN CASH,1998-02-13,46,1151
252834,14.6,DEBIT,PAYMENT ON STATEMENT,CASH WITHDRAWAL,1998-02-28,46,1151
252835,341.2,CREDIT,INTEREST CREDITED,NaN,1998-02-28,46,1151
252836,3300.0,DEBIT,NaN,CREDIT CARD WITHDRAWAL,1998-03-05,46,1151
252837,10900.0,DEBIT,NaN,CASH WITHDRAWAL,1998-03-09,46,1151
252838,3263.0,DEBIT,HOUSEHOLD,REMITTANCE TO ANOTHER BANK,1998-03-09,46,1151
252839,24015.0,CREDIT,NaN,CREDIT IN CASH,1998-03-13,46,1151
252840,2100.0,DEBIT,NaN,CREDIT CARD WITHDRAWAL,1998-03-24,46,1151
252841,14.6,DEBIT,PAYMENT ON STATEMENT,CASH WITHDRAWAL,1998-03-31,46,1151
252842,1000.0,DEBIT,NaN,CREDIT CARD WITHDRAWAL,1998-03-31,46,1151
252843,374.6,CREDIT,INTEREST CREDITED,NaN,1998-03-31,46,1151
252844,18500.0,DEBIT,NaN,CASH WITHDRAWAL,1998-04-08,46,1151
252845,3263.0,DEBIT,HOUSEHOLD,REMITTANCE TO ANOTHER BANK,1998-04-09,46,1151
252846,24015.0,CREDIT,NaN,CREDIT IN CASH,1998-04-13,46,1151
252847,14.6,DEBIT,PAYMENT ON STATEMENT,CASH WITHDRAWAL,1998-04-30,46,1151
252848,378.9,CREDIT,INTEREST CREDITED,NaN,1998-04-30,46,1151
252849,19300.0,DEBIT,NaN,CASH WITHDRAWAL,1998-05-08,46,1151
252850,3263.0,DEBIT,HOUSEHOLD,REMITTANCE TO ANOTHER BANK,1998-05-09,46,1151
252851,24015.0,CREDIT,NaN,CREDIT IN CASH,1998-05-13,46,1151
252852,14.6,DEBIT,PAYMENT ON STATEMENT,CASH WITHDRAWAL,1998-05-31,46,1151
252853,387.7,CREDIT,INTEREST CREDITED,NaN,1998-05-31,46,1151
252854,9000.0,DEBIT,NaN,CASH WITHDRAWAL,1998-06-01,46,1151
252855,2800.0,DEBIT,NaN,CREDIT CARD WITHDRAWAL,1998-06-02,46,1151
252856,17500.0,DEBIT,NaN,CASH WITHDRAWAL,1998-06-07,46,1151
252857,3263.0,DEBIT,HOUSEHOLD,REMITTANCE TO ANOTHER BANK,1998-06-09,46,1151
252858,36022.0,CREDIT,NaN,CREDIT IN CASH,1998-06-13,46,1151
252859,14.6,DEBIT,PAYMENT ON STATEMENT,CASH WITHDRAWAL,1998-06-30,46,1151
252860,377.9,CREDIT,INTEREST CREDITED,NaN,1998-06-30,46,1151
252861,18000.0,DEBIT,NaN,CASH WITHDRAWAL,1998-07-07,46,1151
252862,3263.0,DEBIT,HOUSEHOLD,REMITTANCE TO ANOTHER BANK,1998-07-09,46,1151
252863,24015.0,CREDIT,NaN,CREDIT IN CASH,1998-07-13,46,1151
252864,14.6,DEBIT,PAYMENT ON STATEMENT,CASH WITHDRAWAL,1998-07-31,46,1151
252865,415.0,CREDIT,INTEREST CREDITED,NaN,1998-07-31,46,1151
252866,21000.0,DEBIT,NaN,CASH WITHDRAWAL,1998-08-06,46,1151
252867,3263.0,DEBIT,HOUSEHOLD,REMITTANCE TO ANOTHER BANK,1998-08-09,46,1151
252868,24015.0,CREDIT,NaN,CREDIT IN CASH,1998-08-13,46,1151
252869,14.6,DEBIT,PAYMENT ON STATEMENT,CASH WITHDRAWAL,1998-08-31,46,1151
252870,418.7,CREDIT,INTEREST CREDITED,NaN,1998-08-31,46,1151
252871,17400.0,DEBIT,NaN,CASH WITHDRAWAL,1998-09-05,46,1151
252872,3263.0,DEBIT,HOUSEHOLD,REMITTANCE TO ANOTHER BANK,1998-09-09,46,1151
252873,24015.0,CREDIT,NaN,CREDIT IN CASH,1998-09-13,46,1151
252874,14.6,DEBIT,PAYMENT ON STATEMENT,CASH WITHDRAWAL,1998-09-30,46,1151
252875,429.8,CREDIT,INTEREST CREDITED,NaN,1998-09-30,46,1151
252876,23100.0,DEBIT,NaN,CASH WITHDRAWAL,1998-10-05,46,1151
252877,3263.0,DEBIT,HOUSEHOLD,REMITTANCE TO ANOTHER BANK,1998-10-09,46,1151
252878,24015.0,CREDIT,NaN,CREDIT IN CASH,1998-10-13,46,1151
252879,14.6,DEBIT,PAYMENT ON STATEMENT,CASH WITHDRAWAL,1998-10-31,46,1151
252880,428.3,CREDIT,INTEREST CREDITED,NaN,1998-10-31,46,1151
252881,22500.0,DEBIT,NaN,CASH WITHDRAWAL,1998-11-04,46,1151
252882,3263.0,DEBIT,HOUSEHOLD,REMITTANCE TO ANOTHER BANK,1998-11-09,46,1151
252883,24015.0,CREDIT,NaN,CREDIT IN CASH,1998-11-13,46,1151
252884,14.6,DEBIT,PAYMENT ON STATEMENT,CASH WITHDRAWAL,1998-11-30,46,1151
252885,421.5,CREDIT,INTEREST CREDITED,NaN,1998-11-30,46,1151
252886,17600.0,DEBIT,NaN,CASH WITHDRAWAL,1998-12-04,46,1151
252887,2800.0,DEBIT,NaN,CREDIT CARD WITHDRAWAL,1998-12-06,46,1151
252888,2700.0,DEBIT,NaN,CREDIT CARD WITHDRAWAL,1998-12-06,46,1151
252889,3263.0,DEBIT,HOUSEHOLD,REMITTANCE TO ANOTHER BANK,1998-12-09,46,1151
252890,36022.0,CREDIT,NaN,CREDIT IN CASH,1998-12-13,46,1151
252891,17100.0,DEBIT,NaN,CASH WITHDRAWAL,1998-12-13,46,1151
252892,436.7,CREDIT,INTEREST CREDITED,NaN,1998-12-31,46,1151

Account id: 812

,amount,type,k_symbol,operation,datetime,age,account_id
176903,1000.0,CREDIT,NaN,CREDIT IN CASH,1996-08-30,40,812
176904,19549.0,CREDIT,NaN,CREDIT IN CASH,1996-09-12,40,812
176905,3100.0,CREDIT,NaN,CREDIT IN CASH,1996-09-29,40,812
176906,6.6,CREDIT,INTEREST CREDITED,NaN,1996-09-30,40,812
176907,19549.0,CREDIT,NaN,CREDIT IN CASH,1996-10-12,40,812
176908,8200.0,DEBIT,NaN,CASH WITHDRAWAL,1996-10-29,40,812
176909,103.1,CREDIT,INTEREST CREDITED,NaN,1996-10-31,40,812
176910,19549.0,CREDIT,NaN,CREDIT IN CASH,1996-11-12,40,812
176911,13200.0,DEBIT,NaN,CASH WITHDRAWAL,1996-11-28,40,812
176912,148.5,CREDIT,INTEREST CREDITED,NaN,1996-11-30,40,812
176913,29323.5,CREDIT,NaN,CREDIT IN CASH,1996-12-12,40,812
176914,22300.0,DEBIT,NaN,CASH WITHDRAWAL,1996-12-28,40,812
176915,176.6,CREDIT,INTEREST CREDITED,NaN,1996-12-31,40,812
176916,19549.0,CREDIT,NaN,CREDIT IN CASH,1997-01-12,40,812
176917,3240.0,DEBIT,NaN,CASH WITHDRAWAL,1997-01-14,40,812
176918,3480.0,DEBIT,NaN,CASH WITHDRAWAL,1997-01-14,40,812
176919,3120.0,DEBIT,NaN,CASH WITHDRAWAL,1997-01-17,40,812
176920,11040.0,DEBIT,NaN,CASH WITHDRAWAL,1997-01-19,40,812
176921,9600.0,DEBIT,NaN,CASH WITHDRAWAL,1997-01-27,40,812
176922,14.6,DEBIT,PAYMENT ON STATEMENT,CASH WITHDRAWAL,1997-01-31,40,812
176923,203.4,CREDIT,INTEREST CREDITED,NaN,1997-01-31,40,812
176924,9128.0,DEBIT,HOUSEHOLD,REMITTANCE TO ANOTHER BANK,1997-02-08,40,812
176925,19549.0,CREDIT,NaN,CREDIT IN CASH,1997-02-12,40,812
176926,11700.0,DEBIT,NaN,CASH WITHDRAWAL,1997-02-26,40,812
176927,14.6,DEBIT,PAYMENT ON STATEMENT,CASH WITHDRAWAL,1997-02-28,40,812
176928,179.7,CREDIT,INTEREST CREDITED,NaN,1997-02-28,40,812
176929,3600.0,DEBIT,NaN,CASH WITHDRAWAL,1997-03-06,40,812
176930,9128.0,DEBIT,HOUSEHOLD,REMITTANCE TO ANOTHER BANK,1997-03-08,40,812
176931,19549.0,CREDIT,NaN,CREDIT IN CASH,1997-03-12,40,812
176932,4680.0,DEBIT,NaN,CASH WITHDRAWAL,1997-03-22,40,812
176933,4900.0,DEBIT,NaN,CASH WITHDRAWAL,1997-03-28,40,812
176934,14.6,DEBIT,PAYMENT ON STATEMENT,CASH WITHDRAWAL,1997-03-31,40,812
176935,156.5,CREDIT,INTEREST CREDITED,NaN,1997-03-31,40,812
176936,9128.0,DEBIT,HOUSEHOLD,REMITTANCE TO ANOTHER BANK,1997-04-08,40,812
176937,19549.0,CREDIT,NaN,CREDIT IN CASH,1997-04-12,40,812
176938,8700.0,DEBIT,NaN,CASH WITHDRAWAL,1997-04-27,40,812
176939,14.6,DEBIT,PAYMENT ON STATEMENT,CASH WITHDRAWAL,1997-04-30,40,812
176940,165.7,CREDIT,INTEREST CREDITED,NaN,1997-04-30,40,812
176941,3720.0,DEBIT,NaN,CASH WITHDRAWAL,1997-05-01,40,812
176942,9128.0,DEBIT,HOUSEHOLD,REMITTANCE TO ANOTHER BANK,1997-05-08,40,812
176943,19549.0,CREDIT,NaN,CREDIT IN CASH,1997-05-12,40,812
176944,8800.0,DEBIT,NaN,CASH WITHDRAWAL,1997-05-27,40,812
176945,14.6,DEBIT,PAYMENT ON STATEMENT,CASH WITHDRAWAL,1997-05-31,40,812
176946,156.0,CREDIT,INTEREST CREDITED,NaN,1997-05-31,40,812
176947,9128.0,DEBIT,HOUSEHOLD,REMITTANCE TO ANOTHER BANK,1997-06-08,40,812
176948,29323.5,CREDIT,NaN,CREDIT IN CASH,1997-06-12,40,812
176949,13440.0,DEBIT,NaN,CASH WITHDRAWAL,1997-06-16,40,812
176950,7200.0,DEBIT,NaN,CASH WITHDRAWAL,1997-06-26,40,812
176951,14.6,DEBIT,PAYMENT ON STATEMENT,CASH WITHDRAWAL,1997-06-30,40,812
176952,162.9,CREDIT,INTEREST CREDITED,NaN,1997-06-30,40,812
176953,9128.0,DEBIT,HOUSEHOLD,REMITTANCE TO ANOTHER BANK,1997-07-08,40,812
176954,19549.0,CREDIT,NaN,CREDIT IN CASH,1997-07-12,40,812
176955,5900.0,DEBIT,NaN,CASH WITHDRAWAL,1997-07-26,40,812
176956,14.6,DEBIT,PAYMENT ON STATEMENT,CASH WITHDRAWAL,1997-07-31,40,812
176957,164.6,CREDIT,INTEREST CREDITED,NaN,1997-07-31,40,812
176958,9128.0,DEBIT,HOUSEHOLD,REMITTANCE TO ANOTHER BANK,1997-08-08,40,812
176959,19549.0,CREDIT,NaN,CREDIT IN CASH,1997-08-12,40,812
176960,8100.0,DEBIT,NaN,CASH WITHDRAWAL,1997-08-25,40,812
176961,14.6,DEBIT,PAYMENT ON STATEMENT,CASH WITHDRAWAL,1997-08-31,40,812
176962,181.2,CREDIT,INTEREST CREDITED,NaN,1997-08-31,40,812
176963,9128.0,DEBIT,HOUSEHOLD,REMITTANCE TO ANOTHER BANK,1997-09-08,40,812
176964,19549.0,CREDIT,NaN,CREDIT IN CASH,1997-09-12,40,812
176965,1320.0,DEBIT,NaN,CASH WITHDRAWAL,1997-09-14,40,812
176966,6900.0,DEBIT,NaN,CASH WITHDRAWAL,1997-09-24,40,812
176967,14.6,DEBIT,PAYMENT ON STATEMENT,CASH WITHDRAWAL,1997-09-30,40,812
176968,188.8,CREDIT,INTEREST CREDITED,NaN,1997-09-30,40,812
176969,9128.0,DEBIT,HOUSEHOLD,REMITTANCE TO ANOTHER BANK,1997-10-08,40,812
176970,19549.0,CREDIT,NaN,CREDIT IN CASH,1997-10-12,40,812
176971,10500.0,DEBIT,NaN,CASH WITHDRAWAL,1997-10-24,40,812
176972,14.6,DEBIT,PAYMENT ON STATEMENT,CASH WITHDRAWAL,1997-10-31,40,812
176973,197.7,CREDIT,INTEREST CREDITED,NaN,1997-10-31,40,812
176974,9128.0,DEBIT,HOUSEHOLD,REMITTANCE TO ANOTHER BANK,1997-11-08,40,812
176975,19549.0,CREDIT,NaN,CREDIT IN CASH,1997-11-12,40,812
176976,12700.0,DEBIT,NaN,CASH WITHDRAWAL,1997-11-23,40,812
176977,14.6,DEBIT,PAYMENT ON STATEMENT,CASH WITHDRAWAL,1997-11-30,40,812
176978,194.8,CREDIT,INTEREST CREDITED,NaN,1997-11-30,40,812
176979,9128.0,DEBIT,HOUSEHOLD,REMITTANCE TO ANOTHER BANK,1997-12-08,40,812
176980,3000.0,DEBIT,NaN,CASH WITHDRAWAL,1997-12-10,40,812
176981,29323.5,CREDIT,NaN,CREDIT IN CASH,1997-12-12,40,812
176982,17000.0,DEBIT,NaN,CASH WITHDRAWAL,1997-12-23,40,812
176983,4480.0,DEBIT,NaN,CASH WITHDRAWAL,1997-12-28,40,812
176984,2400.0,DEBIT,NaN,CASH WITHDRAWAL,1997-12-28,40,812
176985,14.6,DEBIT,PAYMENT ON STATEMENT,CASH WITHDRAWAL,1997-12-31,40,812
176986,191.3,CREDIT,INTEREST CREDITED,NaN,1997-12-31,40,812
176987,2040.0,DEBIT,NaN,CASH WITHDRAWAL,1998-01-01,40,812
176988,840.0,DEBIT,NaN,CASH WITHDRAWAL,1998-01-05,40,812
176989,2520.0,DEBIT,NaN,CASH WITHDRAWAL,1998-01-08,40,812
176990,9128.0,DEBIT,HOUSEHOLD,REMITTANCE TO ANOTHER BANK,1998-01-08,40,812
176991,1920.0,DEBIT,NaN,CASH WITHDRAWAL,1998-01-11,40,812
176992,19549.0,CREDIT,NaN,CREDIT IN CASH,1998-01-12,40,812
176993,2760.0,DEBIT,NaN,CASH WITHDRAWAL,1998-01-17,40,812
176994,15040.0,DEBIT,NaN,CASH WITHDRAWAL,1998-01-17,40,812
176995,5100.0,CREDIT,NaN,CREDIT IN CASH,1998-01-22,40,812
176996,720.0,DEBIT,NaN,CASH WITHDRAWAL,1998-01-26,40,812
176997,2880.0,DEBIT,NaN,CASH WITHDRAWAL,1998-01-26,40,812
176998,14.6,DEBIT,PAYMENT ON STATEMENT,CASH WITHDRAWAL,1998-01-31,40,812
176999,115.0,CREDIT,INTEREST CREDITED,NaN,1998-01-31,40,812
177000,9128.0,DEBIT,HOUSEHOLD,REMITTANCE TO ANOTHER BANK,1998-02-08,40,812
177001,19549.0,CREDIT,NaN,CREDIT IN CASH,1998-02-12,40,812
177002,1300.0,DEBIT,NaN,CASH WITHDRAWAL,1998-02-21,40,812
177003,14.6,DEBIT,PAYMENT ON STATEMENT,CASH WITHDRAWAL,1998-02-28,40,812
177004,115.7,CREDIT,INTEREST CREDITED,NaN,1998-02-28,40,812
177005,9128.0,DEBIT,HOUSEHOLD,REMITTANCE TO ANOTHER BANK,1998-03-08,40,812
177006,19549.0,CREDIT,NaN,CREDIT IN CASH,1998-03-12,40,812
177007,11200.0,DEBIT,NaN,CASH WITHDRAWAL,1998-03-23,40,812
177008,14.6,DEBIT,PAYMENT ON STATEMENT,CASH WITHDRAWAL,1998-03-31,40,812
177009,143.7,CREDIT,INTEREST CREDITED,NaN,1998-03-31,40,812
177010,9128.0,DEBIT,HOUSEHOLD,REMITTANCE TO ANOTHER BANK,1998-04-08,40,812
177011,19549.0,CREDIT,NaN,CREDIT IN CASH,1998-04-12,40,812
177012,10000.0,DEBIT,NaN,CASH WITHDRAWAL,1998-04-22,40,812
177013,14.6,DEBIT,PAYMENT ON STATEMENT,CASH WITHDRAWAL,1998-04-30,40,812
177014,141.5,CREDIT,INTEREST CREDITED,NaN,1998-04-30,40,812
177015,9128.0,DEBIT,HOUSEHOLD,REMITTANCE TO ANOTHER BANK,1998-05-08,40,812
177016,19549.0,CREDIT,NaN,CREDIT IN CASH,1998-05-12,40,812
177017,10100.0,DEBIT,NaN,CASH WITHDRAWAL,1998-05-22,40,812
177018,14.6,DEBIT,PAYMENT ON STATEMENT,CASH WITHDRAWAL,1998-05-31,40,812
177019,143.1,CREDIT,INTEREST CREDITED,NaN,1998-05-31,40,812
177020,9128.0,DEBIT,HOUSEHOLD,REMITTANCE TO ANOTHER BANK,1998-06-08,40,812
177021,29323.5,CREDIT,NaN,CREDIT IN CASH,1998-06-12,40,812
177022,17400.0,DEBIT,NaN,CASH WITHDRAWAL,1998-06-21,40,812
177023,2520.0,DEBIT,NaN,CASH WITHDRAWAL,1998-06-23,40,812
177024,14.6,DEBIT,PAYMENT ON STATEMENT,CASH WITHDRAWAL,1998-06-30,40,812
177025,156.9,CREDIT,INTEREST CREDITED,NaN,1998-06-30,40,812
177026,9128.0,DEBIT,HOUSEHOLD,REMITTANCE TO ANOTHER BANK,1998-07-08,40,812
177027,19549.0,CREDIT,NaN,CREDIT IN CASH,1998-07-12,40,812
177028,8200.0,DEBIT,NaN,CASH WITHDRAWAL,1998-07-21,40,812
177029,5280.0,DEBIT,NaN,CASH WITHDRAWAL,1998-07-21,40,812
177030,14.6,DEBIT,PAYMENT ON STATEMENT,CASH WITHDRAWAL,1998-07-31,40,812
177031,147.4,CREDIT,INTEREST CREDITED,NaN,1998-07-31,40,812
177032,9128.0,DEBIT,HOUSEHOLD,REMITTANCE TO ANOTHER BANK,1998-08-08,40,812
177033,19549.0,CREDIT,NaN,CREDIT IN CASH,1998-08-12,40,812
177034,7100.0,DEBIT,NaN,CASH WITHDRAWAL,1998-08-20,40,812
177035,14.6,DEBIT,PAYMENT ON STATEMENT,CASH WITHDRAWAL,1998-08-31,40,812
177036,136.5,CREDIT,INTEREST CREDITED,NaN,1998-08-31,40,812
177037,9128.0,DEBIT,HOUSEHOLD,REMITTANCE TO ANOTHER BANK,1998-09-08,40,812
177038,19549.0,CREDIT,NaN,CREDIT IN CASH,1998-09-12,40,812
177039,3840.0,DEBIT,NaN,CASH WITHDRAWAL,1998-09-16,40,812
177040,9900.0,DEBIT,NaN,CASH WITHDRAWAL,1998-09-19,40,812
177041,14.6,DEBIT,PAYMENT ON STATEMENT,CASH WITHDRAWAL,1998-09-30,40,812
177042,137.2,CREDIT,INTEREST CREDITED,NaN,1998-09-30,40,812
177043,9128.0,DEBIT,HOUSEHOLD,REMITTANCE TO ANOTHER BANK,1998-10-08,40,812
177044,19549.0,CREDIT,NaN,CREDIT IN CASH,1998-10-12,40,812
177045,6100.0,DEBIT,NaN,CASH WITHDRAWAL,1998-10-19,40,812
177046,14.6,DEBIT,PAYMENT ON STATEMENT,CASH WITHDRAWAL,1998-10-31,40,812
177047,138.2,CREDIT,INTEREST CREDITED,NaN,1998-10-31,40,812
177048,9128.0,DEBIT,HOUSEHOLD,REMITTANCE TO ANOTHER BANK,1998-11-08,40,812
177049,19549.0,CREDIT,NaN,CREDIT IN CASH,1998-11-12,40,812
177050,10200.0,DEBIT,NaN,CASH WITHDRAWAL,1998-11-18,40,812
177051,14.6,DEBIT,PAYMENT ON STATEMENT,CASH WITHDRAWAL,1998-11-30,40,812
177052,148.4,CREDIT,INTEREST CREDITED,NaN,1998-11-30,40,812
177053,2720.0,DEBIT,NaN,CASH WITHDRAWAL,1998-12-02,40,812
177054,2040.0,DEBIT,NaN,CASH WITHDRAWAL,1998-12-07,40,812
177055,9128.0,DEBIT,HOUSEHOLD,REMITTANCE TO ANOTHER BANK,1998-12-08,40,812
177056,29323.5,CREDIT,NaN,CREDIT IN CASH,1998-12-12,40,812
177057,14000.0,DEBIT,NaN,CASH WITHDRAWAL,1998-12-18,40,812
177058,720.0,DEBIT,NaN,CASH WITHDRAWAL,1998-12-27,40,812
177059,147.3,CREDIT,INTEREST CREDITED,NaN,1998-12-31,40,812

Account id: 2010

,amount,type,k_symbol,operation,datetime,age,account_id
441120,1100.0,CREDIT,NaN,CREDIT IN CASH,1993-12-27,71,2010
441121,5815.0,CREDIT,OLD AGE PENSION,COLLECTION FROM ANOTHER BANK,1994-01-09,71,2010
441122,5815.0,CREDIT,OLD AGE PENSION,COLLECTION FROM ANOTHER BANK,1994-02-09,71,2010
441123,5815.0,CREDIT,OLD AGE PENSION,COLLECTION FROM ANOTHER BANK,1994-03-09,71,2010
441124,5815.0,CREDIT,OLD AGE PENSION,COLLECTION FROM ANOTHER BANK,1994-04-09,71,2010
441125,5815.0,CREDIT,OLD AGE PENSION,COLLECTION FROM ANOTHER BANK,1994-05-09,71,2010
441126,480.0,DEBIT,NaN,CASH WITHDRAWAL,1994-05-16,71,2010
441127,1600.0,DEBIT,NaN,CASH WITHDRAWAL,1994-05-26,71,2010
441128,62.4,CREDIT,INTEREST CREDITED,NaN,1994-05-31,71,2010
441129,14.6,DEBIT,PAYMENT ON STATEMENT,CASH WITHDRAWAL,1994-05-31,71,2010
441130,1680.0,DEBIT,NaN,CASH WITHDRAWAL,1994-05-31,71,2010
441131,3876.0,DEBIT,HOUSEHOLD,REMITTANCE TO ANOTHER BANK,1994-06-08,71,2010
441132,5815.0,CREDIT,OLD AGE PENSION,COLLECTION FROM ANOTHER BANK,1994-06-09,71,2010
441133,1800.0,DEBIT,NaN,CASH WITHDRAWAL,1994-06-25,71,2010
441134,3800.0,DEBIT,NaN,CASH WITHDRAWAL,1994-06-26,71,2010
441135,112.1,CREDIT,INTEREST CREDITED,NaN,1994-06-30,71,2010
441136,14.6,DEBIT,PAYMENT ON STATEMENT,CASH WITHDRAWAL,1994-06-30,71,2010
441137,3876.0,DEBIT,HOUSEHOLD,REMITTANCE TO ANOTHER BANK,1994-07-08,71,2010
441138,5815.0,CREDIT,OLD AGE PENSION,COLLECTION FROM ANOTHER BANK,1994-07-09,71,2010
441139,101.4,CREDIT,INTEREST CREDITED,NaN,1994-07-31,71,2010
441140,14.6,DEBIT,PAYMENT ON STATEMENT,CASH WITHDRAWAL,1994-07-31,71,2010
441141,3876.0,DEBIT,HOUSEHOLD,REMITTANCE TO ANOTHER BANK,1994-08-08,71,2010
441142,5815.0,CREDIT,OLD AGE PENSION,COLLECTION FROM ANOTHER BANK,1994-08-09,71,2010
441143,880.0,DEBIT,NaN,CASH WITHDRAWAL,1994-08-23,71,2010
441144,108.8,CREDIT,INTEREST CREDITED,NaN,1994-08-31,71,2010
441145,14.6,DEBIT,PAYMENT ON STATEMENT,CASH WITHDRAWAL,1994-08-31,71,2010
441146,3876.0,DEBIT,HOUSEHOLD,REMITTANCE TO ANOTHER BANK,1994-09-08,71,2010
441147,5815.0,CREDIT,OLD AGE PENSION,COLLECTION FROM ANOTHER BANK,1994-09-09,71,2010
441148,114.6,CREDIT,INTEREST CREDITED,NaN,1994-09-30,71,2010
441149,14.6,DEBIT,PAYMENT ON STATEMENT,CASH WITHDRAWAL,1994-09-30,71,2010
441150,3876.0,DEBIT,HOUSEHOLD,REMITTANCE TO ANOTHER BANK,1994-10-08,71,2010
441151,5815.0,CREDIT,OLD AGE PENSION,COLLECTION FROM ANOTHER BANK,1994-10-09,71,2010
441152,1300.0,DEBIT,NaN,CASH WITHDRAWAL,1994-10-23,71,2010
441153,480.0,DEBIT,NaN,CASH WITHDRAWAL,1994-10-29,71,2010
441154,121.4,CREDIT,INTEREST CREDITED,NaN,1994-10-31,71,2010
441155,14.6,DEBIT,PAYMENT ON STATEMENT,CASH WITHDRAWAL,1994-10-31,71,2010
441156,3876.0,DEBIT,HOUSEHOLD,REMITTANCE TO ANOTHER BANK,1994-11-08,71,2010
441157,5815.0,CREDIT,OLD AGE PENSION,COLLECTION FROM ANOTHER BANK,1994-11-09,71,2010
441158,124.2,CREDIT,INTEREST CREDITED,NaN,1994-11-30,71,2010
441159,14.6,DEBIT,PAYMENT ON STATEMENT,CASH WITHDRAWAL,1994-11-30,71,2010
441160,1100.0,DEBIT,NaN,CASH WITHDRAWAL,1994-12-06,71,2010
441161,3876.0,DEBIT,HOUSEHOLD,REMITTANCE TO ANOTHER BANK,1994-12-08,71,2010
441162,5815.0,CREDIT,OLD AGE PENSION,COLLECTION FROM ANOTHER BANK,1994-12-09,71,2010
441163,600.0,DEBIT,NaN,CASH WITHDRAWAL,1994-12-22,71,2010
441164,127.9,CREDIT,INTEREST CREDITED,NaN,1994-12-31,71,2010
441165,14.6,DEBIT,PAYMENT ON STATEMENT,CASH WITHDRAWAL,1994-12-31,71,2010
441166,3876.0,DEBIT,HOUSEHOLD,REMITTANCE TO ANOTHER BANK,1995-01-08,71,2010
441167,5815.0,CREDIT,OLD AGE PENSION,COLLECTION FROM ANOTHER BANK,1995-01-09,71,2010
441168,1040.0,DEBIT,NaN,CASH WITHDRAWAL,1995-01-12,71,2010
441169,1680.0,DEBIT,NaN,CASH WITHDRAWAL,1995-01-21,71,2010
441170,1840.0,DEBIT,NaN,CASH WITHDRAWAL,1995-01-22,71,2010
441171,4050.0,DEBIT,NaN,CASH WITHDRAWAL,1995-01-24,71,2010
441172,800.0,DEBIT,NaN,CASH WITHDRAWAL,1995-01-29,71,2010
441173,800.0,DEBIT,NaN,CASH WITHDRAWAL,1995-01-29,71,2010
441174,2320.0,DEBIT,NaN,CASH WITHDRAWAL,1995-01-30,71,2010
441175,120.8,CREDIT,INTEREST CREDITED,NaN,1995-01-31,71,2010
441176,14.6,DEBIT,PAYMENT ON STATEMENT,CASH WITHDRAWAL,1995-01-31,71,2010
441177,3876.0,DEBIT,HOUSEHOLD,REMITTANCE TO ANOTHER BANK,1995-02-08,71,2010
441178,5815.0,CREDIT,OLD AGE PENSION,COLLECTION FROM ANOTHER BANK,1995-02-09,71,2010
441179,560.0,DEBIT,NaN,CASH WITHDRAWAL,1995-02-10,71,2010
441180,88.7,CREDIT,INTEREST CREDITED,NaN,1995-02-28,71,2010
441181,14.6,DEBIT,PAYMENT ON STATEMENT,CASH WITHDRAWAL,1995-02-28,71,2010
441182,3876.0,DEBIT,HOUSEHOLD,REMITTANCE TO ANOTHER BANK,1995-03-08,71,2010
441183,5815.0,CREDIT,OLD AGE PENSION,COLLECTION FROM ANOTHER BANK,1995-03-09,71,2010
441184,96.6,CREDIT,INTEREST CREDITED,NaN,1995-03-31,71,2010
441185,14.6,DEBIT,PAYMENT ON STATEMENT,CASH WITHDRAWAL,1995-03-31,71,2010
441186,3876.0,DEBIT,HOUSEHOLD,REMITTANCE TO ANOTHER BANK,1995-04-08,71,2010
441187,5815.0,CREDIT,OLD AGE PENSION,COLLECTION FROM ANOTHER BANK,1995-04-09,71,2010
441188,104.9,CREDIT,INTEREST CREDITED,NaN,1995-04-30,71,2010
441189,14.6,DEBIT,PAYMENT ON STATEMENT,CASH WITHDRAWAL,1995-04-30,71,2010
441190,3876.0,DEBIT,HOUSEHOLD,REMITTANCE TO ANOTHER BANK,1995-05-08,71,2010
441191,5815.0,CREDIT,OLD AGE PENSION,COLLECTION FROM ANOTHER BANK,1995-05-09,71,2010
441192,113.4,CREDIT,INTEREST CREDITED,NaN,1995-05-31,71,2010
441193,14.6,DEBIT,PAYMENT ON STATEMENT,CASH WITHDRAWAL,1995-05-31,71,2010
441194,2000.0,DEBIT,NaN,CASH WITHDRAWAL,1995-06-07,71,2010
441195,3876.0,DEBIT,HOUSEHOLD,REMITTANCE TO ANOTHER BANK,1995-06-08,71,2010
441196,5815.0,CREDIT,OLD AGE PENSION,COLLECTION FROM ANOTHER BANK,1995-06-09,71,2010
441197,13600.0,DEBIT,NaN,CASH WITHDRAWAL,1995-06-18,71,2010
441198,90.3,CREDIT,INTEREST CREDITED,NaN,1995-06-30,71,2010
441199,14.6,DEBIT,PAYMENT ON STATEMENT,CASH WITHDRAWAL,1995-06-30,71,2010
441200,3876.0,DEBIT,HOUSEHOLD,REMITTANCE TO ANOTHER BANK,1995-07-08,71,2010
441201,5815.0,CREDIT,OLD AGE PENSION,COLLECTION FROM ANOTHER BANK,1995-07-09,71,2010
441202,65.2,CREDIT,INTEREST CREDITED,NaN,1995-07-31,71,2010
441203,14.6,DEBIT,PAYMENT ON STATEMENT,CASH WITHDRAWAL,1995-07-31,71,2010
441204,3876.0,DEBIT,HOUSEHOLD,REMITTANCE TO ANOTHER BANK,1995-08-08,71,2010
441205,5815.0,CREDIT,OLD AGE PENSION,COLLECTION FROM ANOTHER BANK,1995-08-09,71,2010
441206,2880.0,DEBIT,NaN,CASH WITHDRAWAL,1995-08-14,71,2010
441207,66.5,CREDIT,INTEREST CREDITED,NaN,1995-08-31,71,2010
441208,14.6,DEBIT,PAYMENT ON STATEMENT,CASH WITHDRAWAL,1995-08-31,71,2010
441209,3876.0,DEBIT,HOUSEHOLD,REMITTANCE TO ANOTHER BANK,1995-09-08,71,2010
441210,5815.0,CREDIT,OLD AGE PENSION,COLLECTION FROM ANOTHER BANK,1995-09-09,71,2010
441211,69.7,CREDIT,INTEREST CREDITED,NaN,1995-09-30,71,2010
441212,14.6,DEBIT,PAYMENT ON STATEMENT,CASH WITHDRAWAL,1995-09-30,71,2010
441213,3876.0,DEBIT,HOUSEHOLD,REMITTANCE TO ANOTHER BANK,1995-10-08,71,2010
441214,5815.0,CREDIT,OLD AGE PENSION,COLLECTION FROM ANOTHER BANK,1995-10-09,71,2010
441215,78.0,CREDIT,INTEREST CREDITED,NaN,1995-10-31,71,2010
441216,14.6,DEBIT,PAYMENT ON STATEMENT,CASH WITHDRAWAL,1995-10-31,71,2010
441217,3876.0,DEBIT,HOUSEHOLD,REMITTANCE TO ANOTHER BANK,1995-11-08,71,2010
441218,5815.0,CREDIT,OLD AGE PENSION,COLLECTION FROM ANOTHER BANK,1995-11-09,71,2010
441219,640.0,DEBIT,NaN,CASH WITHDRAWAL,1995-11-21,71,2010
441220,85.4,CREDIT,INTEREST CREDITED,NaN,1995-11-30,71,2010
441221,14.6,DEBIT,PAYMENT ON STATEMENT,CASH WITHDRAWAL,1995-11-30,71,2010
441222,2720.0,DEBIT,NaN,CASH WITHDRAWAL,1995-12-05,71,2010
441223,3876.0,DEBIT,HOUSEHOLD,REMITTANCE TO ANOTHER BANK,1995-12-08,71,2010
441224,5815.0,CREDIT,OLD AGE PENSION,COLLECTION FROM ANOTHER BANK,1995-12-09,71,2010
441225,350.0,DEBIT,NaN,CASH WITHDRAWAL,1995-12-19,71,2010
441226,82.1,CREDIT,INTEREST CREDITED,NaN,1995-12-31,71,2010
441227,14.6,DEBIT,PAYMENT ON STATEMENT,CASH WITHDRAWAL,1995-12-31,71,2010
441228,1650.0,DEBIT,NaN,CASH WITHDRAWAL,1996-01-05,71,2010
441229,2080.0,DEBIT,NaN,CASH WITHDRAWAL,1996-01-05,71,2010
441230,3876.0,DEBIT,HOUSEHOLD,REMITTANCE TO ANOTHER BANK,1996-01-08,71,2010
441231,5815.0,CREDIT,OLD AGE PENSION,COLLECTION FROM ANOTHER BANK,1996-01-09,71,2010
441232,560.0,DEBIT,NaN,CASH WITHDRAWAL,1996-01-14,71,2010
441233,1120.0,DEBIT,NaN,CASH WITHDRAWAL,1996-01-22,71,2010
441234,800.0,DEBIT,NaN,CASH WITHDRAWAL,1996-01-23,71,2010
441235,1200.0,DEBIT,NaN,CASH WITHDRAWAL,1996-01-30,71,2010
441236,69.4,CREDIT,INTEREST CREDITED,NaN,1996-01-31,71,2010
441237,14.6,DEBIT,PAYMENT ON STATEMENT,CASH WITHDRAWAL,1996-01-31,71,2010
441238,3876.0,DEBIT,HOUSEHOLD,REMITTANCE TO ANOTHER BANK,1996-02-08,71,2010
441239,5815.0,CREDIT,OLD AGE PENSION,COLLECTION FROM ANOTHER BANK,1996-02-09,71,2010
441240,64.8,CREDIT,INTEREST CREDITED,NaN,1996-02-29,71,2010
441241,14.6,DEBIT,PAYMENT ON STATEMENT,CASH WITHDRAWAL,1996-02-29,71,2010
441242,3876.0,DEBIT,HOUSEHOLD,REMITTANCE TO ANOTHER BANK,1996-03-08,71,2010
441243,5815.0,CREDIT,OLD AGE PENSION,COLLECTION FROM ANOTHER BANK,1996-03-09,71,2010
441244,73.1,CREDIT,INTEREST CREDITED,NaN,1996-03-31,71,2010
441245,14.6,DEBIT,PAYMENT ON STATEMENT,CASH WITHDRAWAL,1996-03-31,71,2010
441246,1040.0,DEBIT,NaN,CASH WITHDRAWAL,1996-03-31,71,2010
441247,3876.0,DEBIT,HOUSEHOLD,REMITTANCE TO ANOTHER BANK,1996-04-08,71,2010
441248,5815.0,CREDIT,OLD AGE PENSION,COLLECTION FROM ANOTHER BANK,1996-04-09,71,2010
441249,77.1,CREDIT,INTEREST CREDITED,NaN,1996-04-30,71,2010
441250,14.6,DEBIT,PAYMENT ON STATEMENT,CASH WITHDRAWAL,1996-04-30,71,2010
441251,3876.0,DEBIT,HOUSEHOLD,REMITTANCE TO ANOTHER BANK,1996-05-08,71,2010
441252,5815.0,CREDIT,OLD AGE PENSION,COLLECTION FROM ANOTHER BANK,1996-05-09,71,2010
441253,3920.0,DEBIT,NaN,CASH WITHDRAWAL,1996-05-13,71,2010
441254,75.5,CREDIT,INTEREST CREDITED,NaN,1996-05-31,71,2010
441255,14.6,DEBIT,PAYMENT ON STATEMENT,CASH WITHDRAWAL,1996-05-31,71,2010
441256,3876.0,DEBIT,HOUSEHOLD,REMITTANCE TO ANOTHER BANK,1996-06-08,71,2010
441257,5815.0,CREDIT,OLD AGE PENSION,COLLECTION FROM ANOTHER BANK,1996-06-09,71,2010
441258,77.4,CREDIT,INTEREST CREDITED,NaN,1996-06-30,71,2010
441259,14.6,DEBIT,PAYMENT ON STATEMENT,CASH WITHDRAWAL,1996-06-30,71,2010
441260,3876.0,DEBIT,HOUSEHOLD,REMITTANCE TO ANOTHER BANK,1996-07-08,71,2010
441261,5815.0,CREDIT,OLD AGE PENSION,COLLECTION FROM ANOTHER BANK,1996-07-09,71,2010
441262,85.8,CREDIT,INTEREST CREDITED,NaN,1996-07-31,71,2010
441263,14.6,DEBIT,PAYMENT ON STATEMENT,CASH WITHDRAWAL,1996-07-31,71,2010
441264,3876.0,DEBIT,HOUSEHOLD,REMITTANCE TO ANOTHER BANK,1996-08-08,71,2010
441265,5815.0,CREDIT,OLD AGE PENSION,COLLECTION FROM ANOTHER BANK,1996-08-09,71,2010
441266,94.1,CREDIT,INTEREST CREDITED,NaN,1996-08-31,71,2010
441267,14.6,DEBIT,PAYMENT ON STATEMENT,CASH WITHDRAWAL,1996-08-31,71,2010
441268,3876.0,DEBIT,HOUSEHOLD,REMITTANCE TO ANOTHER BANK,1996-09-08,71,2010
441269,5815.0,CREDIT,OLD AGE PENSION,COLLECTION FROM ANOTHER BANK,1996-09-09,71,2010
441270,102.4,CREDIT,INTEREST CREDITED,NaN,1996-09-30,71,2010
441271,14.6,DEBIT,PAYMENT ON STATEMENT,CASH WITHDRAWAL,1996-09-30,71,2010
441272,3920.0,DEBIT,NaN,CASH WITHDRAWAL,1996-10-05,71,2010
441273,3876.0,DEBIT,HOUSEHOLD,REMITTANCE TO ANOTHER BANK,1996-10-08,71,2010
441274,5815.0,CREDIT,OLD AGE PENSION,COLLECTION FROM ANOTHER BANK,1996-10-09,71,2010
441275,97.7,CREDIT,INTEREST CREDITED,NaN,1996-10-31,71,2010
441276,14.6,DEBIT,PAYMENT ON STATEMENT,CASH WITHDRAWAL,1996-10-31,71,2010
441277,3876.0,DEBIT,HOUSEHOLD,REMITTANCE TO ANOTHER BANK,1996-11-08,71,2010
441278,5815.0,CREDIT,OLD AGE PENSION,COLLECTION FROM ANOTHER BANK,1996-11-09,71,2010
441279,3520.0,DEBIT,NaN,CASH WITHDRAWAL,1996-11-25,71,2010
441280,99.9,CREDIT,INTEREST CREDITED,NaN,1996-11-30,71,2010
441281,14.6,DEBIT,PAYMENT ON STATEMENT,CASH WITHDRAWAL,1996-11-30,71,2010
441282,560.0,DEBIT,NaN,CASH WITHDRAWAL,1996-12-04,71,2010
441283,3876.0,DEBIT,HOUSEHOLD,REMITTANCE TO ANOTHER BANK,1996-12-08,71,2010
441284,5815.0,CREDIT,OLD AGE PENSION,COLLECTION FROM ANOTHER BANK,1996-12-09,71,2010
441285,1760.0,DEBIT,NaN,CASH WITHDRAWAL,1996-12-10,71,2010
441286,300.0,DEBIT,NaN,CASH WITHDRAWAL,1996-12-20,71,2010
441287,88.6,CREDIT,INTEREST CREDITED,NaN,1996-12-31,71,2010
441288,14.6,DEBIT,PAYMENT ON STATEMENT,CASH WITHDRAWAL,1996-12-31,71,2010
441289,960.0,DEBIT,NaN,CASH WITHDRAWAL,1997-01-01,71,2010
441290,2160.0,DEBIT,NaN,CASH WITHDRAWAL,1997-01-06,71,2010
441291,400.0,DEBIT,NaN,CASH WITHDRAWAL,1997-01-07,71,2010
441292,3876.0,DEBIT,HOUSEHOLD,REMITTANCE TO ANOTHER BANK,1997-01-08,71,2010
441293,1920.0,DEBIT,NaN,CASH WITHDRAWAL,1997-01-09,71,2010
441294,5815.0,CREDIT,OLD AGE PENSION,COLLECTION FROM ANOTHER BANK,1997-01-09,71,2010
441295,1840.0,DEBIT,NaN,CASH WITHDRAWAL,1997-01-12,71,2010
441296,1280.0,DEBIT,NaN,CASH WITHDRAWAL,1997-01-12,71,2010
441297,67.7,CREDIT,INTEREST CREDITED,NaN,1997-01-31,71,2010
441298,14.6,DEBIT,PAYMENT ON STATEMENT,CASH WITHDRAWAL,1997-01-31,71,2010
441299,3876.0,DEBIT,HOUSEHOLD,REMITTANCE TO ANOTHER BANK,1997-02-08,71,2010
441300,5815.0,CREDIT,OLD AGE PENSION,COLLECTION FROM ANOTHER BANK,1997-02-09,71,2010
441301,66.4,CREDIT,INTEREST CREDITED,NaN,1997-02-28,71,2010
441302,14.6,DEBIT,PAYMENT ON STATEMENT,CASH WITHDRAWAL,1997-02-28,71,2010
441303,3876.0,DEBIT,HOUSEHOLD,REMITTANCE TO ANOTHER BANK,1997-03-08,71,2010
441304,5815.0,CREDIT,OLD AGE PENSION,COLLECTION FROM ANOTHER BANK,1997-03-09,71,2010
441305,74.9,CREDIT,INTEREST CREDITED,NaN,1997-03-31,71,2010
441306,14.6,DEBIT,PAYMENT ON STATEMENT,CASH WITHDRAWAL,1997-03-31,71,2010
441307,3876.0,DEBIT,HOUSEHOLD,REMITTANCE TO ANOTHER BANK,1997-04-08,71,2010
441308,5815.0,CREDIT,OLD AGE PENSION,COLLECTION FROM ANOTHER BANK,1997-04-09,71,2010
441309,400.0,DEBIT,NaN,CASH WITHDRAWAL,1997-04-24,71,2010
441310,82.7,CREDIT,INTEREST CREDITED,NaN,1997-04-30,71,2010
441311,14.6,DEBIT,PAYMENT ON STATEMENT,CASH WITHDRAWAL,1997-04-30,71,2010
441312,3876.0,DEBIT,HOUSEHOLD,REMITTANCE TO ANOTHER BANK,1997-05-08,71,2010
441313,5815.0,CREDIT,OLD AGE PENSION,COLLECTION FROM ANOTHER BANK,1997-05-09,71,2010
441314,89.8,CREDIT,INTEREST CREDITED,NaN,1997-05-31,71,2010
441315,14.6,DEBIT,PAYMENT ON STATEMENT,CASH WITHDRAWAL,1997-05-31,71,2010
441316,3876.0,DEBIT,HOUSEHOLD,REMITTANCE TO ANOTHER BANK,1997-06-08,71,2010
441317,5815.0,CREDIT,OLD AGE PENSION,COLLECTION FROM ANOTHER BANK,1997-06-09,71,2010
441318,8100.0,DEBIT,NaN,CASH WITHDRAWAL,1997-06-24,71,2010
441319,90.2,CREDIT,INTEREST CREDITED,NaN,1997-06-30,71,2010
441320,14.6,DEBIT,PAYMENT ON STATEMENT,CASH WITHDRAWAL,1997-06-30,71,2010
441321,3876.0,DEBIT,HOUSEHOLD,REMITTANCE TO ANOTHER BANK,1997-07-08,71,2010
441322,5815.0,CREDIT,OLD AGE PENSION,COLLECTION FROM ANOTHER BANK,1997-07-09,71,2010
441323,72.8,CREDIT,INTEREST CREDITED,NaN,1997-07-31,71,2010
441324,14.6,DEBIT,PAYMENT ON STATEMENT,CASH WITHDRAWAL,1997-07-31,71,2010
441325,3876.0,DEBIT,HOUSEHOLD,REMITTANCE TO ANOTHER BANK,1997-08-08,71,2010
441326,5815.0,CREDIT,OLD AGE PENSION,COLLECTION FROM ANOTHER BANK,1997-08-09,71,2010
441327,1600.0,DEBIT,NaN,CASH WITHDRAWAL,1997-08-23,71,2010
441328,79.1,CREDIT,INTEREST CREDITED,NaN,1997-08-31,71,2010
441329,14.6,DEBIT,PAYMENT ON STATEMENT,CASH WITHDRAWAL,1997-08-31,71,2010
441330,3876.0,DEBIT,HOUSEHOLD,REMITTANCE TO ANOTHER BANK,1997-09-08,71,2010
441331,5815.0,CREDIT,OLD AGE PENSION,COLLECTION FROM ANOTHER BANK,1997-09-09,71,2010
441332,1680.0,DEBIT,NaN,CASH WITHDRAWAL,1997-09-20,71,2010
441333,80.0,CREDIT,INTEREST CREDITED,NaN,1997-09-30,71,2010
441334,14.6,DEBIT,PAYMENT ON STATEMENT,CASH WITHDRAWAL,1997-09-30,71,2010
441335,3876.0,DEBIT,HOUSEHOLD,REMITTANCE TO ANOTHER BANK,1997-10-08,71,2010
441336,5815.0,CREDIT,OLD AGE PENSION,COLLECTION FROM ANOTHER BANK,1997-10-09,71,2010
441337,83.9,CREDIT,INTEREST CREDITED,NaN,1997-10-31,71,2010
441338,14.6,DEBIT,PAYMENT ON STATEMENT,CASH WITHDRAWAL,1997-10-31,71,2010
441339,3876.0,DEBIT,HOUSEHOLD,REMITTANCE TO ANOTHER BANK,1997-11-08,71,2010
441340,5815.0,CREDIT,OLD AGE PENSION,COLLECTION FROM ANOTHER BANK,1997-11-09,71,2010
441341,880.0,DEBIT,NaN,CASH WITHDRAWAL,1997-11-29,71,2010
441342,91.9,CREDIT,INTEREST CREDITED,NaN,1997-11-30,71,2010
441343,14.6,DEBIT,PAYMENT ON STATEMENT,CASH WITHDRAWAL,1997-11-30,71,2010
441344,3876.0,DEBIT,HOUSEHOLD,REMITTANCE TO ANOTHER BANK,1997-12-08,71,2010
441345,5815.0,CREDIT,OLD AGE PENSION,COLLECTION FROM ANOTHER BANK,1997-12-09,71,2010
441346,550.0,DEBIT,NaN,CASH WITHDRAWAL,1997-12-16,71,2010
441347,480.0,DEBIT,NaN,CASH WITHDRAWAL,1997-12-21,71,2010
441348,2080.0,DEBIT,NaN,CASH WITHDRAWAL,1997-12-29,71,2010
441349,94.2,CREDIT,INTEREST CREDITED,NaN,1997-12-31,71,2010
441350,14.6,DEBIT,PAYMENT ON STATEMENT,CASH WITHDRAWAL,1997-12-31,71,2010
441351,2000.0,DEBIT,NaN,CASH WITHDRAWAL,1998-01-06,71,2010
441352,3876.0,DEBIT,HOUSEHOLD,REMITTANCE TO ANOTHER BANK,1998-01-08,71,2010
441353,2400.0,DEBIT,NaN,CASH WITHDRAWAL,1998-01-09,71,2010
441354,1200.0,DEBIT,NaN,CASH WITHDRAWAL,1998-01-09,71,2010
441355,5815.0,CREDIT,OLD AGE PENSION,COLLECTION FROM ANOTHER BANK,1998-01-09,71,2010
441356,1680.0,DEBIT,NaN,CASH WITHDRAWAL,1998-01-10,71,2010
441357,69.7,CREDIT,INTEREST CREDITED,NaN,1998-01-31,71,2010
441358,14.6,DEBIT,PAYMENT ON STATEMENT,CASH WITHDRAWAL,1998-01-31,71,2010
441359,3876.0,DEBIT,HOUSEHOLD,REMITTANCE TO ANOTHER BANK,1998-02-08,71,2010
441360,5815.0,CREDIT,OLD AGE PENSION,COLLECTION FROM ANOTHER BANK,1998-02-09,71,2010
441361,70.0,CREDIT,INTEREST CREDITED,NaN,1998-02-28,71,2010
441362,14.6,DEBIT,PAYMENT ON STATEMENT,CASH WITHDRAWAL,1998-02-28,71,2010
441363,3876.0,DEBIT,HOUSEHOLD,REMITTANCE TO ANOTHER BANK,1998-03-08,71,2010
441364,5815.0,CREDIT,OLD AGE PENSION,COLLECTION FROM ANOTHER BANK,1998-03-09,71,2010
441365,78.5,CREDIT,INTEREST CREDITED,NaN,1998-03-31,71,2010
441366,14.6,DEBIT,PAYMENT ON STATEMENT,CASH WITHDRAWAL,1998-03-31,71,2010
441367,3876.0,DEBIT,HOUSEHOLD,REMITTANCE TO ANOTHER BANK,1998-04-08,71,2010
441368,5815.0,CREDIT,OLD AGE PENSION,COLLECTION FROM ANOTHER BANK,1998-04-09,71,2010
441369,1360.0,DEBIT,NaN,CASH WITHDRAWAL,1998-04-09,71,2010
441370,86.5,CREDIT,INTEREST CREDITED,NaN,1998-04-30,71,2010
441371,14.6,DEBIT,PAYMENT ON STATEMENT,CASH WITHDRAWAL,1998-04-30,71,2010
441372,3876.0,DEBIT,HOUSEHOLD,REMITTANCE TO ANOTHER BANK,1998-05-08,71,2010
441373,5815.0,CREDIT,OLD AGE PENSION,COLLECTION FROM ANOTHER BANK,1998-05-09,71,2010
441374,89.4,CREDIT,INTEREST CREDITED,NaN,1998-05-31,71,2010
441375,14.6,DEBIT,PAYMENT ON STATEMENT,CASH WITHDRAWAL,1998-05-31,71,2010
441376,3876.0,DEBIT,HOUSEHOLD,REMITTANCE TO ANOTHER BANK,1998-06-08,71,2010
441377,5815.0,CREDIT,OLD AGE PENSION,COLLECTION FROM ANOTHER BANK,1998-06-09,71,2010
441378,5200.0,DEBIT,NaN,CASH WITHDRAWAL,1998-06-09,71,2010
441379,1360.0,DEBIT,NaN,CASH WITHDRAWAL,1998-06-13,71,2010
441380,81.2,CREDIT,INTEREST CREDITED,NaN,1998-06-30,71,2010
441381,14.6,DEBIT,PAYMENT ON STATEMENT,CASH WITHDRAWAL,1998-06-30,71,2010
441382,3876.0,DEBIT,HOUSEHOLD,REMITTANCE TO ANOTHER BANK,1998-07-08,71,2010
441383,5815.0,CREDIT,OLD AGE PENSION,COLLECTION FROM ANOTHER BANK,1998-07-09,71,2010
441384,78.7,CREDIT,INTEREST CREDITED,NaN,1998-07-31,71,2010
441385,14.6,DEBIT,PAYMENT ON STATEMENT,CASH WITHDRAWAL,1998-07-31,71,2010
441386,3876.0,DEBIT,HOUSEHOLD,REMITTANCE TO ANOTHER BANK,1998-08-08,71,2010
441387,5815.0,CREDIT,OLD AGE PENSION,COLLECTION FROM ANOTHER BANK,1998-08-09,71,2010
441388,86.9,CREDIT,INTEREST CREDITED,NaN,1998-08-31,71,2010
441389,14.6,DEBIT,PAYMENT ON STATEMENT,CASH WITHDRAWAL,1998-08-31,71,2010
441390,3876.0,DEBIT,HOUSEHOLD,REMITTANCE TO ANOTHER BANK,1998-09-08,71,2010
441391,5815.0,CREDIT,OLD AGE PENSION,COLLECTION FROM ANOTHER BANK,1998-09-09,71,2010
441392,95.2,CREDIT,INTEREST CREDITED,NaN,1998-09-30,71,2010
441393,14.6,DEBIT,PAYMENT ON STATEMENT,CASH WITHDRAWAL,1998-09-30,71,2010
441394,3876.0,DEBIT,HOUSEHOLD,REMITTANCE TO ANOTHER BANK,1998-10-08,71,2010
441395,5815.0,CREDIT,OLD AGE PENSION,COLLECTION FROM ANOTHER BANK,1998-10-09,71,2010
441396,3360.0,DEBIT,NaN,CASH WITHDRAWAL,1998-10-26,71,2010
441397,100.9,CREDIT,INTEREST CREDITED,NaN,1998-10-31,71,2010
441398,14.6,DEBIT,PAYMENT ON STATEMENT,CASH WITHDRAWAL,1998-10-31,71,2010
441399,3876.0,DEBIT,HOUSEHOLD,REMITTANCE TO ANOTHER BANK,1998-11-08,71,2010
441400,5815.0,CREDIT,OLD AGE PENSION,COLLECTION FROM ANOTHER BANK,1998-11-09,71,2010

# A few random synthetic accounts

In [14]:
n_show = 10
df = synth_df[use_cols]

choosen_accts = np.random.choice(df["account_id"].unique(), size=n_show, replace=False)

In [15]:
for acct in choosen_accts:
    
    print(f"Account id:", acct)
    
    with pd.option_context('display.max_colwidth', None, "display.max_rows", None, "display.max_columns", None):
        display(df[df["account_id"]==acct])
    
    print("\n\n")

Account id: 26

,amount,type,k_symbol,operation,datetime,age,account_id
2080,3538.43,CREDIT,NaN,CREDIT IN CASH,1993-11-15,77,26
2081,7396.36,CREDIT,NaN,CREDIT IN CASH,1993-11-25,77,26
2082,6754.82,CREDIT,NaN,CREDIT IN CASH,1993-11-26,77,26
2083,154.13,CREDIT,INTEREST CREDITED,NaN,1993-11-30,77,26
2084,6633.86,DEBIT,NaN,CASH WITHDRAWAL,1993-12-04,77,26
2085,18857.22,CREDIT,NaN,CREDIT IN CASH,1993-12-17,77,26
2086,11129.62,CREDIT,NaN,CREDIT IN CASH,1993-12-20,77,26
2087,109.68,CREDIT,INTEREST CREDITED,NaN,1993-12-31,77,26
2088,43.44,DEBIT,PAYMENT ON STATEMENT,CASH WITHDRAWAL,1994-03-31,77,26
2089,12145.45,CREDIT,NaN,CREDIT IN CASH,1994-04-30,77,26
2090,80.27,CREDIT,INTEREST CREDITED,NaN,1994-04-30,77,26
2091,10104.55,CREDIT,NaN,CREDIT IN CASH,1994-05-07,77,26
2092,6799.83,CREDIT,NaN,CREDIT IN CASH,1994-05-18,77,26
2093,2792.64,DEBIT,NaN,CASH WITHDRAWAL,1994-05-18,77,26
2094,7940.36,CREDIT,NaN,CREDIT IN CASH,1994-05-22,77,26
2095,146.18,CREDIT,INTEREST CREDITED,NaN,1994-05-31,77,26
2096,175.50,CREDIT,INTEREST CREDITED,NaN,1994-06-30,77,26
2097,25.04,DEBIT,PAYMENT ON STATEMENT,CASH WITHDRAWAL,1994-07-31,77,26
2098,133.74,CREDIT,INTEREST CREDITED,NaN,1994-07-31,77,26
2099,8956.52,CREDIT,NaN,CREDIT IN CASH,1994-08-08,77,26
2100,4799.58,CREDIT,NaN,CREDIT IN CASH,1994-08-11,77,26
2101,2159.29,DEBIT,NaN,CASH WITHDRAWAL,1994-08-14,77,26
2102,4992.22,CREDIT,NaN,CREDIT IN CASH,1994-08-21,77,26
2103,5022.73,DEBIT,NaN,CASH WITHDRAWAL,1994-08-21,77,26
2104,132.52,CREDIT,INTEREST CREDITED,NaN,1994-08-31,77,26
2105,121.81,CREDIT,INTEREST CREDITED,NaN,1994-08-31,77,26
2106,7855.99,CREDIT,NaN,CREDIT IN CASH,1994-09-08,77,26
2107,5872.21,CREDIT,NaN,CREDIT IN CASH,1994-09-14,77,26
2108,2939.15,DEBIT,NaN,CASH WITHDRAWAL,1994-09-21,77,26
2109,14.69,DEBIT,PAYMENT ON STATEMENT,CASH WITHDRAWAL,1994-09-30,77,26
2110,172.51,CREDIT,INTEREST CREDITED,NaN,1994-09-30,77,26
2111,7303.28,CREDIT,NaN,CREDIT IN CASH,1994-10-10,77,26
2112,2610.85,CREDIT,NaN,CREDIT IN CASH,1994-10-17,77,26
2113,4812.82,CREDIT,NaN,CREDIT IN CASH,1994-10-21,77,26
2114,6855.32,CREDIT,NaN,CREDIT IN CASH,1994-10-21,77,26
2115,3022.17,DEBIT,NaN,CASH WITHDRAWAL,1994-10-24,77,26
2116,16.10,DEBIT,PAYMENT ON STATEMENT,CASH WITHDRAWAL,1994-10-31,77,26
2117,153.68,CREDIT,INTEREST CREDITED,NaN,1994-10-31,77,26
2118,6392.03,CREDIT,NaN,CREDIT IN CASH,1994-11-08,77,26
2119,2247.82,CREDIT,NaN,CREDIT IN CASH,1994-11-14,77,26
2120,5371.08,CREDIT,NaN,CREDIT IN CASH,1994-11-17,77,26
2121,117.71,CREDIT,INTEREST CREDITED,NaN,1994-11-30,77,26
2122,16.70,DEBIT,PAYMENT ON STATEMENT,CASH WITHDRAWAL,1994-11-30,77,26
2123,7418.42,CREDIT,NaN,CREDIT IN CASH,1994-12-02,77,26
2124,3066.32,CREDIT,NaN,CREDIT IN CASH,1994-12-12,77,26
2125,2988.02,CREDIT,NaN,CREDIT IN CASH,1994-12-17,77,26
2126,5208.98,CREDIT,NaN,CREDIT IN CASH,1994-12-20,77,26
2127,103.90,CREDIT,INTEREST CREDITED,NaN,1994-12-31,77,26
2128,18.02,DEBIT,PAYMENT ON STATEMENT,CASH WITHDRAWAL,1994-12-31,77,26
2129,90.79,CREDIT,INTEREST CREDITED,NaN,1994-12-31,77,26
2130,1779.63,DEBIT,NaN,CASH WITHDRAWAL,1995-01-04,77,26
2131,3651.71,CREDIT,NaN,CREDIT IN CASH,1995-01-11,77,26
2132,1066.50,DEBIT,NaN,CASH WITHDRAWAL,1995-01-15,77,26
2133,4776.01,CREDIT,NaN,CREDIT IN CASH,1995-01-18,77,26
2134,121.24,CREDIT,INTEREST CREDITED,NaN,1995-01-31,77,26
2135,17.20,DEBIT,PAYMENT ON STATEMENT,CASH WITHDRAWAL,1995-01-31,77,26
2136,83.28,CREDIT,INTEREST CREDITED,NaN,1995-01-31,77,26
2137,1489.82,DEBIT,NaN,CASH WITHDRAWAL,1995-05-02,77,26
2138,82.99,CREDIT,INTEREST CREDITED,NaN,1995-05-02,77,26
2139,3924.44,CREDIT,NaN,CREDIT IN CASH,1995-05-14,77,26
2140,880.63,DEBIT,NaN,CASH WITHDRAWAL,1995-05-18,77,26
2141,118.65,CREDIT,INTEREST CREDITED,NaN,1995-05-31,77,26
2142,99.51,CREDIT,INTEREST CREDITED,NaN,1995-05-31,77,26
2143,3384.06,DEBIT,NaN,CASH WITHDRAWAL,1995-06-10,77,26
2144,3165.90,CREDIT,NaN,CREDIT IN CASH,1995-06-14,77,26
2145,67.23,CREDIT,INTEREST CREDITED,NaN,1995-06-30,77,26
2146,13.62,DEBIT,PAYMENT ON STATEMENT,CASH WITHDRAWAL,1995-06-30,77,26
2147,132.71,CREDIT,INTEREST CREDITED,NaN,1995-06-30,77,26
2148,5255.31,CREDIT,NaN,CREDIT IN CASH,1995-07-02,77,26
2149,1451.77,DEBIT,NaN,CASH WITHDRAWAL,1995-07-09,77,26
2150,3302.84,CREDIT,NaN,CREDIT IN CASH,1995-07-16,77,26
2151,3457.35,CREDIT,NaN,CREDIT IN CASH,1995-07-18,77,26
2152,125.23,CREDIT,INTEREST CREDITED,NaN,1995-07-31,77,26
2153,10.74,DEBIT,PAYMENT ON STATEMENT,CASH WITHDRAWAL,1995-07-31,77,26
2154,57.53,CREDIT,INTEREST CREDITED,NaN,1995-09-30,77,26
2155,15.38,DEBIT,PAYMENT ON STATEMENT,CASH WITHDRAWAL,1995-09-30,77,26
2156,82.20,CREDIT,INTEREST CREDITED,NaN,1995-10-31,77,26
2157,15.30,DEBIT,PAYMENT ON STATEMENT,CASH WITHDRAWAL,1995-10-31,77,26
2158,1571.46,DEBIT,NaN,CASH WITHDRAWAL,1995-11-08,77,26
2159,3214.58,CREDIT,NaN,CREDIT IN CASH,1995-11-13,77,26

Account id: 11

,amount,type,k_symbol,operation,datetime,age,account_id
880,3754.98,CREDIT,OLD AGE PENSION,COLLECTION FROM ANOTHER BANK,1993-12-26,46,11
881,9140.55,CREDIT,NaN,CREDIT IN CASH,1993-12-27,46,11
882,125.54,CREDIT,INTEREST CREDITED,NaN,1993-12-31,46,11
883,18.57,DEBIT,PAYMENT ON STATEMENT,CASH WITHDRAWAL,1993-12-31,46,11
884,3092.51,DEBIT,NaN,CASH WITHDRAWAL,1994-01-07,46,11
885,6324.61,DEBIT,NaN,CASH WITHDRAWAL,1994-01-09,46,11
886,16326.64,CREDIT,NaN,CREDIT IN CASH,1994-01-11,46,11
887,3167.82,DEBIT,,CASH WITHDRAWAL,1994-01-13,46,11
888,7165.15,DEBIT,HOUSEHOLD,CASH WITHDRAWAL,1994-01-13,46,11
889,7862.94,CREDIT,NaN,CREDIT IN CASH,1994-01-20,46,11
890,177.89,CREDIT,INTEREST CREDITED,NaN,1994-01-31,46,11
891,15.02,DEBIT,PAYMENT ON STATEMENT,CASH WITHDRAWAL,1994-01-31,46,11
892,16736.74,CREDIT,NaN,COLLECTION FROM ANOTHER BANK,1994-02-07,46,11
893,6316.53,DEBIT,NaN,CASH WITHDRAWAL,1994-02-07,46,11
894,2326.39,DEBIT,,CASH WITHDRAWAL,1994-02-10,46,11
895,8320.32,CREDIT,NaN,CREDIT IN CASH,1994-02-15,46,11
896,138.70,CREDIT,INTEREST CREDITED,NaN,1994-02-28,46,11
897,11.04,DEBIT,PAYMENT ON STATEMENT,CASH WITHDRAWAL,1994-02-28,46,11
898,6503.69,CREDIT,NaN,CREDIT IN CASH,1994-03-06,46,11
899,1445.90,DEBIT,,CASH WITHDRAWAL,1994-03-07,46,11
900,7958.48,CREDIT,NaN,CREDIT IN CASH,1994-03-07,46,11
901,4922.10,DEBIT,HOUSEHOLD,CASH WITHDRAWAL,1994-03-08,46,11
902,8501.83,CREDIT,NaN,CREDIT IN CASH,1994-03-09,46,11
903,6099.32,DEBIT,NaN,CASH WITHDRAWAL,1994-03-16,46,11
904,147.30,CREDIT,INTEREST CREDITED,NaN,1994-03-31,46,11
905,10.36,DEBIT,PAYMENT ON STATEMENT,CASH WITHDRAWAL,1994-03-31,46,11
906,1542.53,DEBIT,NaN,CREDIT CARD WITHDRAWAL,1994-04-03,46,11
907,5.29,DEBIT,SANCTION INTEREST,CASH WITHDRAWAL,1994-05-31,46,11
908,14.78,DEBIT,PAYMENT ON STATEMENT,CASH WITHDRAWAL,1994-05-31,46,11
909,12466.08,CREDIT,NaN,COLLECTION FROM ANOTHER BANK,1994-06-07,46,11
910,6360.03,CREDIT,NaN,CREDIT IN CASH,1994-06-10,46,11
911,5736.12,DEBIT,HOUSEHOLD,CASH WITHDRAWAL,1994-06-12,46,11
912,5156.77,CREDIT,NaN,CREDIT IN CASH,1994-06-12,46,11
913,4747.93,DEBIT,HOUSEHOLD,CASH WITHDRAWAL,1994-06-17,46,11
914,5850.72,DEBIT,NaN,CASH WITHDRAWAL,1994-06-22,46,11
915,10540.43,CREDIT,NaN,CREDIT IN CASH,1994-06-24,46,11
916,163.52,CREDIT,INTEREST CREDITED,NaN,1994-06-30,46,11
917,14.19,DEBIT,PAYMENT ON STATEMENT,CASH WITHDRAWAL,1994-06-30,46,11
918,6362.53,CREDIT,NaN,COLLECTION FROM ANOTHER BANK,1994-07-06,46,11
919,8282.19,CREDIT,NaN,CREDIT IN CASH,1994-07-10,46,11
920,3781.43,DEBIT,HOUSEHOLD,CASH WITHDRAWAL,1994-07-11,46,11
921,54.26,CREDIT,INTEREST CREDITED,NaN,1994-07-31,46,11
922,14.39,DEBIT,PAYMENT ON STATEMENT,CASH WITHDRAWAL,1994-07-31,46,11
923,6919.80,CREDIT,NaN,COLLECTION FROM ANOTHER BANK,1994-08-05,46,11
924,6849.35,CREDIT,NaN,CREDIT IN CASH,1994-08-11,46,11
925,8254.10,CREDIT,NaN,CREDIT IN CASH,1994-08-14,46,11
926,4539.99,DEBIT,NaN,CASH WITHDRAWAL,1994-08-19,46,11
927,6751.12,CREDIT,NaN,CREDIT IN CASH,1994-08-23,46,11
928,158.68,CREDIT,INTEREST CREDITED,NaN,1994-08-31,46,11
929,10.69,DEBIT,PAYMENT ON STATEMENT,CASH WITHDRAWAL,1994-08-31,46,11
930,3462.56,CREDIT,NaN,CREDIT IN CASH,1994-09-04,46,11
931,7035.00,CREDIT,NaN,COLLECTION FROM ANOTHER BANK,1994-09-06,46,11
932,2893.74,DEBIT,HOUSEHOLD,CASH WITHDRAWAL,1994-09-11,46,11
933,3734.73,CREDIT,NaN,CREDIT IN CASH,1994-09-18,46,11
934,154.75,CREDIT,INTEREST CREDITED,NaN,1994-09-30,46,11
935,13.11,DEBIT,PAYMENT ON STATEMENT,CASH WITHDRAWAL,1994-09-30,46,11
936,1046.09,DEBIT,,CASH WITHDRAWAL,1994-10-05,46,11
937,6394.18,CREDIT,NaN,COLLECTION FROM ANOTHER BANK,1994-10-06,46,11
938,4583.29,DEBIT,HOUSEHOLD,CASH WITHDRAWAL,1994-10-09,46,11
939,6587.27,CREDIT,NaN,CREDIT IN CASH,1994-10-16,46,11
940,131.62,CREDIT,INTEREST CREDITED,NaN,1994-10-31,46,11
941,13.00,DEBIT,PAYMENT ON STATEMENT,CASH WITHDRAWAL,1994-10-31,46,11
942,1472.66,DEBIT,NaN,CASH WITHDRAWAL,1994-11-02,46,11
943,10278.71,CREDIT,NaN,COLLECTION FROM ANOTHER BANK,1994-11-05,46,11
944,1336.61,DEBIT,,CASH WITHDRAWAL,1994-11-07,46,11
945,6820.66,CREDIT,NaN,CREDIT IN CASH,1994-11-08,46,11
946,2080.56,DEBIT,,CASH WITHDRAWAL,1994-11-11,46,11
947,1392.99,DEBIT,,CASH WITHDRAWAL,1994-11-12,46,11
948,2307.84,DEBIT,NaN,CASH WITHDRAWAL,1994-11-16,46,11
949,3626.81,DEBIT,HOUSEHOLD,CASH WITHDRAWAL,1994-11-20,46,11
950,168.49,CREDIT,INTEREST CREDITED,NaN,1994-11-30,46,11
951,14.67,DEBIT,PAYMENT ON STATEMENT,CASH WITHDRAWAL,1994-11-30,46,11
952,47.19,CREDIT,INTEREST CREDITED,NaN,1994-11-30,46,11
953,12373.85,CREDIT,NaN,COLLECTION FROM ANOTHER BANK,1994-12-02,46,11
954,993.78,DEBIT,,CASH WITHDRAWAL,1994-12-04,46,11
955,7403.25,CREDIT,NaN,COLLECTION FROM ANOTHER BANK,1994-12-05,46,11
956,3449.78,DEBIT,HOUSEHOLD,CASH WITHDRAWAL,1994-12-09,46,11
957,1504.80,DEBIT,,CASH WITHDRAWAL,1994-12-09,46,11
958,4.94,DEBIT,SANCTION INTEREST,CASH WITHDRAWAL,1994-12-23,46,11
959,11921.95,CREDIT,NaN,CREDIT IN CASH,1994-12-24,46,11

Account id: 17

,amount,type,k_symbol,operation,datetime,age,account_id
1360,6.33,DEBIT,PAYMENT ON STATEMENT,CASH WITHDRAWAL,1993-03-31,67,17
1361,97.95,CREDIT,INTEREST CREDITED,NaN,1993-03-31,67,17
1362,2687.41,DEBIT,HOUSEHOLD,REMITTANCE TO ANOTHER BANK,1993-04-09,67,17
1363,7738.71,CREDIT,NaN,CREDIT IN CASH,1993-04-09,67,17
1364,5465.38,CREDIT,NaN,CREDIT IN CASH,1993-04-21,67,17
1365,15.80,DEBIT,PAYMENT ON STATEMENT,CASH WITHDRAWAL,1993-04-30,67,17
1366,107.73,CREDIT,INTEREST CREDITED,NaN,1993-04-30,67,17
1367,3255.03,DEBIT,HOUSEHOLD,REMITTANCE TO ANOTHER BANK,1993-05-09,67,17
1368,972.75,DEBIT,,REMITTANCE TO ANOTHER BANK,1993-05-10,67,17
1369,3935.05,CREDIT,NaN,CREDIT IN CASH,1993-05-13,67,17
1370,3967.90,CREDIT,NaN,CREDIT IN CASH,1993-05-18,67,17
1371,17.92,DEBIT,PAYMENT ON STATEMENT,CASH WITHDRAWAL,1993-05-31,67,17
1372,105.97,CREDIT,INTEREST CREDITED,NaN,1993-05-31,67,17
1373,3482.74,DEBIT,HOUSEHOLD,REMITTANCE TO ANOTHER BANK,1993-06-08,67,17
1374,406.52,DEBIT,,REMITTANCE TO ANOTHER BANK,1993-06-11,67,17
1375,2116.31,CREDIT,NaN,CREDIT IN CASH,1993-06-12,67,17
1376,1302.45,DEBIT,NaN,CASH WITHDRAWAL,1993-06-17,67,17
1377,9.31,DEBIT,PAYMENT ON STATEMENT,CASH WITHDRAWAL,1993-06-30,67,17
1378,112.37,CREDIT,INTEREST CREDITED,NaN,1993-06-30,67,17
1379,3283.41,DEBIT,HOUSEHOLD,REMITTANCE TO ANOTHER BANK,1993-07-08,67,17
1380,633.37,DEBIT,,REMITTANCE TO ANOTHER BANK,1993-07-12,67,17
1381,2153.59,CREDIT,NaN,CREDIT IN CASH,1993-07-14,67,17
1382,1972.38,DEBIT,NaN,CASH WITHDRAWAL,1993-07-18,67,17
1383,3833.81,CREDIT,NaN,CREDIT IN CASH,1993-07-23,67,17
1384,6843.77,CREDIT,NaN,CREDIT IN CASH,1993-07-25,67,17
1385,91.67,CREDIT,INTEREST CREDITED,NaN,1993-07-31,67,17
1386,20.12,DEBIT,PAYMENT ON STATEMENT,CASH WITHDRAWAL,1993-07-31,67,17
1387,166.09,CREDIT,INTEREST CREDITED,NaN,1993-07-31,67,17
1388,2618.18,DEBIT,HOUSEHOLD,REMITTANCE TO ANOTHER BANK,1993-08-08,67,17
1389,478.53,DEBIT,,REMITTANCE TO ANOTHER BANK,1993-08-09,67,17
1390,343.38,DEBIT,,REMITTANCE TO ANOTHER BANK,1993-08-09,67,17
1391,1213.59,DEBIT,NaN,CASH WITHDRAWAL,1993-08-09,67,17
1392,1005.02,DEBIT,HOUSEHOLD,REMITTANCE TO ANOTHER BANK,1993-08-12,67,17
1393,3192.27,CREDIT,NaN,CREDIT IN CASH,1993-08-18,67,17
1394,4376.35,CREDIT,NaN,CREDIT IN CASH,1993-08-22,67,17
1395,110.13,CREDIT,INTEREST CREDITED,NaN,1993-08-31,67,17
1396,14.19,DEBIT,PAYMENT ON STATEMENT,CASH WITHDRAWAL,1993-08-31,67,17
1397,117.67,CREDIT,INTEREST CREDITED,NaN,1993-08-31,67,17
1398,3074.51,DEBIT,HOUSEHOLD,REMITTANCE TO ANOTHER BANK,1993-09-06,67,17
1399,423.24,DEBIT,,REMITTANCE TO ANOTHER BANK,1993-09-08,67,17
1400,575.39,DEBIT,,REMITTANCE TO ANOTHER BANK,1993-09-09,67,17
1401,2566.30,CREDIT,NaN,CREDIT IN CASH,1993-09-11,67,17
1402,1046.89,DEBIT,NaN,CASH WITHDRAWAL,1993-09-13,67,17
1403,4464.93,CREDIT,NaN,CREDIT IN CASH,1993-09-17,67,17
1404,3411.75,DEBIT,NaN,CASH WITHDRAWAL,1993-09-20,67,17
1405,136.88,CREDIT,INTEREST CREDITED,NaN,1993-09-30,67,17
1406,15.77,DEBIT,PAYMENT ON STATEMENT,CASH WITHDRAWAL,1993-09-30,67,17
1407,109.61,CREDIT,INTEREST CREDITED,NaN,1993-09-30,67,17
1408,13.61,DEBIT,PAYMENT ON STATEMENT,CASH WITHDRAWAL,1993-09-30,67,17
1409,2757.51,DEBIT,HOUSEHOLD,REMITTANCE TO ANOTHER BANK,1993-10-05,67,17
1410,520.41,DEBIT,,REMITTANCE TO ANOTHER BANK,1993-10-09,67,17
1411,1869.85,DEBIT,HOUSEHOLD,REMITTANCE TO ANOTHER BANK,1993-10-09,67,17
1412,1857.80,CREDIT,NaN,CREDIT IN CASH,1993-10-17,67,17
1413,78.85,CREDIT,INTEREST CREDITED,NaN,1993-10-31,67,17
1414,11.53,DEBIT,PAYMENT ON STATEMENT,CASH WITHDRAWAL,1993-10-31,67,17
1415,125.48,CREDIT,INTEREST CREDITED,NaN,1993-10-31,67,17
1416,2983.07,DEBIT,HOUSEHOLD,REMITTANCE TO ANOTHER BANK,1993-11-05,67,17
1417,322.19,DEBIT,,REMITTANCE TO ANOTHER BANK,1993-11-06,67,17
1418,1447.21,DEBIT,HOUSEHOLD,REMITTANCE TO ANOTHER BANK,1993-11-08,67,17
1419,3234.98,CREDIT,NaN,CREDIT IN CASH,1993-11-09,67,17
1420,293.54,DEBIT,,REMITTANCE TO ANOTHER BANK,1993-11-11,67,17
1421,2742.06,CREDIT,NaN,CREDIT IN CASH,1993-11-11,67,17
1422,2040.88,CREDIT,NaN,CREDIT IN CASH,1993-11-13,67,17
1423,2856.73,CREDIT,NaN,CREDIT IN CASH,1993-11-18,67,17
1424,116.14,CREDIT,INTEREST CREDITED,NaN,1993-11-30,67,17
1425,10.88,DEBIT,PAYMENT ON STATEMENT,CASH WITHDRAWAL,1993-11-30,67,17
1426,3906.41,DEBIT,HOUSEHOLD,REMITTANCE TO ANOTHER BANK,1993-11-30,67,17
1427,2999.02,DEBIT,HOUSEHOLD,REMITTANCE TO ANOTHER BANK,1993-11-30,67,17
1428,1440.37,DEBIT,HOUSEHOLD,REMITTANCE TO ANOTHER BANK,1993-12-05,67,17
1429,392.19,DEBIT,,REMITTANCE TO ANOTHER BANK,1993-12-08,67,17
1430,297.79,DEBIT,,REMITTANCE TO ANOTHER BANK,1993-12-10,67,17
1431,1045.41,DEBIT,NaN,CASH WITHDRAWAL,1993-12-11,67,17
1432,2201.37,CREDIT,NaN,CREDIT IN CASH,1993-12-13,67,17
1433,2357.86,CREDIT,NaN,CREDIT IN CASH,1993-12-18,67,17
1434,81.41,CREDIT,INTEREST CREDITED,NaN,1993-12-31,67,17
1435,11.91,DEBIT,PAYMENT ON STATEMENT,CASH WITHDRAWAL,1993-12-31,67,17
1436,3365.51,CREDIT,NaN,CREDIT IN CASH,1994-01-05,67,17
1437,1103.78,DEBIT,HOUSEHOLD,REMITTANCE TO ANOTHER BANK,1994-01-07,67,17
1438,288.20,DEBIT,,REMITTANCE TO ANOTHER BANK,1994-01-08,67,17
1439,1081.09,DEBIT,HOUSEHOLD,REMITTANCE TO ANOTHER BANK,1994-01-09,67,17

Account id: 0

,amount,type,k_symbol,operation,datetime,age,account_id
0,3144.60,CREDIT,NaN,CREDIT IN CASH,1993-02-21,54,0
1,6701.08,CREDIT,NaN,CREDIT IN CASH,1993-03-10,54,0
2,2152.77,DEBIT,NaN,CASH WITHDRAWAL,1993-04-01,54,0
3,11560.14,CREDIT,NaN,CREDIT IN CASH,1993-06-01,54,0
4,74.47,CREDIT,INTEREST CREDITED,NaN,1993-08-31,54,0
5,8092.72,CREDIT,NaN,CREDIT IN CASH,1993-09-06,54,0
6,4892.45,DEBIT,NaN,CASH WITHDRAWAL,1993-09-10,54,0
7,12240.32,CREDIT,NaN,CREDIT IN CASH,1993-09-25,54,0
8,97.59,CREDIT,INTEREST CREDITED,NaN,1993-09-30,54,0
9,9417.96,CREDIT,NaN,CREDIT IN CASH,1993-10-07,54,0
10,5695.82,DEBIT,NaN,CASH WITHDRAWAL,1993-10-24,54,0
11,141.27,CREDIT,INTEREST CREDITED,NaN,1993-10-31,54,0
12,14040.14,CREDIT,NaN,CREDIT IN CASH,1993-11-06,54,0
13,5196.85,DEBIT,NaN,CASH WITHDRAWAL,1993-11-10,54,0
14,6286.82,DEBIT,NaN,CASH WITHDRAWAL,1993-11-17,54,0
15,3501.42,DEBIT,NaN,CASH WITHDRAWAL,1993-11-20,54,0
16,14795.14,CREDIT,NaN,CREDIT IN CASH,1993-11-23,54,0
17,177.74,CREDIT,INTEREST CREDITED,NaN,1993-11-30,54,0
18,39.10,DEBIT,PAYMENT ON STATEMENT,CASH WITHDRAWAL,1993-12-31,54,0
19,152.96,CREDIT,INTEREST CREDITED,NaN,1993-12-31,54,0
20,15411.75,CREDIT,NaN,CREDIT IN CASH,1994-01-07,54,0
21,6153.74,DEBIT,NaN,CASH WITHDRAWAL,1994-01-22,54,0
22,5874.38,DEBIT,NaN,CASH WITHDRAWAL,1994-01-25,54,0
23,5191.72,DEBIT,NaN,CASH WITHDRAWAL,1994-01-25,54,0
24,20.47,DEBIT,PAYMENT ON STATEMENT,CASH WITHDRAWAL,1994-01-31,54,0
25,153.13,CREDIT,INTEREST CREDITED,NaN,1994-01-31,54,0
26,12990.54,CREDIT,NaN,CREDIT IN CASH,1994-02-07,54,0
27,7600.98,DEBIT,NaN,CASH WITHDRAWAL,1994-02-21,54,0
28,26.35,DEBIT,PAYMENT ON STATEMENT,CASH WITHDRAWAL,1994-02-28,54,0
29,157.32,CREDIT,INTEREST CREDITED,NaN,1994-02-28,54,0
30,11621.52,CREDIT,NaN,CREDIT IN CASH,1994-03-07,54,0
31,13390.54,CREDIT,NaN,CREDIT IN CASH,1994-03-10,54,0
32,6508.66,DEBIT,NaN,CASH WITHDRAWAL,1994-03-21,54,0
33,4487.90,DEBIT,NaN,CASH WITHDRAWAL,1994-03-22,54,0
34,8200.34,CREDIT,NaN,CREDIT IN CASH,1994-03-26,54,0
35,19.50,DEBIT,PAYMENT ON STATEMENT,CASH WITHDRAWAL,1994-03-31,54,0
36,148.59,CREDIT,INTEREST CREDITED,NaN,1994-03-31,54,0
37,13394.56,CREDIT,NaN,CREDIT IN CASH,1994-04-06,54,0
38,10599.76,CREDIT,NaN,CREDIT IN CASH,1994-04-21,54,0
39,142.49,CREDIT,INTEREST CREDITED,NaN,1994-04-30,54,0
40,204.00,CREDIT,INTEREST CREDITED,NaN,1994-04-30,54,0
41,9050.54,CREDIT,NaN,CREDIT IN CASH,1994-05-05,54,0
42,6132.82,DEBIT,NaN,CASH WITHDRAWAL,1994-05-19,54,0
43,4859.89,DEBIT,NaN,CASH WITHDRAWAL,1994-05-22,54,0
44,4174.03,DEBIT,NaN,CASH WITHDRAWAL,1994-05-24,54,0
45,18.82,DEBIT,PAYMENT ON STATEMENT,CASH WITHDRAWAL,1994-05-31,54,0
46,186.52,CREDIT,INTEREST CREDITED,NaN,1994-05-31,54,0
47,4196.10,DEBIT,NaN,CASH WITHDRAWAL,1994-06-05,54,0
48,16821.84,CREDIT,NaN,CREDIT IN CASH,1994-06-06,54,0
49,5710.93,DEBIT,NaN,CASH WITHDRAWAL,1994-06-18,54,0
50,153.45,CREDIT,INTEREST CREDITED,NaN,1994-06-30,54,0
51,172.73,CREDIT,INTEREST CREDITED,NaN,1994-06-30,54,0
52,10103.03,CREDIT,NaN,CREDIT IN CASH,1994-07-05,54,0
53,6625.24,DEBIT,NaN,CASH WITHDRAWAL,1994-07-10,54,0
54,10625.81,CREDIT,NaN,CREDIT IN CASH,1994-07-14,54,0
55,16218.94,CREDIT,NaN,CREDIT IN CASH,1994-07-18,54,0
56,5243.90,DEBIT,NaN,CASH WITHDRAWAL,1994-07-20,54,0
57,19.61,DEBIT,PAYMENT ON STATEMENT,CASH WITHDRAWAL,1994-07-31,54,0
58,127.94,CREDIT,INTEREST CREDITED,NaN,1994-07-31,54,0
59,6796.83,CREDIT,NaN,CREDIT IN CASH,1994-08-06,54,0
60,7107.46,DEBIT,NaN,CASH WITHDRAWAL,1994-08-18,54,0
61,4789.27,DEBIT,NaN,CASH WITHDRAWAL,1994-08-22,54,0
62,8068.72,CREDIT,NaN,CREDIT IN CASH,1994-08-25,54,0
63,8203.06,CREDIT,NaN,CREDIT IN CASH,1994-08-28,54,0
64,18.21,DEBIT,PAYMENT ON STATEMENT,CASH WITHDRAWAL,1994-08-31,54,0
65,128.09,CREDIT,INTEREST CREDITED,NaN,1994-08-31,54,0
66,9079.23,CREDIT,NaN,CREDIT IN CASH,1994-09-05,54,0
67,10958.98,CREDIT,NaN,CREDIT IN CASH,1994-09-21,54,0
68,19.24,DEBIT,PAYMENT ON STATEMENT,CASH WITHDRAWAL,1994-09-30,54,0
69,129.66,CREDIT,INTEREST CREDITED,NaN,1994-09-30,54,0
70,5198.32,DEBIT,NaN,CASH WITHDRAWAL,1994-10-05,54,0
71,12092.99,CREDIT,NaN,CREDIT IN CASH,1994-10-09,54,0
72,5045.97,DEBIT,NaN,CASH WITHDRAWAL,1994-10-20,54,0
73,7840.94,CREDIT,NaN,CREDIT IN CASH,1994-10-22,54,0
74,5132.05,DEBIT,NaN,CASH WITHDRAWAL,1994-10-23,54,0
75,18.31,DEBIT,PAYMENT ON STATEMENT,CASH WITHDRAWAL,1994-10-31,54,0
76,137.84,CREDIT,INTEREST CREDITED,NaN,1994-10-31,54,0
77,10441.14,CREDIT,NaN,CREDIT IN CASH,1994-11-06,54,0
78,5519.11,DEBIT,NaN,CASH WITHDRAWAL,1994-11-08,54,0
79,4714.51,DEBIT,NaN,CASH WITHDRAWAL,1994-11-15,54,0

Account id: 10

,amount,type,k_symbol,operation,datetime,age,account_id
800,4711.68,CREDIT,NaN,CREDIT IN CASH,1993-12-18,80,10
801,3876.06,CREDIT,NaN,CREDIT IN CASH,1994-02-23,80,10
802,3525.74,DEBIT,NaN,CASH WITHDRAWAL,1994-02-28,80,10
803,112.63,CREDIT,INTEREST CREDITED,NaN,1994-02-28,80,10
804,222.56,CREDIT,INTEREST CREDITED,NaN,1994-03-31,80,10
805,127.47,CREDIT,INTEREST CREDITED,NaN,1994-03-31,80,10
806,4279.35,DEBIT,NaN,CASH WITHDRAWAL,1994-04-05,80,10
807,8133.55,DEBIT,NaN,CASH WITHDRAWAL,1994-04-17,80,10
808,29.33,DEBIT,PAYMENT ON STATEMENT,CASH WITHDRAWAL,1994-04-30,80,10
809,113.68,CREDIT,INTEREST CREDITED,NaN,1994-04-30,80,10
810,11909.54,CREDIT,NaN,CREDIT IN CASH,1994-05-14,80,10
811,4922.03,CREDIT,NaN,CREDIT IN CASH,1994-05-20,80,10
812,5800.74,DEBIT,NaN,CASH WITHDRAWAL,1994-05-23,80,10
813,8056.07,CREDIT,NaN,CREDIT IN CASH,1994-05-24,80,10
814,23.66,DEBIT,PAYMENT ON STATEMENT,CASH WITHDRAWAL,1994-05-31,80,10
815,96.21,CREDIT,INTEREST CREDITED,NaN,1994-05-31,80,10
816,4301.13,DEBIT,NaN,CASH WITHDRAWAL,1994-06-09,80,10
817,5127.44,DEBIT,NaN,CASH WITHDRAWAL,1994-06-14,80,10
818,5960.66,CREDIT,NaN,CREDIT IN CASH,1994-06-14,80,10
819,9082.94,CREDIT,NaN,CREDIT IN CASH,1994-06-15,80,10
820,11084.88,CREDIT,NaN,CREDIT IN CASH,1994-06-21,80,10
821,24.15,DEBIT,PAYMENT ON STATEMENT,CASH WITHDRAWAL,1994-06-30,80,10
822,129.39,CREDIT,INTEREST CREDITED,NaN,1994-06-30,80,10
823,1419.87,DEBIT,,REMITTANCE TO ANOTHER BANK,1994-07-08,80,10
824,7610.19,CREDIT,NaN,CREDIT IN CASH,1994-07-13,80,10
825,9169.30,CREDIT,NaN,CREDIT IN CASH,1994-07-14,80,10
826,22.08,DEBIT,PAYMENT ON STATEMENT,CASH WITHDRAWAL,1994-07-28,80,10
827,116.69,CREDIT,INTEREST CREDITED,NaN,1994-07-31,80,10
828,120.82,CREDIT,INTEREST CREDITED,NaN,1994-07-31,80,10
829,1335.24,DEBIT,,REMITTANCE TO ANOTHER BANK,1994-08-05,80,10
830,5192.75,DEBIT,NaN,CASH WITHDRAWAL,1994-08-07,80,10
831,5409.47,CREDIT,NaN,CREDIT IN CASH,1994-08-14,80,10
832,6222.07,CREDIT,NaN,CREDIT IN CASH,1994-08-14,80,10
833,17.35,DEBIT,PAYMENT ON STATEMENT,CASH WITHDRAWAL,1994-08-24,80,10
834,21.56,DEBIT,PAYMENT ON STATEMENT,CASH WITHDRAWAL,1994-08-31,80,10
835,136.97,CREDIT,INTEREST CREDITED,NaN,1994-08-31,80,10
836,804.76,DEBIT,,REMITTANCE TO ANOTHER BANK,1994-09-05,80,10
837,5754.09,DEBIT,NaN,CASH WITHDRAWAL,1994-09-07,80,10
838,3082.73,DEBIT,NaN,CASH WITHDRAWAL,1994-09-09,80,10
839,4273.71,CREDIT,NaN,CREDIT IN CASH,1994-09-12,80,10
840,2599.44,CREDIT,NaN,CREDIT IN CASH,1994-09-18,80,10
841,22.17,DEBIT,PAYMENT ON STATEMENT,CASH WITHDRAWAL,1994-09-30,80,10
842,144.82,CREDIT,INTEREST CREDITED,NaN,1994-09-30,80,10
843,2833.99,DEBIT,HOUSEHOLD,REMITTANCE TO ANOTHER BANK,1994-10-06,80,10
844,1331.95,DEBIT,,REMITTANCE TO ANOTHER BANK,1994-10-07,80,10
845,3288.13,DEBIT,NaN,CASH WITHDRAWAL,1994-10-07,80,10
846,3027.70,CREDIT,NaN,CREDIT IN CASH,1994-10-12,80,10
847,2652.53,CREDIT,NaN,CREDIT IN CASH,1994-10-15,80,10
848,13.06,DEBIT,PAYMENT ON STATEMENT,CASH WITHDRAWAL,1994-10-31,80,10
849,111.66,CREDIT,INTEREST CREDITED,NaN,1994-10-31,80,10
850,5919.44,CREDIT,NaN,CREDIT IN CASH,1994-11-04,80,10
851,2765.25,DEBIT,NaN,CASH WITHDRAWAL,1994-11-04,80,10
852,796.84,DEBIT,,REMITTANCE TO ANOTHER BANK,1994-11-05,80,10
853,2023.95,DEBIT,HOUSEHOLD,REMITTANCE TO ANOTHER BANK,1994-11-09,80,10
854,5112.60,CREDIT,NaN,CREDIT IN CASH,1994-11-13,80,10
855,1340.29,DEBIT,NaN,CASH WITHDRAWAL,1994-11-15,80,10
856,7357.43,CREDIT,NaN,CREDIT IN CASH,1994-11-21,80,10
857,20.49,DEBIT,PAYMENT ON STATEMENT,CASH WITHDRAWAL,1994-11-30,80,10
858,125.98,CREDIT,INTEREST CREDITED,NaN,1994-11-30,80,10
859,3583.08,DEBIT,NaN,CASH WITHDRAWAL,1994-12-02,80,10
860,3352.96,DEBIT,NaN,CASH WITHDRAWAL,1994-12-03,80,10
861,777.36,DEBIT,,REMITTANCE TO ANOTHER BANK,1994-12-05,80,10
862,790.09,DEBIT,,REMITTANCE TO ANOTHER BANK,1994-12-07,80,10
863,2553.42,DEBIT,HOUSEHOLD,REMITTANCE TO ANOTHER BANK,1994-12-08,80,10
864,1446.11,DEBIT,NaN,CASH WITHDRAWAL,1994-12-13,80,10
865,3501.71,CREDIT,NaN,CREDIT IN CASH,1994-12-19,80,10
866,17.12,DEBIT,PAYMENT ON STATEMENT,CASH WITHDRAWAL,1994-12-31,80,10
867,128.76,CREDIT,INTEREST CREDITED,NaN,1994-12-31,80,10
868,3313.32,DEBIT,NaN,CASH WITHDRAWAL,1995-01-04,80,10
869,765.93,DEBIT,,REMITTANCE TO ANOTHER BANK,1995-01-05,80,10
870,2820.56,DEBIT,NaN,CASH WITHDRAWAL,1995-01-07,80,10
871,1648.78,DEBIT,HOUSEHOLD,REMITTANCE TO ANOTHER BANK,1995-01-08,80,10
872,1185.39,DEBIT,LOAN PAYMENT,REMITTANCE TO ANOTHER BANK,1995-01-12,80,10
873,3738.50,CREDIT,NaN,CREDIT IN CASH,1995-01-13,80,10
874,1279.92,DEBIT,LOAN PAYMENT,REMITTANCE TO ANOTHER BANK,1995-01-13,80,10
875,88.25,CREDIT,INTEREST CREDITED,NaN,1995-01-28,80,10
876,4204.76,DEBIT,NaN,CASH WITHDRAWAL,1995-01-28,80,10
877,131.75,CREDIT,INTEREST CREDITED,NaN,1995-01-31,80,10
878,180.86,CREDIT,INTEREST CREDITED,NaN,1995-01-31,80,10
879,3632.80,DEBIT,NaN,CASH WITHDRAWAL,1995-02-02,80,10

Account id: 23

,amount,type,k_symbol,operation,datetime,age,account_id
1840,32.98,CREDIT,INTEREST CREDITED,NaN,1993-05-31,24,23
1841,12.18,DEBIT,PAYMENT ON STATEMENT,CASH WITHDRAWAL,1993-05-31,24,23
1842,724.82,DEBIT,,REMITTANCE TO ANOTHER BANK,1993-06-06,24,23
1843,5388.88,CREDIT,NaN,CREDIT IN CASH,1993-06-07,24,23
1844,2595.92,DEBIT,HOUSEHOLD,REMITTANCE TO ANOTHER BANK,1993-06-11,24,23
1845,96.71,CREDIT,INTEREST CREDITED,NaN,1993-06-30,24,23
1846,11.59,DEBIT,PAYMENT ON STATEMENT,CASH WITHDRAWAL,1993-06-30,24,23
1847,481.97,DEBIT,,REMITTANCE TO ANOTHER BANK,1993-07-05,24,23
1848,530.30,DEBIT,,REMITTANCE TO ANOTHER BANK,1993-07-06,24,23
1849,3773.09,CREDIT,NaN,CREDIT IN CASH,1993-07-08,24,23
1850,1627.83,DEBIT,HOUSEHOLD,REMITTANCE TO ANOTHER BANK,1993-07-12,24,23
1851,103.16,CREDIT,INTEREST CREDITED,NaN,1993-07-31,24,23
1852,14.11,DEBIT,PAYMENT ON STATEMENT,CASH WITHDRAWAL,1993-07-31,24,23
1853,566.80,DEBIT,,REMITTANCE TO ANOTHER BANK,1993-08-05,24,23
1854,3425.15,CREDIT,NaN,CREDIT IN CASH,1993-08-09,24,23
1855,1742.05,DEBIT,HOUSEHOLD,REMITTANCE TO ANOTHER BANK,1993-08-12,24,23
1856,113.61,CREDIT,INTEREST CREDITED,NaN,1993-08-31,24,23
1857,12.41,DEBIT,PAYMENT ON STATEMENT,CASH WITHDRAWAL,1993-08-31,24,23
1858,458.38,DEBIT,,REMITTANCE TO ANOTHER BANK,1993-09-05,24,23
1859,3288.75,CREDIT,NaN,CREDIT IN CASH,1993-09-08,24,23
1860,1801.84,DEBIT,HOUSEHOLD,REMITTANCE TO ANOTHER BANK,1993-09-13,24,23
1861,69.61,CREDIT,INTEREST CREDITED,NaN,1993-09-30,24,23
1862,14.88,DEBIT,PAYMENT ON STATEMENT,CASH WITHDRAWAL,1993-09-30,24,23
1863,421.63,DEBIT,,REMITTANCE TO ANOTHER BANK,1993-10-05,24,23
1864,437.95,DEBIT,,REMITTANCE TO ANOTHER BANK,1993-10-06,24,23
1865,3039.52,CREDIT,NaN,CREDIT IN CASH,1993-10-08,24,23
1866,2105.91,DEBIT,HOUSEHOLD,REMITTANCE TO ANOTHER BANK,1993-10-12,24,23
1867,90.26,CREDIT,INTEREST CREDITED,NaN,1993-10-31,24,23
1868,9.65,DEBIT,PAYMENT ON STATEMENT,CASH WITHDRAWAL,1993-10-31,24,23
1869,1173.20,DEBIT,NaN,CASH WITHDRAWAL,1993-11-03,24,23
1870,435.39,DEBIT,,REMITTANCE TO ANOTHER BANK,1993-11-05,24,23
1871,1734.52,DEBIT,NaN,CASH WITHDRAWAL,1993-11-06,24,23
1872,4847.53,CREDIT,NaN,CREDIT IN CASH,1993-11-07,24,23
1873,2317.80,DEBIT,HOUSEHOLD,REMITTANCE TO ANOTHER BANK,1993-11-12,24,23
1874,112.13,CREDIT,INTEREST CREDITED,NaN,1993-11-30,24,23
1875,9.03,DEBIT,PAYMENT ON STATEMENT,CASH WITHDRAWAL,1993-11-30,24,23
1876,1697.88,DEBIT,NaN,CASH WITHDRAWAL,1993-12-05,24,23
1877,476.82,DEBIT,,REMITTANCE TO ANOTHER BANK,1993-12-05,24,23
1878,4814.30,CREDIT,NaN,CREDIT IN CASH,1993-12-07,24,23
1879,1884.46,DEBIT,HOUSEHOLD,REMITTANCE TO ANOTHER BANK,1993-12-11,24,23
1880,141.25,CREDIT,INTEREST CREDITED,NaN,1993-12-31,24,23
1881,11.01,DEBIT,PAYMENT ON STATEMENT,CASH WITHDRAWAL,1993-12-31,24,23
1882,365.28,DEBIT,,REMITTANCE TO ANOTHER BANK,1994-01-05,24,23
1883,1569.94,CREDIT,NaN,CREDIT IN CASH,1994-01-06,24,23
1884,2260.85,DEBIT,NaN,CASH WITHDRAWAL,1994-01-11,24,23
1885,2452.06,DEBIT,HOUSEHOLD,REMITTANCE TO ANOTHER BANK,1994-01-14,24,23
1886,2825.06,DEBIT,NaN,CASH WITHDRAWAL,1994-01-19,24,23
1887,70.69,CREDIT,INTEREST CREDITED,NaN,1994-01-31,24,23
1888,10.12,DEBIT,PAYMENT ON STATEMENT,CASH WITHDRAWAL,1994-01-31,24,23
1889,357.84,DEBIT,,REMITTANCE TO ANOTHER BANK,1994-02-02,24,23
1890,5247.77,CREDIT,NaN,CREDIT IN CASH,1994-02-05,24,23
1891,1270.16,DEBIT,HOUSEHOLD,REMITTANCE TO ANOTHER BANK,1994-02-05,24,23
1892,1781.04,DEBIT,HOUSEHOLD,REMITTANCE TO ANOTHER BANK,1994-02-08,24,23
1893,7702.98,CREDIT,NaN,CREDIT IN CASH,1994-02-09,24,23
1894,2154.99,DEBIT,HOUSEHOLD,REMITTANCE TO ANOTHER BANK,1994-02-12,24,23
1895,135.48,CREDIT,INTEREST CREDITED,NaN,1994-02-28,24,23
1896,11.88,DEBIT,PAYMENT ON STATEMENT,CASH WITHDRAWAL,1994-02-28,24,23
1897,347.02,DEBIT,,REMITTANCE TO ANOTHER BANK,1994-03-05,24,23
1898,633.88,DEBIT,,REMITTANCE TO ANOTHER BANK,1994-03-06,24,23
1899,3345.94,CREDIT,NaN,CREDIT IN CASH,1994-03-07,24,23
1900,2669.85,DEBIT,HOUSEHOLD,REMITTANCE TO ANOTHER BANK,1994-03-10,24,23
1901,113.97,CREDIT,INTEREST CREDITED,NaN,1994-03-31,24,23
1902,10.17,DEBIT,PAYMENT ON STATEMENT,CASH WITHDRAWAL,1994-03-31,24,23
1903,2241.83,CREDIT,NaN,CREDIT IN CASH,1994-04-05,24,23
1904,4033.52,CREDIT,NaN,CREDIT IN CASH,1994-04-06,24,23
1905,2639.54,DEBIT,HOUSEHOLD,REMITTANCE TO ANOTHER BANK,1994-04-10,24,23
1906,107.39,CREDIT,INTEREST CREDITED,NaN,1994-04-30,24,23
1907,11.90,DEBIT,PAYMENT ON STATEMENT,CASH WITHDRAWAL,1994-04-30,24,23
1908,2555.23,CREDIT,NaN,CREDIT IN CASH,1994-05-05,24,23
1909,436.18,DEBIT,,REMITTANCE TO ANOTHER BANK,1994-05-06,24,23
1910,4062.26,CREDIT,NaN,CREDIT IN CASH,1994-05-08,24,23
1911,2019.26,DEBIT,HOUSEHOLD,REMITTANCE TO ANOTHER BANK,1994-05-12,24,23
1912,2962.86,DEBIT,NaN,CASH WITHDRAWAL,1994-05-16,24,23
1913,98.41,CREDIT,INTEREST CREDITED,NaN,1994-05-31,24,23
1914,10.92,DEBIT,PAYMENT ON STATEMENT,CASH WITHDRAWAL,1994-05-31,24,23
1915,557.56,DEBIT,,REMITTANCE TO ANOTHER BANK,1994-06-05,24,23
1916,592.59,DEBIT,,REMITTANCE TO ANOTHER BANK,1994-06-06,24,23
1917,5413.39,CREDIT,NaN,CREDIT IN CASH,1994-06-08,24,23
1918,2168.45,DEBIT,HOUSEHOLD,REMITTANCE TO ANOTHER BANK,1994-06-12,24,23
1919,3695.19,DEBIT,NaN,CASH WITHDRAWAL,1994-06-18,24,23

Account id: 4

,amount,type,k_symbol,operation,datetime,age,account_id
320,1341.95,DEBIT,HOUSEHOLD,REMITTANCE TO ANOTHER BANK,1993-03-06,37,4
321,609.96,DEBIT,,REMITTANCE TO ANOTHER BANK,1993-03-10,37,4
322,921.85,DEBIT,,REMITTANCE TO ANOTHER BANK,1993-03-12,37,4
323,6680.21,CREDIT,NaN,CREDIT IN CASH,1993-03-13,37,4
324,2907.08,DEBIT,NaN,CASH WITHDRAWAL,1993-03-21,37,4
325,87.53,CREDIT,INTEREST CREDITED,NaN,1993-03-31,37,4
326,16.91,DEBIT,PAYMENT ON STATEMENT,CASH WITHDRAWAL,1993-03-31,37,4
327,1080.49,DEBIT,NaN,CASH WITHDRAWAL,1993-04-04,37,4
328,326.30,DEBIT,,REMITTANCE TO ANOTHER BANK,1993-04-06,37,4
329,1123.92,DEBIT,HOUSEHOLD,REMITTANCE TO ANOTHER BANK,1993-04-07,37,4
330,686.14,DEBIT,,REMITTANCE TO ANOTHER BANK,1993-04-09,37,4
331,976.28,DEBIT,HOUSEHOLD,REMITTANCE TO ANOTHER BANK,1993-04-11,37,4
332,570.77,DEBIT,,REMITTANCE TO ANOTHER BANK,1993-04-11,37,4
333,3613.90,CREDIT,NaN,CREDIT IN CASH,1993-04-17,37,4
334,104.41,CREDIT,INTEREST CREDITED,NaN,1993-04-30,37,4
335,12.68,DEBIT,PAYMENT ON STATEMENT,CASH WITHDRAWAL,1993-04-30,37,4
336,330.65,DEBIT,,REMITTANCE TO ANOTHER BANK,1993-05-05,37,4
337,974.04,DEBIT,HOUSEHOLD,REMITTANCE TO ANOTHER BANK,1993-05-07,37,4
338,375.99,DEBIT,,REMITTANCE TO ANOTHER BANK,1993-05-09,37,4
339,1394.81,CREDIT,NaN,CREDIT IN CASH,1993-05-18,37,4
340,110.31,CREDIT,INTEREST CREDITED,NaN,1993-05-31,37,4
341,12.33,DEBIT,PAYMENT ON STATEMENT,CASH WITHDRAWAL,1993-05-31,37,4
342,373.22,DEBIT,,REMITTANCE TO ANOTHER BANK,1993-06-05,37,4
343,800.59,DEBIT,HOUSEHOLD,REMITTANCE TO ANOTHER BANK,1993-06-07,37,4
344,348.86,DEBIT,,REMITTANCE TO ANOTHER BANK,1993-06-07,37,4
345,1343.55,DEBIT,HOUSEHOLD,REMITTANCE TO ANOTHER BANK,1993-06-09,37,4
346,210.73,DEBIT,,REMITTANCE TO ANOTHER BANK,1993-06-11,37,4
347,2404.51,CREDIT,NaN,CREDIT IN CASH,1993-06-12,37,4
348,2692.04,CREDIT,NaN,CREDIT IN CASH,1993-06-14,37,4
349,40.95,CREDIT,INTEREST CREDITED,NaN,1993-06-30,37,4
350,13.48,DEBIT,PAYMENT ON STATEMENT,CASH WITHDRAWAL,1993-06-30,37,4
351,306.03,DEBIT,,REMITTANCE TO ANOTHER BANK,1993-07-05,37,4
352,176.38,DEBIT,,REMITTANCE TO ANOTHER BANK,1993-07-06,37,4
353,293.42,DEBIT,,REMITTANCE TO ANOTHER BANK,1993-07-08,37,4
354,624.67,DEBIT,HOUSEHOLD,REMITTANCE TO ANOTHER BANK,1993-07-08,37,4
355,1765.69,CREDIT,NaN,CREDIT IN CASH,1993-07-10,37,4
356,184.59,DEBIT,,REMITTANCE TO ANOTHER BANK,1993-07-11,37,4
357,97.71,DEBIT,INSURANCE PAYMENT,REMITTANCE TO ANOTHER BANK,1993-07-13,37,4
358,2611.61,CREDIT,NaN,CREDIT IN CASH,1993-07-18,37,4
359,77.56,CREDIT,INTEREST CREDITED,NaN,1993-07-31,37,4
360,11.62,DEBIT,PAYMENT ON STATEMENT,CASH WITHDRAWAL,1993-07-31,37,4
361,205.79,DEBIT,,REMITTANCE TO ANOTHER BANK,1993-08-05,37,4
362,514.61,DEBIT,HOUSEHOLD,REMITTANCE TO ANOTHER BANK,1993-08-07,37,4
363,163.68,DEBIT,,REMITTANCE TO ANOTHER BANK,1993-08-09,37,4
364,511.89,DEBIT,HOUSEHOLD,REMITTANCE TO ANOTHER BANK,1993-08-10,37,4
365,83.89,DEBIT,INSURANCE PAYMENT,REMITTANCE TO ANOTHER BANK,1993-08-13,37,4
366,863.97,DEBIT,NaN,CASH WITHDRAWAL,1993-08-18,37,4
367,131.60,CREDIT,INTEREST CREDITED,NaN,1993-08-31,37,4
368,11.01,DEBIT,PAYMENT ON STATEMENT,CASH WITHDRAWAL,1993-08-31,37,4
369,170.97,DEBIT,,REMITTANCE TO ANOTHER BANK,1993-09-05,37,4
370,504.66,DEBIT,HOUSEHOLD,REMITTANCE TO ANOTHER BANK,1993-09-06,37,4
371,204.77,DEBIT,,REMITTANCE TO ANOTHER BANK,1993-09-09,37,4
372,686.20,DEBIT,HOUSEHOLD,REMITTANCE TO ANOTHER BANK,1993-09-12,37,4
373,232.09,DEBIT,INSURANCE PAYMENT,REMITTANCE TO ANOTHER BANK,1993-09-13,37,4
374,50.30,CREDIT,INTEREST CREDITED,NaN,1993-09-30,37,4
375,10.19,DEBIT,PAYMENT ON STATEMENT,CASH WITHDRAWAL,1993-09-30,37,4
376,153.07,DEBIT,,REMITTANCE TO ANOTHER BANK,1993-10-05,37,4
377,642.81,DEBIT,HOUSEHOLD,REMITTANCE TO ANOTHER BANK,1993-10-07,37,4
378,211.87,DEBIT,,REMITTANCE TO ANOTHER BANK,1993-10-09,37,4
379,730.07,DEBIT,HOUSEHOLD,REMITTANCE TO ANOTHER BANK,1993-10-12,37,4
380,123.97,DEBIT,INSURANCE PAYMENT,REMITTANCE TO ANOTHER BANK,1993-10-12,37,4
381,2303.31,CREDIT,NaN,CREDIT IN CASH,1993-10-17,37,4
382,88.84,CREDIT,INTEREST CREDITED,NaN,1993-10-31,37,4
383,13.07,DEBIT,PAYMENT ON STATEMENT,CASH WITHDRAWAL,1993-10-31,37,4
384,638.47,DEBIT,HOUSEHOLD,REMITTANCE TO ANOTHER BANK,1993-11-05,37,4
385,201.20,DEBIT,,REMITTANCE TO ANOTHER BANK,1993-11-06,37,4
386,682.29,DEBIT,HOUSEHOLD,REMITTANCE TO ANOTHER BANK,1993-11-06,37,4
387,148.54,DEBIT,,REMITTANCE TO ANOTHER BANK,1993-11-07,37,4
388,672.77,DEBIT,NaN,CASH WITHDRAWAL,1993-11-07,37,4
389,474.79,DEBIT,HOUSEHOLD,REMITTANCE TO ANOTHER BANK,1993-11-09,37,4
390,298.45,DEBIT,,REMITTANCE TO ANOTHER BANK,1993-11-10,37,4
391,712.67,DEBIT,NaN,CASH WITHDRAWAL,1993-11-10,37,4
392,2878.32,CREDIT,NaN,CREDIT IN CASH,1993-11-10,37,4
393,1745.24,CREDIT,NaN,CREDIT IN CASH,1993-11-10,37,4
394,1272.06,CREDIT,NaN,CREDIT IN CASH,1993-11-10,37,4
395,745.53,DEBIT,HOUSEHOLD,REMITTANCE TO ANOTHER BANK,1993-11-10,37,4
396,150.74,DEBIT,INSURANCE PAYMENT,REMITTANCE TO ANOTHER BANK,1993-11-13,37,4
397,2226.74,CREDIT,NaN,CREDIT IN CASH,1993-11-14,37,4
398,66.20,CREDIT,INTEREST CREDITED,NaN,1993-11-30,37,4
399,14.26,DEBIT,PAYMENT ON STATEMENT,CASH WITHDRAWAL,1993-11-30,37,4

Account id: 42

,amount,type,k_symbol,operation,datetime,age,account_id
3360,6.93,DEBIT,PAYMENT ON STATEMENT,CASH WITHDRAWAL,1993-07-31,24,42
3361,87.87,CREDIT,INTEREST CREDITED,NaN,1993-07-31,24,42
3362,2863.27,DEBIT,HOUSEHOLD,REMITTANCE TO ANOTHER BANK,1993-08-07,24,42
3363,9052.77,CREDIT,NaN,CREDIT IN CASH,1993-08-10,24,42
3364,7329.74,CREDIT,NaN,CREDIT IN CASH,1993-08-23,24,42
3365,14.84,DEBIT,PAYMENT ON STATEMENT,CASH WITHDRAWAL,1993-08-31,24,42
3366,103.92,CREDIT,INTEREST CREDITED,NaN,1993-08-31,24,42
3367,2973.29,DEBIT,HOUSEHOLD,REMITTANCE TO ANOTHER BANK,1993-09-05,24,42
3368,4698.75,CREDIT,NaN,CREDIT IN CASH,1993-09-10,24,42
3369,5440.64,CREDIT,NaN,CREDIT IN CASH,1993-09-18,24,42
3370,16.80,DEBIT,PAYMENT ON STATEMENT,CASH WITHDRAWAL,1993-09-30,24,42
3371,138.96,CREDIT,INTEREST CREDITED,NaN,1993-09-30,24,42
3372,3238.65,DEBIT,HOUSEHOLD,REMITTANCE TO ANOTHER BANK,1993-10-06,24,42
3373,6382.08,CREDIT,NaN,CREDIT IN CASH,1993-10-11,24,42
3374,4300.36,CREDIT,NaN,CREDIT IN CASH,1993-10-17,24,42
3375,4932.40,CREDIT,NaN,CREDIT IN CASH,1993-10-23,24,42
3376,5985.85,CREDIT,NaN,CREDIT IN CASH,1993-10-23,24,42
3377,16.40,DEBIT,PAYMENT ON STATEMENT,CASH WITHDRAWAL,1993-10-31,24,42
3378,100.99,CREDIT,INTEREST CREDITED,NaN,1993-10-31,24,42
3379,3193.16,DEBIT,HOUSEHOLD,REMITTANCE TO ANOTHER BANK,1993-11-05,24,42
3380,4192.65,CREDIT,NaN,CREDIT IN CASH,1993-11-11,24,42
3381,2259.87,CREDIT,NaN,CREDIT IN CASH,1993-11-18,24,42
3382,5867.81,CREDIT,NaN,CREDIT IN CASH,1993-11-18,24,42
3383,4197.79,CREDIT,NaN,CREDIT IN CASH,1993-11-22,24,42
3384,12.31,DEBIT,PAYMENT ON STATEMENT,CASH WITHDRAWAL,1993-11-30,24,42
3385,96.99,CREDIT,INTEREST CREDITED,NaN,1993-11-30,24,42
3386,2002.29,DEBIT,NaN,CASH WITHDRAWAL,1993-12-02,24,42
3387,3684.95,DEBIT,HOUSEHOLD,REMITTANCE TO ANOTHER BANK,1993-12-06,24,42
3388,3850.33,CREDIT,NaN,CREDIT IN CASH,1993-12-11,24,42
3389,1822.12,CREDIT,NaN,CREDIT IN CASH,1993-12-16,24,42
3390,67.70,CREDIT,INTEREST CREDITED,NaN,1993-12-31,24,42
3391,179.53,CREDIT,INTEREST CREDITED,NaN,1993-12-31,24,42
3392,1824.86,DEBIT,HOUSEHOLD,REMITTANCE TO ANOTHER BANK,1994-01-05,24,42
3393,4498.78,CREDIT,NaN,CREDIT IN CASH,1994-01-08,24,42
3394,1903.34,CREDIT,NaN,CREDIT IN CASH,1994-01-14,24,42
3395,2017.95,CREDIT,NaN,CREDIT IN CASH,1994-01-18,24,42
3396,10.18,DEBIT,PAYMENT ON STATEMENT,CASH WITHDRAWAL,1994-01-31,24,42
3397,131.49,CREDIT,INTEREST CREDITED,NaN,1994-01-31,24,42
3398,3247.88,DEBIT,NaN,CASH WITHDRAWAL,1994-02-03,24,42
3399,4308.24,CREDIT,NaN,CREDIT IN CASH,1994-02-03,24,42
3400,1184.72,DEBIT,HOUSEHOLD,REMITTANCE TO ANOTHER BANK,1994-02-05,24,42
3401,2893.16,CREDIT,NaN,CREDIT IN CASH,1994-02-11,24,42
3402,722.23,DEBIT,NaN,CASH WITHDRAWAL,1994-02-15,24,42
3403,1844.15,DEBIT,NaN,CASH WITHDRAWAL,1994-02-18,24,42
3404,2068.53,DEBIT,NaN,CASH WITHDRAWAL,1994-02-21,24,42
3405,15.13,DEBIT,PAYMENT ON STATEMENT,CASH WITHDRAWAL,1994-02-28,24,42
3406,102.03,CREDIT,INTEREST CREDITED,NaN,1994-02-28,24,42
3407,3070.96,DEBIT,NaN,CASH WITHDRAWAL,1994-03-04,24,42
3408,1822.96,DEBIT,HOUSEHOLD,REMITTANCE TO ANOTHER BANK,1994-03-05,24,42
3409,1389.88,DEBIT,NaN,CASH WITHDRAWAL,1994-03-13,24,42
3410,2735.98,CREDIT,NaN,CREDIT IN CASH,1994-03-15,24,42
3411,12.56,DEBIT,PAYMENT ON STATEMENT,CASH WITHDRAWAL,1994-03-31,24,42
3412,148.17,CREDIT,INTEREST CREDITED,NaN,1994-03-31,24,42
3413,3486.88,DEBIT,NaN,CASH WITHDRAWAL,1994-04-04,24,42
3414,1948.32,DEBIT,HOUSEHOLD,REMITTANCE TO ANOTHER BANK,1994-04-06,24,42
3415,1733.33,CREDIT,NaN,CREDIT IN CASH,1994-04-10,24,42
3416,1842.69,CREDIT,NaN,CREDIT IN CASH,1994-04-15,24,42
3417,3611.69,CREDIT,NaN,CREDIT IN CASH,1994-04-18,24,42
3418,99.34,CREDIT,INTEREST CREDITED,NaN,1994-04-30,24,42
3419,85.06,CREDIT,INTEREST CREDITED,NaN,1994-04-30,24,42
3420,2376.15,DEBIT,HOUSEHOLD,REMITTANCE TO ANOTHER BANK,1994-05-05,24,42
3421,2772.44,DEBIT,NaN,CASH WITHDRAWAL,1994-05-06,24,42
3422,1119.04,DEBIT,NaN,CREDIT CARD WITHDRAWAL,1994-05-06,24,42
3423,1037.60,DEBIT,NaN,CASH WITHDRAWAL,1994-05-08,24,42
3424,1813.71,CREDIT,NaN,CREDIT IN CASH,1994-05-17,24,42
3425,1894.33,DEBIT,NaN,CASH WITHDRAWAL,1994-05-21,24,42
3426,2604.98,DEBIT,NaN,CASH WITHDRAWAL,1994-05-24,24,42
3427,6656.91,CREDIT,NaN,CREDIT IN CASH,1994-05-25,24,42
3428,2432.18,DEBIT,NaN,CASH WITHDRAWAL,1994-05-26,24,42
3429,6308.41,CREDIT,NaN,CREDIT IN CASH,1994-05-30,24,42
3430,11.85,DEBIT,PAYMENT ON STATEMENT,CASH WITHDRAWAL,1994-05-31,24,42
3431,135.67,CREDIT,INTEREST CREDITED,NaN,1994-05-31,24,42
3432,3095.83,DEBIT,HOUSEHOLD,REMITTANCE TO ANOTHER BANK,1994-06-05,24,42
3433,4779.87,CREDIT,NaN,CREDIT IN CASH,1994-06-13,24,42
3434,1713.92,CREDIT,NaN,CREDIT IN CASH,1994-06-14,24,42
3435,3014.63,CREDIT,NaN,CREDIT IN CASH,1994-06-19,24,42
3436,5595.25,CREDIT,NaN,CREDIT IN CASH,1994-06-21,24,42
3437,15.20,DEBIT,PAYMENT ON STATEMENT,CASH WITHDRAWAL,1994-06-30,24,42
3438,116.92,CREDIT,INTEREST CREDITED,NaN,1994-06-30,24,42
3439,2688.39,DEBIT,HOUSEHOLD,REMITTANCE TO ANOTHER BANK,1994-07-05,24,42

Account id: 39

,amount,type,k_symbol,operation,datetime,age,account_id
3120,1521.82,CREDIT,NaN,CREDIT IN CASH,1993-03-22,51,39
3121,11827.86,CREDIT,NaN,COLLECTION FROM ANOTHER BANK,1993-04-07,51,39
3122,17175.73,CREDIT,NaN,COLLECTION FROM ANOTHER BANK,1993-04-23,51,39
3123,12098.49,CREDIT,NaN,COLLECTION FROM ANOTHER BANK,1993-04-30,51,39
3124,7843.88,CREDIT,NaN,COLLECTION FROM ANOTHER BANK,1993-05-14,51,39
3125,208.86,CREDIT,INTEREST CREDITED,NaN,1993-05-31,51,39
3126,2515.98,DEBIT,HOUSEHOLD,REMITTANCE TO ANOTHER BANK,1993-06-05,51,39
3127,14754.27,CREDIT,NaN,COLLECTION FROM ANOTHER BANK,1993-06-12,51,39
3128,1084.67,DEBIT,,REMITTANCE TO ANOTHER BANK,1993-06-14,51,39
3129,2124.38,DEBIT,NaN,CASH WITHDRAWAL,1993-06-20,51,39
3130,12.91,DEBIT,PAYMENT ON STATEMENT,CASH WITHDRAWAL,1993-06-30,51,39
3131,113.84,CREDIT,INTEREST CREDITED,NaN,1993-06-30,51,39
3132,2441.90,DEBIT,NaN,CASH WITHDRAWAL,1993-07-02,51,39
3133,807.14,DEBIT,HOUSEHOLD,REMITTANCE TO ANOTHER BANK,1993-07-05,51,39
3134,8394.88,CREDIT,NaN,COLLECTION FROM ANOTHER BANK,1993-07-11,51,39
3135,601.47,DEBIT,,REMITTANCE TO ANOTHER BANK,1993-07-14,51,39
3136,1696.16,DEBIT,NaN,CASH WITHDRAWAL,1993-07-21,51,39
3137,4166.37,DEBIT,NaN,CASH WITHDRAWAL,1993-07-22,51,39
3138,12.32,DEBIT,PAYMENT ON STATEMENT,CASH WITHDRAWAL,1993-07-31,51,39
3139,182.73,CREDIT,INTEREST CREDITED,NaN,1993-07-31,51,39
3140,2445.45,DEBIT,HOUSEHOLD,REMITTANCE TO ANOTHER BANK,1993-08-06,51,39
3141,2257.28,DEBIT,NaN,CASH WITHDRAWAL,1993-08-14,51,39
3142,536.35,DEBIT,,REMITTANCE TO ANOTHER BANK,1993-08-14,51,39
3143,2848.62,DEBIT,NaN,CASH WITHDRAWAL,1993-08-17,51,39
3144,17.46,DEBIT,PAYMENT ON STATEMENT,CASH WITHDRAWAL,1993-08-31,51,39
3145,122.65,CREDIT,INTEREST CREDITED,NaN,1993-08-31,51,39
3146,2752.03,DEBIT,HOUSEHOLD,REMITTANCE TO ANOTHER BANK,1993-09-05,51,39
3147,12548.04,CREDIT,NaN,COLLECTION FROM ANOTHER BANK,1993-09-14,51,39
3148,505.69,DEBIT,,REMITTANCE TO ANOTHER BANK,1993-09-14,51,39
3149,6574.45,CREDIT,NaN,CREDIT IN CASH,1993-09-14,51,39
3150,10.81,DEBIT,PAYMENT ON STATEMENT,CASH WITHDRAWAL,1993-09-30,51,39
3151,107.11,CREDIT,INTEREST CREDITED,NaN,1993-09-30,51,39
3152,1667.79,DEBIT,NaN,CASH WITHDRAWAL,1993-10-05,51,39
3153,2000.08,DEBIT,HOUSEHOLD,REMITTANCE TO ANOTHER BANK,1993-10-06,51,39
3154,10288.61,CREDIT,NaN,COLLECTION FROM ANOTHER BANK,1993-10-14,51,39
3155,440.76,DEBIT,,REMITTANCE TO ANOTHER BANK,1993-10-14,51,39
3156,16.04,DEBIT,PAYMENT ON STATEMENT,CASH WITHDRAWAL,1993-10-31,51,39
3157,125.39,CREDIT,INTEREST CREDITED,NaN,1993-10-31,51,39
3158,2213.09,DEBIT,HOUSEHOLD,REMITTANCE TO ANOTHER BANK,1993-11-05,51,39
3159,1699.77,DEBIT,HOUSEHOLD,REMITTANCE TO ANOTHER BANK,1993-11-09,51,39
3160,5846.15,CREDIT,NaN,COLLECTION FROM ANOTHER BANK,1993-11-13,51,39
3161,452.95,DEBIT,,REMITTANCE TO ANOTHER BANK,1993-11-14,51,39
3162,104.74,CREDIT,INTEREST CREDITED,NaN,1993-11-30,51,39
3163,138.57,CREDIT,INTEREST CREDITED,NaN,1993-11-30,51,39
3164,2301.92,DEBIT,HOUSEHOLD,REMITTANCE TO ANOTHER BANK,1993-12-05,51,39
3165,6623.59,CREDIT,NaN,COLLECTION FROM ANOTHER BANK,1993-12-11,51,39
3166,569.46,DEBIT,,REMITTANCE TO ANOTHER BANK,1993-12-14,51,39
3167,7048.93,CREDIT,NaN,COLLECTION FROM ANOTHER BANK,1993-12-14,51,39
3168,2188.48,DEBIT,NaN,CASH WITHDRAWAL,1993-12-21,51,39
3169,13.42,DEBIT,PAYMENT ON STATEMENT,CASH WITHDRAWAL,1993-12-31,51,39
3170,104.10,CREDIT,INTEREST CREDITED,NaN,1993-12-31,51,39
3171,1498.19,DEBIT,HOUSEHOLD,REMITTANCE TO ANOTHER BANK,1994-01-05,51,39
3172,8636.85,CREDIT,NaN,COLLECTION FROM ANOTHER BANK,1994-01-12,51,39
3173,508.26,DEBIT,,REMITTANCE TO ANOTHER BANK,1994-01-14,51,39
3174,2810.20,DEBIT,NaN,CASH WITHDRAWAL,1994-01-21,51,39
3175,13.23,DEBIT,PAYMENT ON STATEMENT,CASH WITHDRAWAL,1994-01-31,51,39
3176,103.88,CREDIT,INTEREST CREDITED,NaN,1994-01-31,51,39
3177,1612.26,DEBIT,HOUSEHOLD,REMITTANCE TO ANOTHER BANK,1994-02-05,51,39
3178,6897.76,CREDIT,NaN,COLLECTION FROM ANOTHER BANK,1994-02-10,51,39
3179,615.66,DEBIT,,REMITTANCE TO ANOTHER BANK,1994-02-12,51,39
3180,7128.12,CREDIT,NaN,COLLECTION FROM ANOTHER BANK,1994-02-14,51,39
3181,646.71,DEBIT,,REMITTANCE TO ANOTHER BANK,1994-02-14,51,39
3182,3477.51,DEBIT,NaN,CASH WITHDRAWAL,1994-02-16,51,39
3183,3063.13,DEBIT,NaN,CASH WITHDRAWAL,1994-02-16,51,39
3184,10.64,DEBIT,PAYMENT ON STATEMENT,CASH WITHDRAWAL,1994-02-28,51,39
3185,78.68,CREDIT,INTEREST CREDITED,NaN,1994-02-28,51,39
3186,2152.16,DEBIT,HOUSEHOLD,REMITTANCE TO ANOTHER BANK,1994-03-06,51,39
3187,2401.27,DEBIT,NaN,CASH WITHDRAWAL,1994-03-08,51,39
3188,7825.17,CREDIT,NaN,COLLECTION FROM ANOTHER BANK,1994-03-12,51,39
3189,602.49,DEBIT,,REMITTANCE TO ANOTHER BANK,1994-03-13,51,39
3190,2550.51,DEBIT,NaN,CASH WITHDRAWAL,1994-03-15,51,39
3191,2931.00,DEBIT,NaN,CASH WITHDRAWAL,1994-03-23,51,39
3192,12.15,DEBIT,PAYMENT ON STATEMENT,CASH WITHDRAWAL,1994-03-31,51,39
3193,96.66,CREDIT,INTEREST CREDITED,NaN,1994-03-31,51,39
3194,2235.37,DEBIT,HOUSEHOLD,REMITTANCE TO ANOTHER BANK,1994-04-05,51,39
3195,5752.50,CREDIT,NaN,COLLECTION FROM ANOTHER BANK,1994-04-10,51,39
3196,385.81,DEBIT,,REMITTANCE TO ANOTHER BANK,1994-04-12,51,39
3197,629.54,DEBIT,,REMITTANCE TO ANOTHER BANK,1994-04-13,51,39
3198,8997.83,CREDIT,NaN,COLLECTION FROM ANOTHER BANK,1994-04-14,51,39
3199,507.09,DEBIT,,REMITTANCE TO ANOTHER BANK,1994-04-14,51,39

Account id: 44

,amount,type,k_symbol,operation,datetime,age,account_id
3520,58.78,CREDIT,INTEREST CREDITED,NaN,1993-09-30,20,44
3521,9.44,DEBIT,PAYMENT ON STATEMENT,CASH WITHDRAWAL,1993-09-30,20,44
3522,3319.10,DEBIT,NaN,CASH WITHDRAWAL,1993-10-05,20,44
3523,125.72,CREDIT,INTEREST CREDITED,NaN,1993-11-30,20,44
3524,15.11,DEBIT,PAYMENT ON STATEMENT,CASH WITHDRAWAL,1993-11-30,20,44
3525,141.32,CREDIT,INTEREST CREDITED,NaN,1993-11-30,20,44
3526,3722.17,DEBIT,NaN,CASH WITHDRAWAL,1993-12-01,20,44
3527,989.79,DEBIT,,REMITTANCE TO ANOTHER BANK,1993-12-06,20,44
3528,635.96,DEBIT,,REMITTANCE TO ANOTHER BANK,1993-12-08,20,44
3529,5513.11,CREDIT,NaN,CREDIT IN CASH,1993-12-09,20,44
3530,2569.49,DEBIT,HOUSEHOLD,REMITTANCE TO ANOTHER BANK,1993-12-13,20,44
3531,2390.17,DEBIT,NaN,CASH WITHDRAWAL,1993-12-23,20,44
3532,140.34,CREDIT,INTEREST CREDITED,NaN,1993-12-31,20,44
3533,12.32,DEBIT,PAYMENT ON STATEMENT,CASH WITHDRAWAL,1993-12-31,20,44
3534,853.56,DEBIT,,REMITTANCE TO ANOTHER BANK,1993-12-31,20,44
3535,419.72,DEBIT,,REMITTANCE TO ANOTHER BANK,1994-01-05,20,44
3536,519.07,DEBIT,,REMITTANCE TO ANOTHER BANK,1994-01-08,20,44
3537,2070.15,DEBIT,NaN,CASH WITHDRAWAL,1994-01-10,20,44
3538,2706.94,DEBIT,HOUSEHOLD,REMITTANCE TO ANOTHER BANK,1994-01-13,20,44
3539,82.29,CREDIT,INTEREST CREDITED,NaN,1994-01-31,20,44
3540,13.33,DEBIT,PAYMENT ON STATEMENT,CASH WITHDRAWAL,1994-01-31,20,44
3541,4023.57,CREDIT,NaN,CREDIT IN CASH,1994-02-01,20,44
3542,420.78,DEBIT,,REMITTANCE TO ANOTHER BANK,1994-02-05,20,44
3543,390.33,DEBIT,,REMITTANCE TO ANOTHER BANK,1994-02-08,20,44
3544,5060.56,CREDIT,NaN,CREDIT IN CASH,1994-02-09,20,44
3545,1906.22,DEBIT,HOUSEHOLD,REMITTANCE TO ANOTHER BANK,1994-02-12,20,44
3546,90.58,CREDIT,INTEREST CREDITED,NaN,1994-02-28,20,44
3547,15.38,DEBIT,PAYMENT ON STATEMENT,CASH WITHDRAWAL,1994-02-28,20,44
3548,5877.33,CREDIT,NaN,CREDIT IN CASH,1994-03-03,20,44
3549,3453.88,CREDIT,NaN,CREDIT IN CASH,1994-03-04,20,44
3550,311.40,DEBIT,,REMITTANCE TO ANOTHER BANK,1994-03-06,20,44
3551,3274.75,CREDIT,NaN,CREDIT IN CASH,1994-03-08,20,44
3552,2421.15,DEBIT,HOUSEHOLD,REMITTANCE TO ANOTHER BANK,1994-03-12,20,44
3553,2765.15,DEBIT,NaN,CASH WITHDRAWAL,1994-03-22,20,44
3554,148.75,CREDIT,INTEREST CREDITED,NaN,1994-03-31,20,44
3555,11.43,DEBIT,PAYMENT ON STATEMENT,CASH WITHDRAWAL,1994-03-31,20,44
3556,183.83,DEBIT,,REMITTANCE TO ANOTHER BANK,1994-04-01,20,44
3557,3579.51,CREDIT,NaN,CREDIT IN CASH,1994-04-05,20,44
3558,382.41,DEBIT,,REMITTANCE TO ANOTHER BANK,1994-04-06,20,44
3559,6531.69,CREDIT,NaN,CREDIT IN CASH,1994-04-09,20,44
3560,1933.15,DEBIT,HOUSEHOLD,REMITTANCE TO ANOTHER BANK,1994-04-13,20,44
3561,95.33,CREDIT,INTEREST CREDITED,NaN,1994-04-30,20,44
3562,10.45,DEBIT,PAYMENT ON STATEMENT,CASH WITHDRAWAL,1994-04-30,20,44
3563,1806.41,DEBIT,NaN,CASH WITHDRAWAL,1994-05-01,20,44
3564,454.39,DEBIT,NaN,CREDIT CARD WITHDRAWAL,1994-05-05,20,44
3565,358.70,DEBIT,,REMITTANCE TO ANOTHER BANK,1994-05-05,20,44
3566,3112.48,CREDIT,NaN,CREDIT IN CASH,1994-05-05,20,44
3567,592.66,DEBIT,,REMITTANCE TO ANOTHER BANK,1994-05-06,20,44
3568,2707.72,CREDIT,NaN,CREDIT IN CASH,1994-05-07,20,44
3569,2002.17,DEBIT,HOUSEHOLD,REMITTANCE TO ANOTHER BANK,1994-05-12,20,44
3570,97.46,CREDIT,INTEREST CREDITED,NaN,1994-05-31,20,44
3571,11.54,DEBIT,PAYMENT ON STATEMENT,CASH WITHDRAWAL,1994-05-31,20,44
3572,939.60,DEBIT,NaN,CASH WITHDRAWAL,1994-06-02,20,44
3573,355.43,DEBIT,,REMITTANCE TO ANOTHER BANK,1994-06-05,20,44
3574,264.76,DEBIT,,REMITTANCE TO ANOTHER BANK,1994-06-06,20,44
3575,348.68,DEBIT,,REMITTANCE TO ANOTHER BANK,1994-06-08,20,44
3576,1653.40,DEBIT,HOUSEHOLD,REMITTANCE TO ANOTHER BANK,1994-06-11,20,44
3577,3298.65,DEBIT,NaN,CASH WITHDRAWAL,1994-06-19,20,44
3578,108.82,CREDIT,INTEREST CREDITED,NaN,1994-06-30,20,44
3579,73.14,CREDIT,INTEREST CREDITED,NaN,1994-06-30,20,44
3580,7.05,DEBIT,PAYMENT ON STATEMENT,CASH WITHDRAWAL,1994-06-30,20,44
3581,965.51,DEBIT,NaN,CASH WITHDRAWAL,1994-07-02,20,44
3582,1970.62,CREDIT,NaN,CREDIT IN CASH,1994-07-05,20,44
3583,352.41,DEBIT,,REMITTANCE TO ANOTHER BANK,1994-07-06,20,44
3584,3894.34,CREDIT,NaN,CREDIT IN CASH,1994-07-08,20,44
3585,2049.06,DEBIT,HOUSEHOLD,REMITTANCE TO ANOTHER BANK,1994-07-14,20,44
3586,2335.29,DEBIT,NaN,CASH WITHDRAWAL,1994-07-23,20,44
3587,112.23,CREDIT,INTEREST CREDITED,NaN,1994-07-31,20,44
3588,11.56,DEBIT,PAYMENT ON STATEMENT,CASH WITHDRAWAL,1994-07-31,20,44
3589,2016.49,CREDIT,NaN,CREDIT IN CASH,1994-08-01,20,44
3590,3456.55,CREDIT,NaN,CREDIT IN CASH,1994-08-02,20,44
3591,365.17,DEBIT,,REMITTANCE TO ANOTHER BANK,1994-08-05,20,44
3592,415.01,DEBIT,,REMITTANCE TO ANOTHER BANK,1994-08-06,20,44
3593,2432.60,CREDIT,NaN,CREDIT IN CASH,1994-08-07,20,44
3594,2519.02,DEBIT,HOUSEHOLD,REMITTANCE TO ANOTHER BANK,1994-08-12,20,44
3595,111.73,CREDIT,INTEREST CREDITED,NaN,1994-08-31,20,44
3596,13.58,DEBIT,PAYMENT ON STATEMENT,CASH WITHDRAWAL,1994-08-31,20,44
3597,306.10,DEBIT,,REMITTANCE TO ANOTHER BANK,1994-09-01,20,44
3598,3084.60,CREDIT,NaN,CREDIT IN CASH,1994-09-03,20,44
3599,307.72,DEBIT,,REMITTANCE TO ANOTHER BANK,1994-09-05,20,44